<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        NhapVien
                        <span *ngIf="NhapVienService.List">({{NhapVienService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/NhapVien" title="NhapVien">
                                NhapVien
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="NhapVienService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="NhapVienSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="NhapVienSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #NhapVienSort="matSort"
                           [dataSource]="NhapVienService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="NhapVienPaginator">
                                    {{
NhapVienPaginator.pageSize *
                                    NhapVienPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="NhapVienSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="NhapVienDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NhapVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhapVien_Id</th>
<td mat-cell *matCellDef="let element">{{element.NhapVien_Id}}</td>
</ng-container>
<ng-container matColumnDef="TiepNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TiepNhan_Id</th>
<td mat-cell *matCellDef="let element">{{element.TiepNhan_Id}}</td>
</ng-container>
<ng-container matColumnDef="NgayNhapVien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayNhapVien</th>
<td mat-cell *matCellDef="let element">{{element.NgayNhapVien}}</td>
</ng-container>
<ng-container matColumnDef="ThoiGianNhapVien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianNhapVien</th>
<td mat-cell *matCellDef="let element">{{element.ThoiGianNhapVien}}</td>
</ng-container>
<ng-container matColumnDef="NoiNhapVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiNhapVien_Id</th>
<td mat-cell *matCellDef="let element">{{element.NoiNhapVien_Id}}</td>
</ng-container>
<ng-container matColumnDef="BacSiChiDinh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BacSiChiDinh_Id</th>
<td mat-cell *matCellDef="let element">{{element.BacSiChiDinh_Id}}</td>
</ng-container>
<ng-container matColumnDef="LyDoNhapVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoNhapVien_Id</th>
<td mat-cell *matCellDef="let element">{{element.LyDoNhapVien_Id}}</td>
</ng-container>
<ng-container matColumnDef="KhoaDieuTri_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhoaDieuTri_Id</th>
<td mat-cell *matCellDef="let element">{{element.KhoaDieuTri_Id}}</td>
</ng-container>
<ng-container matColumnDef="BenhAnNgoaiTru_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhAnNgoaiTru_Id</th>
<td mat-cell *matCellDef="let element">{{element.BenhAnNgoaiTru_Id}}</td>
</ng-container>
<ng-container matColumnDef="TrangThai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TrangThai</th>
<td mat-cell *matCellDef="let element">{{element.TrangThai}}</td>
</ng-container>
<ng-container matColumnDef="NgayTao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
<td mat-cell *matCellDef="let element">{{element.NgayTao}}</td>
</ng-container>
<ng-container matColumnDef="NguoiTao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
<td mat-cell *matCellDef="let element">{{element.NguoiTao_Id}}</td>
</ng-container>
<ng-container matColumnDef="NgayCapNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
<td mat-cell *matCellDef="let element">{{element.NgayCapNhat}}</td>
</ng-container>
<ng-container matColumnDef="NguoiCapNhat_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_Id</th>
<td mat-cell *matCellDef="let element">{{element.NguoiCapNhat_Id}}</td>
</ng-container>
<ng-container matColumnDef="KhamBenh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenh_Id</th>
<td mat-cell *matCellDef="let element">{{element.KhamBenh_Id}}</td>
</ng-container>
<ng-container matColumnDef="LoaiBenhAn_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LoaiBenhAn_Id</th>
<td mat-cell *matCellDef="let element">{{element.LoaiBenhAn_Id}}</td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="NhapVienService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: NhapVienService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #NhapVienPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #NhapVienSort="matSort"
                           [dataSource]="NhapVienService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col-lg-12 col-sm-12 col-12">
<label>NhapVien_Id</label>
<br />
<label class="form-label">{{element.NhapVien_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TiepNhan_Id</label>
<br />
<label class="form-label">{{element.TiepNhan_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayNhapVien</label>
<br />
<label class="form-label">{{element.NgayNhapVien}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThoiGianNhapVien</label>
<br />
<label class="form-label">{{element.ThoiGianNhapVien}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NoiNhapVien_Id</label>
<br />
<label class="form-label">{{element.NoiNhapVien_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>BacSiChiDinh_Id</label>
<br />
<label class="form-label">{{element.BacSiChiDinh_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LyDoNhapVien_Id</label>
<br />
<label class="form-label">{{element.LyDoNhapVien_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KhoaDieuTri_Id</label>
<br />
<label class="form-label">{{element.KhoaDieuTri_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>BenhAnNgoaiTru_Id</label>
<br />
<label class="form-label">{{element.BenhAnNgoaiTru_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TrangThai</label>
<br />
<label class="form-label">{{element.TrangThai}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayTao</label>
<br />
<label class="form-label">{{element.NgayTao}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiTao_Id</label>
<br />
<label class="form-label">{{element.NguoiTao_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayCapNhat</label>
<br />
<label class="form-label">{{element.NgayCapNhat}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiCapNhat_Id</label>
<br />
<label class="form-label">{{element.NguoiCapNhat_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KhamBenh_Id</label>
<br />
<label class="form-label">{{element.KhamBenh_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LoaiBenhAn_Id</label>
<br />
<label class="form-label">{{element.LoaiBenhAn_Id}}</label>
</div>

                                </div>
                                <div class="row gx-4">
                                    <div class="col s6 m6 l6">
                                        <a (click)="NhapVienSave(element)" style="color:#2196f3;">
                                            <i class="material-icons">save</i>
                                        </a>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a (click)="NhapVienDelete(element)"
                                           style="color: red;"><i class="material-icons">delete_forever</i></a>
                                    </div>
                                </div>
                                <br />
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="NhapVienService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: NhapVienService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #NhapVienPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="NhapVienService.IsShowLoading"></app-loading>

