<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML2_CV130:
                        <b>{{XML2_CV130Service.FormData.XML2_CV130_Id}} [{{XML2_CV130Service.FormData.XML2_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML2_CV130" title="XML2_CV130">
                                XML2_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML2_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML2_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML2_CV130_Id</label>
<input placeholder="XML2_CV130_Id" [(ngModel)]="XML2_CV130Service.FormData.XML2_CV130_Id"  name="XML2_CV130Service.FormData.XML2_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML2_CV130Service.FormData.BenhAn_Id"  name="XML2_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML2_CV130Service.FormData.TiepNhan_Id"  name="XML2_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML2_CV130Service.FormData.BenhNhan_Id"  name="XML2_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML2_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML2_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML2_CV130Service.FormData.MA_LK"  name="XML2_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>STT</label>
<input placeholder="STT" [(ngModel)]="XML2_CV130Service.FormData.STT"  name="XML2_CV130Service.FormData.STT" type="text" class="form-control">
</div>
<div>
<label>MA_THUOC</label>
<input placeholder="MA_THUOC" [(ngModel)]="XML2_CV130Service.FormData.MA_THUOC"  name="XML2_CV130Service.FormData.MA_THUOC" type="text" class="form-control">
</div>
<div>
<label>MA_PP_CHEBIEN</label>
<input placeholder="MA_PP_CHEBIEN" [(ngModel)]="XML2_CV130Service.FormData.MA_PP_CHEBIEN"  name="XML2_CV130Service.FormData.MA_PP_CHEBIEN" type="text" class="form-control">
</div>
<div>
<label>MA_CSKCB_THUOC</label>
<input placeholder="MA_CSKCB_THUOC" [(ngModel)]="XML2_CV130Service.FormData.MA_CSKCB_THUOC"  name="XML2_CV130Service.FormData.MA_CSKCB_THUOC" type="text" class="form-control">
</div>
<div>
<label>MA_NHOM</label>
<input placeholder="MA_NHOM" [(ngModel)]="XML2_CV130Service.FormData.MA_NHOM"  name="XML2_CV130Service.FormData.MA_NHOM" type="text" class="form-control">
</div>
<div>
<label>TEN_THUOC</label>
<input placeholder="TEN_THUOC" [(ngModel)]="XML2_CV130Service.FormData.TEN_THUOC"  name="XML2_CV130Service.FormData.TEN_THUOC" type="text" class="form-control">
</div>
<div>
<label>DON_VI_TINH</label>
<input placeholder="DON_VI_TINH" [(ngModel)]="XML2_CV130Service.FormData.DON_VI_TINH"  name="XML2_CV130Service.FormData.DON_VI_TINH" type="text" class="form-control">
</div>
<div>
<label>HAM_LUONG</label>
<input placeholder="HAM_LUONG" [(ngModel)]="XML2_CV130Service.FormData.HAM_LUONG"  name="XML2_CV130Service.FormData.HAM_LUONG" type="text" class="form-control">
</div>
<div>
<label>DUONG_DUNG</label>
<input placeholder="DUONG_DUNG" [(ngModel)]="XML2_CV130Service.FormData.DUONG_DUNG"  name="XML2_CV130Service.FormData.DUONG_DUNG" type="text" class="form-control">
</div>
<div>
<label>DANG_BAO_CHE</label>
<input placeholder="DANG_BAO_CHE" [(ngModel)]="XML2_CV130Service.FormData.DANG_BAO_CHE"  name="XML2_CV130Service.FormData.DANG_BAO_CHE" type="text" class="form-control">
</div>
<div>
<label>LIEU_DUNG</label>
<input placeholder="LIEU_DUNG" [(ngModel)]="XML2_CV130Service.FormData.LIEU_DUNG"  name="XML2_CV130Service.FormData.LIEU_DUNG" type="text" class="form-control">
</div>
<div>
<label>CACH_DUNG</label>
<input placeholder="CACH_DUNG" [(ngModel)]="XML2_CV130Service.FormData.CACH_DUNG"  name="XML2_CV130Service.FormData.CACH_DUNG" type="text" class="form-control">
</div>
<div>
<label>SO_DANG_KY</label>
<input placeholder="SO_DANG_KY" [(ngModel)]="XML2_CV130Service.FormData.SO_DANG_KY"  name="XML2_CV130Service.FormData.SO_DANG_KY" type="text" class="form-control">
</div>
<div>
<label>TT_THAU</label>
<input placeholder="TT_THAU" [(ngModel)]="XML2_CV130Service.FormData.TT_THAU"  name="XML2_CV130Service.FormData.TT_THAU" type="text" class="form-control">
</div>
<div>
<label>PHAM_VI</label>
<input placeholder="PHAM_VI" [(ngModel)]="XML2_CV130Service.FormData.PHAM_VI"  name="XML2_CV130Service.FormData.PHAM_VI" type="text" class="form-control">
</div>
<div>
<label>TYLE_TT_BH</label>
<input placeholder="TYLE_TT_BH" [(ngModel)]="XML2_CV130Service.FormData.TYLE_TT_BH"  name="XML2_CV130Service.FormData.TYLE_TT_BH" type="text" class="form-control">
</div>
<div>
<label>SO_LUONG</label>
<input placeholder="SO_LUONG" [(ngModel)]="XML2_CV130Service.FormData.SO_LUONG"  name="XML2_CV130Service.FormData.SO_LUONG" type="text" class="form-control">
</div>
<div>
<label>DON_GIA</label>
<input placeholder="DON_GIA" [(ngModel)]="XML2_CV130Service.FormData.DON_GIA"  name="XML2_CV130Service.FormData.DON_GIA" type="text" class="form-control">
</div>
<div>
<label>THANH_TIEN_BV</label>
<input placeholder="THANH_TIEN_BV" [(ngModel)]="XML2_CV130Service.FormData.THANH_TIEN_BV"  name="XML2_CV130Service.FormData.THANH_TIEN_BV" type="text" class="form-control">
</div>
<div>
<label>THANH_TIEN_BH</label>
<input placeholder="THANH_TIEN_BH" [(ngModel)]="XML2_CV130Service.FormData.THANH_TIEN_BH"  name="XML2_CV130Service.FormData.THANH_TIEN_BH" type="text" class="form-control">
</div>
<div>
<label>T_NGUONKHAC_NSNN</label>
<input placeholder="T_NGUONKHAC_NSNN" [(ngModel)]="XML2_CV130Service.FormData.T_NGUONKHAC_NSNN"  name="XML2_CV130Service.FormData.T_NGUONKHAC_NSNN" type="text" class="form-control">
</div>
<div>
<label>T_NGUONKHAC_VTNN</label>
<input placeholder="T_NGUONKHAC_VTNN" [(ngModel)]="XML2_CV130Service.FormData.T_NGUONKHAC_VTNN"  name="XML2_CV130Service.FormData.T_NGUONKHAC_VTNN" type="text" class="form-control">
</div>
<div>
<label>T_NGUONKHAC_VTTN</label>
<input placeholder="T_NGUONKHAC_VTTN" [(ngModel)]="XML2_CV130Service.FormData.T_NGUONKHAC_VTTN"  name="XML2_CV130Service.FormData.T_NGUONKHAC_VTTN" type="text" class="form-control">
</div>
<div>
<label>T_NGUONKHAC_CL</label>
<input placeholder="T_NGUONKHAC_CL" [(ngModel)]="XML2_CV130Service.FormData.T_NGUONKHAC_CL"  name="XML2_CV130Service.FormData.T_NGUONKHAC_CL" type="text" class="form-control">
</div>
<div>
<label>T_NGUONKHAC</label>
<input placeholder="T_NGUONKHAC" [(ngModel)]="XML2_CV130Service.FormData.T_NGUONKHAC"  name="XML2_CV130Service.FormData.T_NGUONKHAC" type="text" class="form-control">
</div>
<div>
<label>MUC_HUONG</label>
<input placeholder="MUC_HUONG" [(ngModel)]="XML2_CV130Service.FormData.MUC_HUONG"  name="XML2_CV130Service.FormData.MUC_HUONG" type="text" class="form-control">
</div>
<div>
<label>T_BHTT</label>
<input placeholder="T_BHTT" [(ngModel)]="XML2_CV130Service.FormData.T_BHTT"  name="XML2_CV130Service.FormData.T_BHTT" type="text" class="form-control">
</div>
<div>
<label>T_BNCCT</label>
<input placeholder="T_BNCCT" [(ngModel)]="XML2_CV130Service.FormData.T_BNCCT"  name="XML2_CV130Service.FormData.T_BNCCT" type="text" class="form-control">
</div>
<div>
<label>T_BNTT</label>
<input placeholder="T_BNTT" [(ngModel)]="XML2_CV130Service.FormData.T_BNTT"  name="XML2_CV130Service.FormData.T_BNTT" type="text" class="form-control">
</div>
<div>
<label>MA_KHOA</label>
<input placeholder="MA_KHOA" [(ngModel)]="XML2_CV130Service.FormData.MA_KHOA"  name="XML2_CV130Service.FormData.MA_KHOA" type="text" class="form-control">
</div>
<div>
<label>MA_BAC_SI</label>
<input placeholder="MA_BAC_SI" [(ngModel)]="XML2_CV130Service.FormData.MA_BAC_SI"  name="XML2_CV130Service.FormData.MA_BAC_SI" type="text" class="form-control">
</div>
<div>
<label>MA_DICH_VU</label>
<input placeholder="MA_DICH_VU" [(ngModel)]="XML2_CV130Service.FormData.MA_DICH_VU"  name="XML2_CV130Service.FormData.MA_DICH_VU" type="text" class="form-control">
</div>
<div>
<label>NGAY_YL</label>
<input placeholder="NGAY_YL" [(ngModel)]="XML2_CV130Service.FormData.NGAY_YL"  name="XML2_CV130Service.FormData.NGAY_YL" type="text" class="form-control">
</div>
<div>
<label>NGAY_TH_YL</label>
<input placeholder="NGAY_TH_YL" [(ngModel)]="XML2_CV130Service.FormData.NGAY_TH_YL"  name="XML2_CV130Service.FormData.NGAY_TH_YL" type="text" class="form-control">
</div>
<div>
<label>MA_PTTT</label>
<input placeholder="MA_PTTT" [(ngModel)]="XML2_CV130Service.FormData.MA_PTTT"  name="XML2_CV130Service.FormData.MA_PTTT" type="text" class="form-control">
</div>
<div>
<label>NGUON_CTRA</label>
<input placeholder="NGUON_CTRA" [(ngModel)]="XML2_CV130Service.FormData.NGUON_CTRA"  name="XML2_CV130Service.FormData.NGUON_CTRA" type="text" class="form-control">
</div>
<div>
<label>VET_THUONG_TP</label>
<input placeholder="VET_THUONG_TP" [(ngModel)]="XML2_CV130Service.FormData.VET_THUONG_TP"  name="XML2_CV130Service.FormData.VET_THUONG_TP" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML2_CV130Service.FormData.DU_PHONG"  name="XML2_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML2_CV130Service.IsShowLoading"></app-loading>

