<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        NoiTru_TraThuoc:
                        <b>{{NoiTru_TraThuocService.FormData.NoiTru_TraThuoc_Id}} [{{NoiTru_TraThuocService.FormData.NoiTru_TraThuoc_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/NoiTru_TraThuoc" title="NoiTru_TraThuoc">
                                NoiTru_TraThuoc
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="NoiTru_TraThuocAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="NoiTru_TraThuocSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>NoiTru_TraThuoc_Id</label>
<input placeholder="NoiTru_TraThuoc_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.NoiTru_TraThuoc_Id"  name="NoiTru_TraThuocService.FormData.NoiTru_TraThuoc_Id" type="text" class="form-control">
</div>
<div>
<label>SoPhieu</label>
<input placeholder="SoPhieu" [(ngModel)]="NoiTru_TraThuocService.FormData.SoPhieu"  name="NoiTru_TraThuocService.FormData.SoPhieu" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.BenhAn_Id"  name="NoiTru_TraThuocService.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>LuuTru_Id</label>
<input placeholder="LuuTru_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.LuuTru_Id"  name="NoiTru_TraThuocService.FormData.LuuTru_Id" type="text" class="form-control">
</div>
<div>
<label>NgayTra</label>
<input placeholder="NgayTra" [(ngModel)]="NoiTru_TraThuocService.FormData.NgayTra"  name="NoiTru_TraThuocService.FormData.NgayTra" type="text" class="form-control">
</div>
<div>
<label>NguoiNhan_Id</label>
<input placeholder="NguoiNhan_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.NguoiNhan_Id"  name="NoiTru_TraThuocService.FormData.NguoiNhan_Id" type="text" class="form-control">
</div>
<div>
<label>GhiChu</label>
<input placeholder="GhiChu" [(ngModel)]="NoiTru_TraThuocService.FormData.GhiChu"  name="NoiTru_TraThuocService.FormData.GhiChu" type="text" class="form-control">
</div>
<div>
<label>TrangThai</label>
<input placeholder="TrangThai" [(ngModel)]="NoiTru_TraThuocService.FormData.TrangThai"  name="NoiTru_TraThuocService.FormData.TrangThai" type="text" class="form-control">
</div>
<div>
<label>NgayTao</label>
<input placeholder="NgayTao" [(ngModel)]="NoiTru_TraThuocService.FormData.NgayTao"  name="NoiTru_TraThuocService.FormData.NgayTao" type="text" class="form-control">
</div>
<div>
<label>NguoiTao_Id</label>
<input placeholder="NguoiTao_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.NguoiTao_Id"  name="NoiTru_TraThuocService.FormData.NguoiTao_Id" type="text" class="form-control">
</div>
<div>
<label>NgayCapNhat</label>
<input placeholder="NgayCapNhat" [(ngModel)]="NoiTru_TraThuocService.FormData.NgayCapNhat"  name="NoiTru_TraThuocService.FormData.NgayCapNhat" type="text" class="form-control">
</div>
<div>
<label>NguoiCapNhat_Id</label>
<input placeholder="NguoiCapNhat_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.NguoiCapNhat_Id"  name="NoiTru_TraThuocService.FormData.NguoiCapNhat_Id" type="text" class="form-control">
</div>
<div>
<label>DienGiaiNghiepVuPhatSinh</label>
<input placeholder="DienGiaiNghiepVuPhatSinh" [(ngModel)]="NoiTru_TraThuocService.FormData.DienGiaiNghiepVuPhatSinh"  name="NoiTru_TraThuocService.FormData.DienGiaiNghiepVuPhatSinh" type="text" class="form-control">
</div>
<div>
<label>ThoiGianTra</label>
<input placeholder="ThoiGianTra" [(ngModel)]="NoiTru_TraThuocService.FormData.ThoiGianTra"  name="NoiTru_TraThuocService.FormData.ThoiGianTra" type="text" class="form-control">
</div>
<div>
<label>ChungTu_Id</label>
<input placeholder="ChungTu_Id" [(ngModel)]="NoiTru_TraThuocService.FormData.ChungTu_Id"  name="NoiTru_TraThuocService.FormData.ChungTu_Id" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="NoiTru_TraThuocService.IsShowLoading"></app-loading>

