<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        BenhSu_User_DichVu_Permissions
                        <span *ngIf="BenhSu_User_DichVu_PermissionsService.List">({{BenhSu_User_DichVu_PermissionsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/BenhSu_User_DichVu_Permissions" title="BenhSu_User_DichVu_Permissions">
                                BenhSu_User_DichVu_Permissions
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="BenhSu_User_DichVu_PermissionsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="BenhSu_User_DichVu_PermissionsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="BenhSu_User_DichVu_PermissionsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #BenhSu_User_DichVu_PermissionsSort="matSort"
                           [dataSource]="BenhSu_User_DichVu_PermissionsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="BenhSu_User_DichVu_PermissionsPaginator">
                                    {{
BenhSu_User_DichVu_PermissionsPaginator.pageSize *
                                    BenhSu_User_DichVu_PermissionsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="BenhSu_User_DichVu_PermissionsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="BenhSu_User_DichVu_PermissionsDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="Group_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Group_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Group_Id" name="Group_Id" [(ngModel)]="element.Group_Id"></td>
</ng-container>
<ng-container matColumnDef="User_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Id" name="User_Id" [(ngModel)]="element.User_Id"></td>
</ng-container>
<ng-container matColumnDef="DichVu_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DichVu_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DichVu_Id" name="DichVu_Id" [(ngModel)]="element.DichVu_Id"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="BenhSu_User_DichVu_PermissionsService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: BenhSu_User_DichVu_PermissionsService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #BenhSu_User_DichVu_PermissionsPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="BenhSu_User_DichVu_PermissionsService.IsShowLoading"></app-loading>

