<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        KhamBenh_VaoVien
                        <span *ngIf="KhamBenh_VaoVienService.List">({{KhamBenh_VaoVienService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/KhamBenh_VaoVien" title="KhamBenh_VaoVien">
                                KhamBenh_VaoVien
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="KhamBenh_VaoVienService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="KhamBenh_VaoVienSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="KhamBenh_VaoVienSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #KhamBenh_VaoVienSort="matSort"
                           [dataSource]="KhamBenh_VaoVienService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="KhamBenh_VaoVienPaginator">
                                    {{
KhamBenh_VaoVienPaginator.pageSize *
                                    KhamBenh_VaoVienPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="KhamBenh_VaoVienSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="KhamBenh_VaoVienDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="KhamBenhVaoVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenhVaoVien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenhVaoVien_Id" name="KhamBenhVaoVien_Id" [(ngModel)]="element.KhamBenhVaoVien_Id"></td>
</ng-container>
<ng-container matColumnDef="SoPhieu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoPhieu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoPhieu" name="SoPhieu" [(ngModel)]="element.SoPhieu"></td>
</ng-container>
<ng-container matColumnDef="TiepNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TiepNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TiepNhan_Id" name="TiepNhan_Id" [(ngModel)]="element.TiepNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="KhamBenh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenh_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenh_Id" name="KhamBenh_Id" [(ngModel)]="element.KhamBenh_Id"></td>
</ng-container>
<ng-container matColumnDef="BenhNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhNhan_Id" name="BenhNhan_Id" [(ngModel)]="element.BenhNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="NguoiLienHe">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiLienHe</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiLienHe" name="NguoiLienHe" [(ngModel)]="element.NguoiLienHe"></td>
</ng-container>
<ng-container matColumnDef="DienThoaiLienHe">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DienThoaiLienHe</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DienThoaiLienHe" name="DienThoaiLienHe" [(ngModel)]="element.DienThoaiLienHe"></td>
</ng-container>
<ng-container matColumnDef="NoiLamViec">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiLamViec</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiLamViec" name="NoiLamViec" [(ngModel)]="element.NoiLamViec"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanNoiGioiThieu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanNoiGioiThieu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanNoiGioiThieu" name="ChanDoanNoiGioiThieu" [(ngModel)]="element.ChanDoanNoiGioiThieu"></td>
</ng-container>
<ng-container matColumnDef="NgayKham">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayKham</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayKham" name="NgayKham" [(ngModel)]="element.NgayKham"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianKham">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianKham</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianKham" name="ThoiGianKham" [(ngModel)]="element.ThoiGianKham"></td>
</ng-container>
<ng-container matColumnDef="LyDoVaoVien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoVaoVien</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LyDoVaoVien" name="LyDoVaoVien" [(ngModel)]="element.LyDoVaoVien"></td>
</ng-container>
<ng-container matColumnDef="QuaTrinhBenhLy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>QuaTrinhBenhLy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="QuaTrinhBenhLy" name="QuaTrinhBenhLy" [(ngModel)]="element.QuaTrinhBenhLy"></td>
</ng-container>
<ng-container matColumnDef="TienSuBanThan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TienSuBanThan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TienSuBanThan" name="TienSuBanThan" [(ngModel)]="element.TienSuBanThan"></td>
</ng-container>
<ng-container matColumnDef="TienSuGiaDinh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TienSuGiaDinh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TienSuGiaDinh" name="TienSuGiaDinh" [(ngModel)]="element.TienSuGiaDinh"></td>
</ng-container>
<ng-container matColumnDef="KhamXetToanThan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamXetToanThan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamXetToanThan" name="KhamXetToanThan" [(ngModel)]="element.KhamXetToanThan"></td>
</ng-container>
<ng-container matColumnDef="KhamXetCacBoPhan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamXetCacBoPhan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamXetCacBoPhan" name="KhamXetCacBoPhan" [(ngModel)]="element.KhamXetCacBoPhan"></td>
</ng-container>
<ng-container matColumnDef="KhamXetKQLS">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamXetKQLS</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamXetKQLS" name="KhamXetKQLS" [(ngModel)]="element.KhamXetKQLS"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanVao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanVao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanVao" name="ChanDoanVao" [(ngModel)]="element.ChanDoanVao"></td>
</ng-container>
<ng-container matColumnDef="ICDKhamXet_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ICDKhamXet_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ICDKhamXet_Id" name="ICDKhamXet_Id" [(ngModel)]="element.ICDKhamXet_Id"></td>
</ng-container>
<ng-container matColumnDef="DaXuLy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DaXuLy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DaXuLy" name="DaXuLy" [(ngModel)]="element.DaXuLy"></td>
</ng-container>
<ng-container matColumnDef="NgayRa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayRa</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayRa" name="NgayRa" [(ngModel)]="element.NgayRa"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianRa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianRa</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianRa" name="ThoiGianRa" [(ngModel)]="element.ThoiGianRa"></td>
</ng-container>
<ng-container matColumnDef="NhapKhoa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhapKhoa_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhapKhoa_Id" name="NhapKhoa_Id" [(ngModel)]="element.NhapKhoa_Id"></td>
</ng-container>
<ng-container matColumnDef="ChuyenVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenVien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenVien_Id" name="ChuyenVien_Id" [(ngModel)]="element.ChuyenVien_Id"></td>
</ng-container>
<ng-container matColumnDef="ChuY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuY</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuY" name="ChuY" [(ngModel)]="element.ChuY"></td>
</ng-container>
<ng-container matColumnDef="Mach">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Mach</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Mach" name="Mach" [(ngModel)]="element.Mach"></td>
</ng-container>
<ng-container matColumnDef="NhietDo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhietDo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhietDo" name="NhietDo" [(ngModel)]="element.NhietDo"></td>
</ng-container>
<ng-container matColumnDef="HuyetApCao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuyetApCao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuyetApCao" name="HuyetApCao" [(ngModel)]="element.HuyetApCao"></td>
</ng-container>
<ng-container matColumnDef="HuyetApThap">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuyetApThap</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuyetApThap" name="HuyetApThap" [(ngModel)]="element.HuyetApThap"></td>
</ng-container>
<ng-container matColumnDef="NhipTho">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhipTho</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhipTho" name="NhipTho" [(ngModel)]="element.NhipTho"></td>
</ng-container>
<ng-container matColumnDef="CanNang">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CanNang</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CanNang" name="CanNang" [(ngModel)]="element.CanNang"></td>
</ng-container>
<ng-container matColumnDef="ChieuCao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChieuCao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChieuCao" name="ChieuCao" [(ngModel)]="element.ChieuCao"></td>
</ng-container>
<ng-container matColumnDef="BacSi_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BacSi_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BacSi_Id" name="BacSi_Id" [(ngModel)]="element.BacSi_Id"></td>
</ng-container>
<ng-container matColumnDef="XuTruKhamBenh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XuTruKhamBenh_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XuTruKhamBenh_Id" name="XuTruKhamBenh_Id" [(ngModel)]="element.XuTruKhamBenh_Id"></td>
</ng-container>
<ng-container matColumnDef="CapCuu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CapCuu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CapCuu" name="CapCuu" [(ngModel)]="element.CapCuu"></td>
</ng-container>
<ng-container matColumnDef="NgayTaiNan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTaiNan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayTaiNan" name="NgayTaiNan" [(ngModel)]="element.NgayTaiNan"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianTaiNan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianTaiNan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianTaiNan" name="ThoiGianTaiNan" [(ngModel)]="element.ThoiGianTaiNan"></td>
</ng-container>
<ng-container matColumnDef="NoiTaiNan_TinhThanh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiTaiNan_TinhThanh_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiTaiNan_TinhThanh_Id" name="NoiTaiNan_TinhThanh_Id" [(ngModel)]="element.NoiTaiNan_TinhThanh_Id"></td>
</ng-container>
<ng-container matColumnDef="NoiTaiNan_QuanHuyen_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiTaiNan_QuanHuyen_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiTaiNan_QuanHuyen_Id" name="NoiTaiNan_QuanHuyen_Id" [(ngModel)]="element.NoiTaiNan_QuanHuyen_Id"></td>
</ng-container>
<ng-container matColumnDef="NoiTaiNan_PhuongXa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiTaiNan_PhuongXa_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiTaiNan_PhuongXa_Id" name="NoiTaiNan_PhuongXa_Id" [(ngModel)]="element.NoiTaiNan_PhuongXa_Id"></td>
</ng-container>
<ng-container matColumnDef="NoiTaiNan_DiaChi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiTaiNan_DiaChi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiTaiNan_DiaChi" name="NoiTaiNan_DiaChi" [(ngModel)]="element.NoiTaiNan_DiaChi"></td>
</ng-container>
<ng-container matColumnDef="DiaDiemTaiNan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DiaDiemTaiNan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DiaDiemTaiNan_Id" name="DiaDiemTaiNan_Id" [(ngModel)]="element.DiaDiemTaiNan_Id"></td>
</ng-container>
<ng-container matColumnDef="BoPhanBiThuong_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BoPhanBiThuong_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BoPhanBiThuong_Id" name="BoPhanBiThuong_Id" [(ngModel)]="element.BoPhanBiThuong_Id"></td>
</ng-container>
<ng-container matColumnDef="MucDo_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MucDo_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MucDo_Id" name="MucDo_Id" [(ngModel)]="element.MucDo_Id"></td>
</ng-container>
<ng-container matColumnDef="DienBienSauTN_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DienBienSauTN_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DienBienSauTN_Id" name="DienBienSauTN_Id" [(ngModel)]="element.DienBienSauTN_Id"></td>
</ng-container>
<ng-container matColumnDef="XuTriSauTN_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XuTriSauTN_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XuTriSauTN_Id" name="XuTriSauTN_Id" [(ngModel)]="element.XuTriSauTN_Id"></td>
</ng-container>
<ng-container matColumnDef="NguyenNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguyenNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguyenNhan_Id" name="NguyenNhan_Id" [(ngModel)]="element.NguyenNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="NguyenNhanChiTiet_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguyenNhanChiTiet_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguyenNhanChiTiet_Id" name="NguyenNhanChiTiet_Id" [(ngModel)]="element.NguyenNhanChiTiet_Id"></td>
</ng-container>
<ng-container matColumnDef="ICD_NguyenNhan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ICD_NguyenNhan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ICD_NguyenNhan" name="ICD_NguyenNhan" [(ngModel)]="element.ICD_NguyenNhan"></td>
</ng-container>
<ng-container matColumnDef="NgayTao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayTao" name="NgayTao" [(ngModel)]="element.NgayTao"></td>
</ng-container>
<ng-container matColumnDef="NguoiTao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiTao_Id" name="NguoiTao_Id" [(ngModel)]="element.NguoiTao_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayCapNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayCapNhat" name="NgayCapNhat" [(ngModel)]="element.NgayCapNhat"></td>
</ng-container>
<ng-container matColumnDef="NguoiCapNhat_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiCapNhat_Id" name="NguoiCapNhat_Id" [(ngModel)]="element.NguoiCapNhat_Id"></td>
</ng-container>
<ng-container matColumnDef="SoBenhAn">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoBenhAn</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoBenhAn" name="SoBenhAn" [(ngModel)]="element.SoBenhAn"></td>
</ng-container>
<ng-container matColumnDef="DiaDiemTaiNan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DiaDiemTaiNan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DiaDiemTaiNan" name="DiaDiemTaiNan" [(ngModel)]="element.DiaDiemTaiNan"></td>
</ng-container>
<ng-container matColumnDef="SoCapCuu_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoCapCuu_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoCapCuu_Co" name="SoCapCuu_Co" [(ngModel)]="element.SoCapCuu_Co"></td>
</ng-container>
<ng-container matColumnDef="SoCapCuu_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoCapCuu_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoCapCuu_Khong" name="SoCapCuu_Khong" [(ngModel)]="element.SoCapCuu_Khong"></td>
</ng-container>
<ng-container matColumnDef="PhuongTienDuaDen">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhuongTienDuaDen</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PhuongTienDuaDen" name="PhuongTienDuaDen" [(ngModel)]="element.PhuongTienDuaDen"></td>
</ng-container>
<ng-container matColumnDef="PhuongTienSuDung">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhuongTienSuDung</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PhuongTienSuDung" name="PhuongTienSuDung" [(ngModel)]="element.PhuongTienSuDung"></td>
</ng-container>
<ng-container matColumnDef="OTo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>OTo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="OTo" name="OTo" [(ngModel)]="element.OTo"></td>
</ng-container>
<ng-container matColumnDef="TauHoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TauHoa</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TauHoa" name="TauHoa" [(ngModel)]="element.TauHoa"></td>
</ng-container>
<ng-container matColumnDef="XeGanMay">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XeGanMay</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XeGanMay" name="XeGanMay" [(ngModel)]="element.XeGanMay"></td>
</ng-container>
<ng-container matColumnDef="XeTuChe">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XeTuChe</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XeTuChe" name="XeTuChe" [(ngModel)]="element.XeTuChe"></td>
</ng-container>
<ng-container matColumnDef="TuGayTaiNan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TuGayTaiNan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TuGayTaiNan" name="TuGayTaiNan" [(ngModel)]="element.TuGayTaiNan"></td>
</ng-container>
<ng-container matColumnDef="Khac">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Khac</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Khac" name="Khac" [(ngModel)]="element.Khac"></td>
</ng-container>
<ng-container matColumnDef="DoiMuBH_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoiMuBH_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DoiMuBH_Co" name="DoiMuBH_Co" [(ngModel)]="element.DoiMuBH_Co"></td>
</ng-container>
<ng-container matColumnDef="DoiMuBH_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoiMuBH_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DoiMuBH_Khong" name="DoiMuBH_Khong" [(ngModel)]="element.DoiMuBH_Khong"></td>
</ng-container>
<ng-container matColumnDef="DoiMuBH_KhongRo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoiMuBH_KhongRo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DoiMuBH_KhongRo" name="DoiMuBH_KhongRo" [(ngModel)]="element.DoiMuBH_KhongRo"></td>
</ng-container>
<ng-container matColumnDef="GaiQuaiMuBH_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GaiQuaiMuBH_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GaiQuaiMuBH_Co" name="GaiQuaiMuBH_Co" [(ngModel)]="element.GaiQuaiMuBH_Co"></td>
</ng-container>
<ng-container matColumnDef="GaiQuaiMuBH_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GaiQuaiMuBH_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GaiQuaiMuBH_Khong" name="GaiQuaiMuBH_Khong" [(ngModel)]="element.GaiQuaiMuBH_Khong"></td>
</ng-container>
<ng-container matColumnDef="GaiQuaiMuBH_KhongRo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GaiQuaiMuBH_KhongRo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GaiQuaiMuBH_KhongRo" name="GaiQuaiMuBH_KhongRo" [(ngModel)]="element.GaiQuaiMuBH_KhongRo"></td>
</ng-container>
<ng-container matColumnDef="MuBHVo_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MuBHVo_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MuBHVo_Co" name="MuBHVo_Co" [(ngModel)]="element.MuBHVo_Co"></td>
</ng-container>
<ng-container matColumnDef="MuBHVo_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MuBHVo_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MuBHVo_Khong" name="MuBHVo_Khong" [(ngModel)]="element.MuBHVo_Khong"></td>
</ng-container>
<ng-container matColumnDef="MuBHVo_KhongRo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MuBHVo_KhongRo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MuBHVo_KhongRo" name="MuBHVo_KhongRo" [(ngModel)]="element.MuBHVo_KhongRo"></td>
</ng-container>
<ng-container matColumnDef="MuBH_TenHang">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MuBH_TenHang</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MuBH_TenHang" name="MuBH_TenHang" [(ngModel)]="element.MuBH_TenHang"></td>
</ng-container>
<ng-container matColumnDef="MuBH_TenHang_KhongRo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MuBH_TenHang_KhongRo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MuBH_TenHang_KhongRo" name="MuBH_TenHang_KhongRo" [(ngModel)]="element.MuBH_TenHang_KhongRo"></td>
</ng-container>
<ng-container matColumnDef="Ruou_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ruou_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Ruou_Co" name="Ruou_Co" [(ngModel)]="element.Ruou_Co"></td>
</ng-container>
<ng-container matColumnDef="Ruou_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ruou_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Ruou_Khong" name="Ruou_Khong" [(ngModel)]="element.Ruou_Khong"></td>
</ng-container>
<ng-container matColumnDef="Ruou_KhongRo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ruou_KhongRo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Ruou_KhongRo" name="Ruou_KhongRo" [(ngModel)]="element.Ruou_KhongRo"></td>
</ng-container>
<ng-container matColumnDef="CamQuan_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CamQuan_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CamQuan_Co" name="CamQuan_Co" [(ngModel)]="element.CamQuan_Co"></td>
</ng-container>
<ng-container matColumnDef="CamQuan_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CamQuan_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CamQuan_Khong" name="CamQuan_Khong" [(ngModel)]="element.CamQuan_Khong"></td>
</ng-container>
<ng-container matColumnDef="NongDoCon_Mau">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NongDoCon_Mau</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NongDoCon_Mau" name="NongDoCon_Mau" [(ngModel)]="element.NongDoCon_Mau"></td>
</ng-container>
<ng-container matColumnDef="NongDoCon_Mau_KhongDo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NongDoCon_Mau_KhongDo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NongDoCon_Mau_KhongDo" name="NongDoCon_Mau_KhongDo" [(ngModel)]="element.NongDoCon_Mau_KhongDo"></td>
</ng-container>
<ng-container matColumnDef="NongDoCon_HoiTho">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NongDoCon_HoiTho</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NongDoCon_HoiTho" name="NongDoCon_HoiTho" [(ngModel)]="element.NongDoCon_HoiTho"></td>
</ng-container>
<ng-container matColumnDef="NongDoCon_HoiTho_KhongDo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NongDoCon_HoiTho_KhongDo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NongDoCon_HoiTho_KhongDo" name="NongDoCon_HoiTho_KhongDo" [(ngModel)]="element.NongDoCon_HoiTho_KhongDo"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongNao_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongNao_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongNao_Co" name="ChanThuongNao_Co" [(ngModel)]="element.ChanThuongNao_Co"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongNao_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongNao_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongNao_Khong" name="ChanThuongNao_Khong" [(ngModel)]="element.ChanThuongNao_Khong"></td>
</ng-container>
<ng-container matColumnDef="Glassgow">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Glassgow</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Glassgow" name="Glassgow" [(ngModel)]="element.Glassgow"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongCotSongCo_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongCotSongCo_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongCotSongCo_Co" name="ChanThuongCotSongCo_Co" [(ngModel)]="element.ChanThuongCotSongCo_Co"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongCotSongCo_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongCotSongCo_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongCotSongCo_Khong" name="ChanThuongCotSongCo_Khong" [(ngModel)]="element.ChanThuongCotSongCo_Khong"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongHamMat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongHamMat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongHamMat" name="ChanThuongHamMat" [(ngModel)]="element.ChanThuongHamMat"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongChi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongChi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongChi" name="ChanThuongChi" [(ngModel)]="element.ChanThuongChi"></td>
</ng-container>
<ng-container matColumnDef="ChanThuongNguc">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanThuongNguc</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanThuongNguc" name="ChanThuongNguc" [(ngModel)]="element.ChanThuongNguc"></td>
</ng-container>
<ng-container matColumnDef="DaChanThuong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DaChanThuong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DaChanThuong" name="DaChanThuong" [(ngModel)]="element.DaChanThuong"></td>
</ng-container>
<ng-container matColumnDef="NhapVien_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhapVien_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhapVien_Co" name="NhapVien_Co" [(ngModel)]="element.NhapVien_Co"></td>
</ng-container>
<ng-container matColumnDef="NhapVien_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhapVien_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhapVien_Khong" name="NhapVien_Khong" [(ngModel)]="element.NhapVien_Khong"></td>
</ng-container>
<ng-container matColumnDef="MoCapCuu_Co">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MoCapCuu_Co</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MoCapCuu_Co" name="MoCapCuu_Co" [(ngModel)]="element.MoCapCuu_Co"></td>
</ng-container>
<ng-container matColumnDef="MoCapCuu_Khong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MoCapCuu_Khong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MoCapCuu_Khong" name="MoCapCuu_Khong" [(ngModel)]="element.MoCapCuu_Khong"></td>
</ng-container>
<ng-container matColumnDef="TuVong_TruocBV">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TuVong_TruocBV</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TuVong_TruocBV" name="TuVong_TruocBV" [(ngModel)]="element.TuVong_TruocBV"></td>
</ng-container>
<ng-container matColumnDef="TuVong_TrongBV">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TuVong_TrongBV</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TuVong_TrongBV" name="TuVong_TrongBV" [(ngModel)]="element.TuVong_TrongBV"></td>
</ng-container>
<ng-container matColumnDef="XinVe">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XinVe</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XinVe" name="XinVe" [(ngModel)]="element.XinVe"></td>
</ng-container>
<ng-container matColumnDef="NoiChuyenTuyen">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiChuyenTuyen</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiChuyenTuyen" name="NoiChuyenTuyen" [(ngModel)]="element.NoiChuyenTuyen"></td>
</ng-container>
<ng-container matColumnDef="KhongChuyen">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhongChuyen</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhongChuyen" name="KhongChuyen" [(ngModel)]="element.KhongChuyen"></td>
</ng-container>
<ng-container matColumnDef="BenhAnNoiTru_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhAnNoiTru_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhAnNoiTru_ID" name="BenhAnNoiTru_ID" [(ngModel)]="element.BenhAnNoiTru_ID"></td>
</ng-container>
<ng-container matColumnDef="NoiChuyen_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiChuyen_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiChuyen_ID" name="NoiChuyen_ID" [(ngModel)]="element.NoiChuyen_ID"></td>
</ng-container>
<ng-container matColumnDef="LoaiTaiNan_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LoaiTaiNan_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LoaiTaiNan_ID" name="LoaiTaiNan_ID" [(ngModel)]="element.LoaiTaiNan_ID"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="KhamBenh_VaoVienService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: KhamBenh_VaoVienService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #KhamBenh_VaoVienPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="KhamBenh_VaoVienService.IsShowLoading"></app-loading>

