<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        NoiTru_LuuTru
                        <span *ngIf="NoiTru_LuuTruService.List">({{NoiTru_LuuTruService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/NoiTru_LuuTru" title="NoiTru_LuuTru">
                                NoiTru_LuuTru
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="NoiTru_LuuTruService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="NoiTru_LuuTruSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="NoiTru_LuuTruSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #NoiTru_LuuTruSort="matSort"
                           [dataSource]="NoiTru_LuuTruService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="NoiTru_LuuTruPaginator">
                                    {{
NoiTru_LuuTruPaginator.pageSize *
                                    NoiTru_LuuTruPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="NoiTru_LuuTruSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="NoiTru_LuuTruDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="LuuTru_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LuuTru_Id</th>
<td mat-cell *matCellDef="let element">{{element.LuuTru_Id}}</td>
</ng-container>
<ng-container matColumnDef="BenhAn_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhAn_Id</th>
<td mat-cell *matCellDef="let element">{{element.BenhAn_Id}}</td>
</ng-container>
<ng-container matColumnDef="PhongBan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhongBan_Id</th>
<td mat-cell *matCellDef="let element">{{element.PhongBan_Id}}</td>
</ng-container>
<ng-container matColumnDef="NgayVao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayVao</th>
<td mat-cell *matCellDef="let element">{{element.NgayVao}}</td>
</ng-container>
<ng-container matColumnDef="ThoiGianVao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianVao</th>
<td mat-cell *matCellDef="let element">{{element.ThoiGianVao}}</td>
</ng-container>
<ng-container matColumnDef="LyDoVao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoVao_Id</th>
<td mat-cell *matCellDef="let element">{{element.LyDoVao_Id}}</td>
</ng-container>
<ng-container matColumnDef="LyDoVao_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoVao_Code</th>
<td mat-cell *matCellDef="let element">{{element.LyDoVao_Code}}</td>
</ng-container>
<ng-container matColumnDef="ICD_VaoKhoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ICD_VaoKhoa</th>
<td mat-cell *matCellDef="let element">{{element.ICD_VaoKhoa}}</td>
</ng-container>
<ng-container matColumnDef="NgayRa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayRa</th>
<td mat-cell *matCellDef="let element">{{element.NgayRa}}</td>
</ng-container>
<ng-container matColumnDef="ThoiGianRa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianRa</th>
<td mat-cell *matCellDef="let element">{{element.ThoiGianRa}}</td>
</ng-container>
<ng-container matColumnDef="LyDoRa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoRa_Id</th>
<td mat-cell *matCellDef="let element">{{element.LyDoRa_Id}}</td>
</ng-container>
<ng-container matColumnDef="LyDoRa_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoRa_Code</th>
<td mat-cell *matCellDef="let element">{{element.LyDoRa_Code}}</td>
</ng-container>
<ng-container matColumnDef="ICD_RaKhoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ICD_RaKhoa</th>
<td mat-cell *matCellDef="let element">{{element.ICD_RaKhoa}}</td>
</ng-container>
<ng-container matColumnDef="ChanDoanRaKhoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanRaKhoa</th>
<td mat-cell *matCellDef="let element">{{element.ChanDoanRaKhoa}}</td>
</ng-container>
<ng-container matColumnDef="PhongBanChuyenDen_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhongBanChuyenDen_Id</th>
<td mat-cell *matCellDef="let element">{{element.PhongBanChuyenDen_Id}}</td>
</ng-container>
<ng-container matColumnDef="PhongBanChuyenDi_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhongBanChuyenDi_Id</th>
<td mat-cell *matCellDef="let element">{{element.PhongBanChuyenDi_Id}}</td>
</ng-container>
<ng-container matColumnDef="BacSiDieuTriChinh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BacSiDieuTriChinh_Id</th>
<td mat-cell *matCellDef="let element">{{element.BacSiDieuTriChinh_Id}}</td>
</ng-container>
<ng-container matColumnDef="BacSiDieuTri_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BacSiDieuTri_Id</th>
<td mat-cell *matCellDef="let element">{{element.BacSiDieuTri_Id}}</td>
</ng-container>
<ng-container matColumnDef="NguoiNhap_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiNhap_Id</th>
<td mat-cell *matCellDef="let element">{{element.NguoiNhap_Id}}</td>
</ng-container>
<ng-container matColumnDef="NgayTao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
<td mat-cell *matCellDef="let element">{{element.NgayTao}}</td>
</ng-container>
<ng-container matColumnDef="NguoiTao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
<td mat-cell *matCellDef="let element">{{element.NguoiTao_Id}}</td>
</ng-container>
<ng-container matColumnDef="NgayCapNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
<td mat-cell *matCellDef="let element">{{element.NgayCapNhat}}</td>
</ng-container>
<ng-container matColumnDef="NguoiCapNhat_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_Id</th>
<td mat-cell *matCellDef="let element">{{element.NguoiCapNhat_Id}}</td>
</ng-container>
<ng-container matColumnDef="LuuTru_Prev">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LuuTru_Prev</th>
<td mat-cell *matCellDef="let element">{{element.LuuTru_Prev}}</td>
</ng-container>
<ng-container matColumnDef="LuuTru_Current">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LuuTru_Current</th>
<td mat-cell *matCellDef="let element">{{element.LuuTru_Current}}</td>
</ng-container>
<ng-container matColumnDef="DoiTuong_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoiTuong_Id</th>
<td mat-cell *matCellDef="let element">{{element.DoiTuong_Id}}</td>
</ng-container>
<ng-container matColumnDef="LyDoChuyenKhoa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoChuyenKhoa_Id</th>
<td mat-cell *matCellDef="let element">{{element.LyDoChuyenKhoa_Id}}</td>
</ng-container>
<ng-container matColumnDef="SiteCode">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SiteCode</th>
<td mat-cell *matCellDef="let element">{{element.SiteCode}}</td>
</ng-container>
<ng-container matColumnDef="Mapping_Public_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Mapping_Public_Id</th>
<td mat-cell *matCellDef="let element">{{element.Mapping_Public_Id}}</td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="NoiTru_LuuTruService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: NoiTru_LuuTruService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #NoiTru_LuuTruPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #NoiTru_LuuTruSort="matSort"
                           [dataSource]="NoiTru_LuuTruService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col-lg-12 col-sm-12 col-12">
<label>LuuTru_Id</label>
<br />
<label class="form-label">{{element.LuuTru_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>BenhAn_Id</label>
<br />
<label class="form-label">{{element.BenhAn_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>PhongBan_Id</label>
<br />
<label class="form-label">{{element.PhongBan_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayVao</label>
<br />
<label class="form-label">{{element.NgayVao}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThoiGianVao</label>
<br />
<label class="form-label">{{element.ThoiGianVao}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LyDoVao_Id</label>
<br />
<label class="form-label">{{element.LyDoVao_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LyDoVao_Code</label>
<br />
<label class="form-label">{{element.LyDoVao_Code}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ICD_VaoKhoa</label>
<br />
<label class="form-label">{{element.ICD_VaoKhoa}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayRa</label>
<br />
<label class="form-label">{{element.NgayRa}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThoiGianRa</label>
<br />
<label class="form-label">{{element.ThoiGianRa}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LyDoRa_Id</label>
<br />
<label class="form-label">{{element.LyDoRa_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LyDoRa_Code</label>
<br />
<label class="form-label">{{element.LyDoRa_Code}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ICD_RaKhoa</label>
<br />
<label class="form-label">{{element.ICD_RaKhoa}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChanDoanRaKhoa</label>
<br />
<label class="form-label">{{element.ChanDoanRaKhoa}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>PhongBanChuyenDen_Id</label>
<br />
<label class="form-label">{{element.PhongBanChuyenDen_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>PhongBanChuyenDi_Id</label>
<br />
<label class="form-label">{{element.PhongBanChuyenDi_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>BacSiDieuTriChinh_Id</label>
<br />
<label class="form-label">{{element.BacSiDieuTriChinh_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>BacSiDieuTri_Id</label>
<br />
<label class="form-label">{{element.BacSiDieuTri_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiNhap_Id</label>
<br />
<label class="form-label">{{element.NguoiNhap_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayTao</label>
<br />
<label class="form-label">{{element.NgayTao}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiTao_Id</label>
<br />
<label class="form-label">{{element.NguoiTao_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayCapNhat</label>
<br />
<label class="form-label">{{element.NgayCapNhat}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiCapNhat_Id</label>
<br />
<label class="form-label">{{element.NguoiCapNhat_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LuuTru_Prev</label>
<br />
<label class="form-label">{{element.LuuTru_Prev}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LuuTru_Current</label>
<br />
<label class="form-label">{{element.LuuTru_Current}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DoiTuong_Id</label>
<br />
<label class="form-label">{{element.DoiTuong_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LyDoChuyenKhoa_Id</label>
<br />
<label class="form-label">{{element.LyDoChuyenKhoa_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>SiteCode</label>
<br />
<label class="form-label">{{element.SiteCode}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Mapping_Public_Id</label>
<br />
<label class="form-label">{{element.Mapping_Public_Id}}</label>
</div>

                                </div>
                                <div class="row gx-4">
                                    <div class="col s6 m6 l6">
                                        <a (click)="NoiTru_LuuTruSave(element)" style="color:#2196f3;">
                                            <i class="material-icons">save</i>
                                        </a>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a (click)="NoiTru_LuuTruDelete(element)"
                                           style="color: red;"><i class="material-icons">delete_forever</i></a>
                                    </div>
                                </div>
                                <br />
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="NoiTru_LuuTruService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: NoiTru_LuuTruService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #NoiTru_LuuTruPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="NoiTru_LuuTruService.IsShowLoading"></app-loading>

