<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        HoaDon
                        <span *ngIf="HoaDonService.List">({{HoaDonService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/HoaDon" title="HoaDon">
                                HoaDon
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="HoaDonService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="HoaDonSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="HoaDonSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #HoaDonSort="matSort"
                           [dataSource]="HoaDonService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="HoaDonPaginator">
                                    {{
HoaDonPaginator.pageSize *
                                    HoaDonPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="HoaDonSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="HoaDonDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="HoaDon_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HoaDon_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HoaDon_Id" name="HoaDon_Id" [(ngModel)]="element.HoaDon_Id"></td>
</ng-container>
<ng-container matColumnDef="SoHoaDon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoHoaDon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoHoaDon" name="SoHoaDon" [(ngModel)]="element.SoHoaDon"></td>
</ng-container>
<ng-container matColumnDef="LoaiHoaDon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LoaiHoaDon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LoaiHoaDon" name="LoaiHoaDon" [(ngModel)]="element.LoaiHoaDon"></td>
</ng-container>
<ng-container matColumnDef="TiepNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TiepNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TiepNhan_Id" name="TiepNhan_Id" [(ngModel)]="element.TiepNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="BenhNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhNhan_Id" name="BenhNhan_Id" [(ngModel)]="element.BenhNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayPhatSinh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayPhatSinh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayPhatSinh" name="NgayPhatSinh" [(ngModel)]="element.NgayPhatSinh"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianPhatSinh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianPhatSinh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianPhatSinh" name="ThoiGianPhatSinh" [(ngModel)]="element.ThoiGianPhatSinh"></td>
</ng-container>
<ng-container matColumnDef="NoiPhatSinh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiPhatSinh_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiPhatSinh_Id" name="NoiPhatSinh_Id" [(ngModel)]="element.NoiPhatSinh_Id"></td>
</ng-container>
<ng-container matColumnDef="NguoiLap_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiLap_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiLap_Id" name="NguoiLap_Id" [(ngModel)]="element.NguoiLap_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayTra">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTra</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayTra" name="NgayTra" [(ngModel)]="element.NgayTra"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianTra">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianTra</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianTra" name="ThoiGianTra" [(ngModel)]="element.ThoiGianTra"></td>
</ng-container>
<ng-container matColumnDef="NguoiTra_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTra_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiTra_Id" name="NguoiTra_Id" [(ngModel)]="element.NguoiTra_Id"></td>
</ng-container>
<ng-container matColumnDef="NoiTra_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiTra_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiTra_Id" name="NoiTra_Id" [(ngModel)]="element.NoiTra_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayHoaDon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayHoaDon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayHoaDon" name="NgayHoaDon" [(ngModel)]="element.NgayHoaDon"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianHoaDon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianHoaDon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianHoaDon" name="ThoiGianHoaDon" [(ngModel)]="element.ThoiGianHoaDon"></td>
</ng-container>
<ng-container matColumnDef="NoiThuTien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NoiThuTien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NoiThuTien_Id" name="NoiThuTien_Id" [(ngModel)]="element.NoiThuTien_Id"></td>
</ng-container>
<ng-container matColumnDef="NguoiThuTien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiThuTien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiThuTien_Id" name="NguoiThuTien_Id" [(ngModel)]="element.NguoiThuTien_Id"></td>
</ng-container>
<ng-container matColumnDef="GiaTriHoaDon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GiaTriHoaDon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GiaTriHoaDon" name="GiaTriHoaDon" [(ngModel)]="element.GiaTriHoaDon"></td>
</ng-container>
<ng-container matColumnDef="GiaTriVAT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GiaTriVAT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GiaTriVAT" name="GiaTriVAT" [(ngModel)]="element.GiaTriVAT"></td>
</ng-container>
<ng-container matColumnDef="GiaTriThucThu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GiaTriThucThu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GiaTriThucThu" name="GiaTriThucThu" [(ngModel)]="element.GiaTriThucThu"></td>
</ng-container>
<ng-container matColumnDef="HinhThucThanhToan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HinhThucThanhToan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HinhThucThanhToan_Id" name="HinhThucThanhToan_Id" [(ngModel)]="element.HinhThucThanhToan_Id"></td>
</ng-container>
<ng-container matColumnDef="TienTe_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TienTe_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TienTe_Id" name="TienTe_Id" [(ngModel)]="element.TienTe_Id"></td>
</ng-container>
<ng-container matColumnDef="TyGia">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TyGia</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TyGia" name="TyGia" [(ngModel)]="element.TyGia"></td>
</ng-container>
<ng-container matColumnDef="GiaTriVND">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GiaTriVND</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GiaTriVND" name="GiaTriVND" [(ngModel)]="element.GiaTriVND"></td>
</ng-container>
<ng-container matColumnDef="DaThanhToan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DaThanhToan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DaThanhToan" name="DaThanhToan" [(ngModel)]="element.DaThanhToan"></td>
</ng-container>
<ng-container matColumnDef="NgoaiGio">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgoaiGio</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgoaiGio" name="NgoaiGio" [(ngModel)]="element.NgoaiGio"></td>
</ng-container>
<ng-container matColumnDef="HuyHoaDon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuyHoaDon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuyHoaDon" name="HuyHoaDon" [(ngModel)]="element.HuyHoaDon"></td>
</ng-container>
<ng-container matColumnDef="HoanTra">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HoanTra</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HoanTra" name="HoanTra" [(ngModel)]="element.HoanTra"></td>
</ng-container>
<ng-container matColumnDef="HoaDonLienQuan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HoaDonLienQuan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HoaDonLienQuan_Id" name="HoaDonLienQuan_Id" [(ngModel)]="element.HoaDonLienQuan_Id"></td>
</ng-container>
<ng-container matColumnDef="GhiChu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GhiChu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GhiChu" name="GhiChu" [(ngModel)]="element.GhiChu"></td>
</ng-container>
<ng-container matColumnDef="TrangThai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TrangThai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TrangThai" name="TrangThai" [(ngModel)]="element.TrangThai"></td>
</ng-container>
<ng-container matColumnDef="DangKyHoaDon_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DangKyHoaDon_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DangKyHoaDon_Id" name="DangKyHoaDon_Id" [(ngModel)]="element.DangKyHoaDon_Id"></td>
</ng-container>
<ng-container matColumnDef="SoSerieVAT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoSerieVAT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoSerieVAT" name="SoSerieVAT" [(ngModel)]="element.SoSerieVAT"></td>
</ng-container>
<ng-container matColumnDef="SoHoaDonVAT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoHoaDonVAT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoHoaDonVAT" name="SoHoaDonVAT" [(ngModel)]="element.SoHoaDonVAT"></td>
</ng-container>
<ng-container matColumnDef="KH_MaSoThue">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KH_MaSoThue</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KH_MaSoThue" name="KH_MaSoThue" [(ngModel)]="element.KH_MaSoThue"></td>
</ng-container>
<ng-container matColumnDef="KH_TenCongTy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KH_TenCongTy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KH_TenCongTy" name="KH_TenCongTy" [(ngModel)]="element.KH_TenCongTy"></td>
</ng-container>
<ng-container matColumnDef="KH_DiaChi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KH_DiaChi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KH_DiaChi" name="KH_DiaChi" [(ngModel)]="element.KH_DiaChi"></td>
</ng-container>
<ng-container matColumnDef="KH_NguoiDaiDien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KH_NguoiDaiDien</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KH_NguoiDaiDien" name="KH_NguoiDaiDien" [(ngModel)]="element.KH_NguoiDaiDien"></td>
</ng-container>
<ng-container matColumnDef="NgayTao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayTao" name="NgayTao" [(ngModel)]="element.NgayTao"></td>
</ng-container>
<ng-container matColumnDef="NguoiTao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiTao_Id" name="NguoiTao_Id" [(ngModel)]="element.NguoiTao_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayCapNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayCapNhat" name="NgayCapNhat" [(ngModel)]="element.NgayCapNhat"></td>
</ng-container>
<ng-container matColumnDef="NguoiCapNhat_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiCapNhat_Id" name="NguoiCapNhat_Id" [(ngModel)]="element.NguoiCapNhat_Id"></td>
</ng-container>
<ng-container matColumnDef="IDChuyen">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IDChuyen</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="IDChuyen" name="IDChuyen" [(ngModel)]="element.IDChuyen"></td>
</ng-container>
<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Status" name="Status" [(ngModel)]="element.Status"></td>
</ng-container>
<ng-container matColumnDef="Transfer_VienPhi_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Transfer_VienPhi_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Transfer_VienPhi_Id" name="Transfer_VienPhi_Id" [(ngModel)]="element.Transfer_VienPhi_Id"></td>
</ng-container>
<ng-container matColumnDef="DoiTuong_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoiTuong_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DoiTuong_Id" name="DoiTuong_Id" [(ngModel)]="element.DoiTuong_Id"></td>
</ng-container>
<ng-container matColumnDef="InLai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>InLai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="InLai" name="InLai" [(ngModel)]="element.InLai"></td>
</ng-container>
<ng-container matColumnDef="InLai_User_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>InLai_User_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="InLai_User_Id" name="InLai_User_Id" [(ngModel)]="element.InLai_User_Id"></td>
</ng-container>
<ng-container matColumnDef="IDChuyenHuy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IDChuyenHuy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="IDChuyenHuy" name="IDChuyenHuy" [(ngModel)]="element.IDChuyenHuy"></td>
</ng-container>
<ng-container matColumnDef="IDChuyenHoan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IDChuyenHoan</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="IDChuyenHoan" name="IDChuyenHoan" [(ngModel)]="element.IDChuyenHoan"></td>
</ng-container>
<ng-container matColumnDef="ThuHD_BL">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThuHD_BL</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThuHD_BL" name="ThuHD_BL" [(ngModel)]="element.ThuHD_BL"></td>
</ng-container>
<ng-container matColumnDef="NgayKhoaGoi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayKhoaGoi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayKhoaGoi" name="NgayKhoaGoi" [(ngModel)]="element.NgayKhoaGoi"></td>
</ng-container>
<ng-container matColumnDef="TenCongTy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TenCongTy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TenCongTy" name="TenCongTy" [(ngModel)]="element.TenCongTy"></td>
</ng-container>
<ng-container matColumnDef="MaSoThue">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MaSoThue</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MaSoThue" name="MaSoThue" [(ngModel)]="element.MaSoThue"></td>
</ng-container>
<ng-container matColumnDef="DiaChiCongTy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DiaChiCongTy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DiaChiCongTy" name="DiaChiCongTy" [(ngModel)]="element.DiaChiCongTy"></td>
</ng-container>
<ng-container matColumnDef="NhomThanhToan_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhomThanhToan_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhomThanhToan_ID" name="NhomThanhToan_ID" [(ngModel)]="element.NhomThanhToan_ID"></td>
</ng-container>
<ng-container matColumnDef="HoaDonDoiUng">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HoaDonDoiUng</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HoaDonDoiUng" name="HoaDonDoiUng" [(ngModel)]="element.HoaDonDoiUng"></td>
</ng-container>
<ng-container matColumnDef="ChuyenChungTuID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenChungTuID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenChungTuID" name="ChuyenChungTuID" [(ngModel)]="element.ChuyenChungTuID"></td>
</ng-container>
<ng-container matColumnDef="ChuyenChungTuHoanID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenChungTuHoanID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenChungTuHoanID" name="ChuyenChungTuHoanID" [(ngModel)]="element.ChuyenChungTuHoanID"></td>
</ng-container>
<ng-container matColumnDef="ChuyenChungTuHuyID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenChungTuHuyID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenChungTuHuyID" name="ChuyenChungTuHuyID" [(ngModel)]="element.ChuyenChungTuHuyID"></td>
</ng-container>
<ng-container matColumnDef="ChuyenDoanhThuID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenDoanhThuID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenDoanhThuID" name="ChuyenDoanhThuID" [(ngModel)]="element.ChuyenDoanhThuID"></td>
</ng-container>
<ng-container matColumnDef="ChuyenDoanhThuHoanID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenDoanhThuHoanID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenDoanhThuHoanID" name="ChuyenDoanhThuHoanID" [(ngModel)]="element.ChuyenDoanhThuHoanID"></td>
</ng-container>
<ng-container matColumnDef="ChuyenDoanhThuHuyID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenDoanhThuHuyID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenDoanhThuHuyID" name="ChuyenDoanhThuHuyID" [(ngModel)]="element.ChuyenDoanhThuHuyID"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="HoaDonService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: HoaDonService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #HoaDonPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #HoaDonSort="matSort"
                           [dataSource]="HoaDonService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col-lg-12 col-sm-12 col-12">
<label>HoaDon_Id</label>
<br />
<input class="form-control" type="text" placeholder="HoaDon_Id" name="HoaDon_Id{{element.ID}}" [(ngModel)]="element.HoaDon_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>SoHoaDon</label>
<br />
<input class="form-control" type="text" placeholder="SoHoaDon" name="SoHoaDon{{element.ID}}" [(ngModel)]="element.SoHoaDon">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LoaiHoaDon</label>
<br />
<input class="form-control" type="text" placeholder="LoaiHoaDon" name="LoaiHoaDon{{element.ID}}" [(ngModel)]="element.LoaiHoaDon">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TiepNhan_Id</label>
<br />
<input class="form-control" type="text" placeholder="TiepNhan_Id" name="TiepNhan_Id{{element.ID}}" [(ngModel)]="element.TiepNhan_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>BenhNhan_Id</label>
<br />
<input class="form-control" type="text" placeholder="BenhNhan_Id" name="BenhNhan_Id{{element.ID}}" [(ngModel)]="element.BenhNhan_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayPhatSinh</label>
<br />
<input class="form-control" type="text" placeholder="NgayPhatSinh" name="NgayPhatSinh{{element.ID}}" [(ngModel)]="element.NgayPhatSinh">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThoiGianPhatSinh</label>
<br />
<input class="form-control" type="text" placeholder="ThoiGianPhatSinh" name="ThoiGianPhatSinh{{element.ID}}" [(ngModel)]="element.ThoiGianPhatSinh">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NoiPhatSinh_Id</label>
<br />
<input class="form-control" type="text" placeholder="NoiPhatSinh_Id" name="NoiPhatSinh_Id{{element.ID}}" [(ngModel)]="element.NoiPhatSinh_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiLap_Id</label>
<br />
<input class="form-control" type="text" placeholder="NguoiLap_Id" name="NguoiLap_Id{{element.ID}}" [(ngModel)]="element.NguoiLap_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayTra</label>
<br />
<input class="form-control" type="text" placeholder="NgayTra" name="NgayTra{{element.ID}}" [(ngModel)]="element.NgayTra">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThoiGianTra</label>
<br />
<input class="form-control" type="text" placeholder="ThoiGianTra" name="ThoiGianTra{{element.ID}}" [(ngModel)]="element.ThoiGianTra">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiTra_Id</label>
<br />
<input class="form-control" type="text" placeholder="NguoiTra_Id" name="NguoiTra_Id{{element.ID}}" [(ngModel)]="element.NguoiTra_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NoiTra_Id</label>
<br />
<input class="form-control" type="text" placeholder="NoiTra_Id" name="NoiTra_Id{{element.ID}}" [(ngModel)]="element.NoiTra_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayHoaDon</label>
<br />
<input class="form-control" type="text" placeholder="NgayHoaDon" name="NgayHoaDon{{element.ID}}" [(ngModel)]="element.NgayHoaDon">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThoiGianHoaDon</label>
<br />
<input class="form-control" type="text" placeholder="ThoiGianHoaDon" name="ThoiGianHoaDon{{element.ID}}" [(ngModel)]="element.ThoiGianHoaDon">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NoiThuTien_Id</label>
<br />
<input class="form-control" type="text" placeholder="NoiThuTien_Id" name="NoiThuTien_Id{{element.ID}}" [(ngModel)]="element.NoiThuTien_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiThuTien_Id</label>
<br />
<input class="form-control" type="text" placeholder="NguoiThuTien_Id" name="NguoiThuTien_Id{{element.ID}}" [(ngModel)]="element.NguoiThuTien_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>GiaTriHoaDon</label>
<br />
<input class="form-control" type="text" placeholder="GiaTriHoaDon" name="GiaTriHoaDon{{element.ID}}" [(ngModel)]="element.GiaTriHoaDon">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>GiaTriVAT</label>
<br />
<input class="form-control" type="text" placeholder="GiaTriVAT" name="GiaTriVAT{{element.ID}}" [(ngModel)]="element.GiaTriVAT">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>GiaTriThucThu</label>
<br />
<input class="form-control" type="text" placeholder="GiaTriThucThu" name="GiaTriThucThu{{element.ID}}" [(ngModel)]="element.GiaTriThucThu">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>HinhThucThanhToan_Id</label>
<br />
<input class="form-control" type="text" placeholder="HinhThucThanhToan_Id" name="HinhThucThanhToan_Id{{element.ID}}" [(ngModel)]="element.HinhThucThanhToan_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TienTe_Id</label>
<br />
<input class="form-control" type="text" placeholder="TienTe_Id" name="TienTe_Id{{element.ID}}" [(ngModel)]="element.TienTe_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TyGia</label>
<br />
<input class="form-control" type="text" placeholder="TyGia" name="TyGia{{element.ID}}" [(ngModel)]="element.TyGia">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>GiaTriVND</label>
<br />
<input class="form-control" type="text" placeholder="GiaTriVND" name="GiaTriVND{{element.ID}}" [(ngModel)]="element.GiaTriVND">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DaThanhToan</label>
<br />
<input class="form-control" type="text" placeholder="DaThanhToan" name="DaThanhToan{{element.ID}}" [(ngModel)]="element.DaThanhToan">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgoaiGio</label>
<br />
<input class="form-control" type="text" placeholder="NgoaiGio" name="NgoaiGio{{element.ID}}" [(ngModel)]="element.NgoaiGio">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>HuyHoaDon</label>
<br />
<input class="form-control" type="text" placeholder="HuyHoaDon" name="HuyHoaDon{{element.ID}}" [(ngModel)]="element.HuyHoaDon">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>HoanTra</label>
<br />
<input class="form-control" type="text" placeholder="HoanTra" name="HoanTra{{element.ID}}" [(ngModel)]="element.HoanTra">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>HoaDonLienQuan_Id</label>
<br />
<input class="form-control" type="text" placeholder="HoaDonLienQuan_Id" name="HoaDonLienQuan_Id{{element.ID}}" [(ngModel)]="element.HoaDonLienQuan_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>GhiChu</label>
<br />
<input class="form-control" type="text" placeholder="GhiChu" name="GhiChu{{element.ID}}" [(ngModel)]="element.GhiChu">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TrangThai</label>
<br />
<input class="form-control" type="text" placeholder="TrangThai" name="TrangThai{{element.ID}}" [(ngModel)]="element.TrangThai">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DangKyHoaDon_Id</label>
<br />
<input class="form-control" type="text" placeholder="DangKyHoaDon_Id" name="DangKyHoaDon_Id{{element.ID}}" [(ngModel)]="element.DangKyHoaDon_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>SoSerieVAT</label>
<br />
<input class="form-control" type="text" placeholder="SoSerieVAT" name="SoSerieVAT{{element.ID}}" [(ngModel)]="element.SoSerieVAT">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>SoHoaDonVAT</label>
<br />
<input class="form-control" type="text" placeholder="SoHoaDonVAT" name="SoHoaDonVAT{{element.ID}}" [(ngModel)]="element.SoHoaDonVAT">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KH_MaSoThue</label>
<br />
<input class="form-control" type="text" placeholder="KH_MaSoThue" name="KH_MaSoThue{{element.ID}}" [(ngModel)]="element.KH_MaSoThue">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KH_TenCongTy</label>
<br />
<input class="form-control" type="text" placeholder="KH_TenCongTy" name="KH_TenCongTy{{element.ID}}" [(ngModel)]="element.KH_TenCongTy">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KH_DiaChi</label>
<br />
<input class="form-control" type="text" placeholder="KH_DiaChi" name="KH_DiaChi{{element.ID}}" [(ngModel)]="element.KH_DiaChi">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KH_NguoiDaiDien</label>
<br />
<input class="form-control" type="text" placeholder="KH_NguoiDaiDien" name="KH_NguoiDaiDien{{element.ID}}" [(ngModel)]="element.KH_NguoiDaiDien">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayTao</label>
<br />
<input class="form-control" type="text" placeholder="NgayTao" name="NgayTao{{element.ID}}" [(ngModel)]="element.NgayTao">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiTao_Id</label>
<br />
<input class="form-control" type="text" placeholder="NguoiTao_Id" name="NguoiTao_Id{{element.ID}}" [(ngModel)]="element.NguoiTao_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayCapNhat</label>
<br />
<input class="form-control" type="text" placeholder="NgayCapNhat" name="NgayCapNhat{{element.ID}}" [(ngModel)]="element.NgayCapNhat">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NguoiCapNhat_Id</label>
<br />
<input class="form-control" type="text" placeholder="NguoiCapNhat_Id" name="NguoiCapNhat_Id{{element.ID}}" [(ngModel)]="element.NguoiCapNhat_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>IDChuyen</label>
<br />
<input class="form-control" type="text" placeholder="IDChuyen" name="IDChuyen{{element.ID}}" [(ngModel)]="element.IDChuyen">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Status</label>
<br />
<input class="form-control" type="text" placeholder="Status" name="Status{{element.ID}}" [(ngModel)]="element.Status">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Transfer_VienPhi_Id</label>
<br />
<input class="form-control" type="text" placeholder="Transfer_VienPhi_Id" name="Transfer_VienPhi_Id{{element.ID}}" [(ngModel)]="element.Transfer_VienPhi_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DoiTuong_Id</label>
<br />
<input class="form-control" type="text" placeholder="DoiTuong_Id" name="DoiTuong_Id{{element.ID}}" [(ngModel)]="element.DoiTuong_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>InLai</label>
<br />
<input class="form-control" type="text" placeholder="InLai" name="InLai{{element.ID}}" [(ngModel)]="element.InLai">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>InLai_User_Id</label>
<br />
<input class="form-control" type="text" placeholder="InLai_User_Id" name="InLai_User_Id{{element.ID}}" [(ngModel)]="element.InLai_User_Id">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>IDChuyenHuy</label>
<br />
<input class="form-control" type="text" placeholder="IDChuyenHuy" name="IDChuyenHuy{{element.ID}}" [(ngModel)]="element.IDChuyenHuy">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>IDChuyenHoan</label>
<br />
<input class="form-control" type="text" placeholder="IDChuyenHoan" name="IDChuyenHoan{{element.ID}}" [(ngModel)]="element.IDChuyenHoan">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ThuHD_BL</label>
<br />
<input class="form-control" type="text" placeholder="ThuHD_BL" name="ThuHD_BL{{element.ID}}" [(ngModel)]="element.ThuHD_BL">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NgayKhoaGoi</label>
<br />
<input class="form-control" type="text" placeholder="NgayKhoaGoi" name="NgayKhoaGoi{{element.ID}}" [(ngModel)]="element.NgayKhoaGoi">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TenCongTy</label>
<br />
<input class="form-control" type="text" placeholder="TenCongTy" name="TenCongTy{{element.ID}}" [(ngModel)]="element.TenCongTy">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>MaSoThue</label>
<br />
<input class="form-control" type="text" placeholder="MaSoThue" name="MaSoThue{{element.ID}}" [(ngModel)]="element.MaSoThue">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DiaChiCongTy</label>
<br />
<input class="form-control" type="text" placeholder="DiaChiCongTy" name="DiaChiCongTy{{element.ID}}" [(ngModel)]="element.DiaChiCongTy">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NhomThanhToan_ID</label>
<br />
<input class="form-control" type="text" placeholder="NhomThanhToan_ID" name="NhomThanhToan_ID{{element.ID}}" [(ngModel)]="element.NhomThanhToan_ID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>HoaDonDoiUng</label>
<br />
<input class="form-control" type="text" placeholder="HoaDonDoiUng" name="HoaDonDoiUng{{element.ID}}" [(ngModel)]="element.HoaDonDoiUng">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChuyenChungTuID</label>
<br />
<input class="form-control" type="text" placeholder="ChuyenChungTuID" name="ChuyenChungTuID{{element.ID}}" [(ngModel)]="element.ChuyenChungTuID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChuyenChungTuHoanID</label>
<br />
<input class="form-control" type="text" placeholder="ChuyenChungTuHoanID" name="ChuyenChungTuHoanID{{element.ID}}" [(ngModel)]="element.ChuyenChungTuHoanID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChuyenChungTuHuyID</label>
<br />
<input class="form-control" type="text" placeholder="ChuyenChungTuHuyID" name="ChuyenChungTuHuyID{{element.ID}}" [(ngModel)]="element.ChuyenChungTuHuyID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChuyenDoanhThuID</label>
<br />
<input class="form-control" type="text" placeholder="ChuyenDoanhThuID" name="ChuyenDoanhThuID{{element.ID}}" [(ngModel)]="element.ChuyenDoanhThuID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChuyenDoanhThuHoanID</label>
<br />
<input class="form-control" type="text" placeholder="ChuyenDoanhThuHoanID" name="ChuyenDoanhThuHoanID{{element.ID}}" [(ngModel)]="element.ChuyenDoanhThuHoanID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ChuyenDoanhThuHuyID</label>
<br />
<input class="form-control" type="text" placeholder="ChuyenDoanhThuHuyID" name="ChuyenDoanhThuHuyID{{element.ID}}" [(ngModel)]="element.ChuyenDoanhThuHuyID">
</div>

                                </div>
                                <div class="row gx-4">
                                    <div class="col s6 m6 l6">
                                        <a (click)="HoaDonSave(element)" style="color:#2196f3;">
                                            <i class="material-icons">save</i>
                                        </a>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a (click)="HoaDonDelete(element)"
                                           style="color: red;"><i class="material-icons">delete_forever</i></a>
                                    </div>
                                </div>
                                <br />
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="HoaDonService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: HoaDonService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #HoaDonPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="HoaDonService.IsShowLoading"></app-loading>

