<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_AppSettings:
                        <b>{{Sys_AppSettingsService.FormData.Setting_Id}} [{{Sys_AppSettingsService.FormData.Setting_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A_Config/">eHospital_DongNai_A_Config/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_AppSettings" title="Sys_AppSettings">
                                Sys_AppSettings
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="Sys_AppSettingsAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="Sys_AppSettingsSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>Setting_Id</label>
<input placeholder="Setting_Id" [(ngModel)]="Sys_AppSettingsService.FormData.Setting_Id"  name="Sys_AppSettingsService.FormData.Setting_Id" type="text" class="form-control">
</div>
<div>
<label>Code</label>
<input placeholder="Code" [(ngModel)]="Sys_AppSettingsService.FormData.Code"  name="Sys_AppSettingsService.FormData.Code" type="text" class="form-control">
</div>
<div>
<label>Language_Id</label>
<input placeholder="Language_Id" [(ngModel)]="Sys_AppSettingsService.FormData.Language_Id"  name="Sys_AppSettingsService.FormData.Language_Id" type="text" class="form-control">
</div>
<div>
<label>Value</label>
<input placeholder="Value" [(ngModel)]="Sys_AppSettingsService.FormData.Value"  name="Sys_AppSettingsService.FormData.Value" type="text" class="form-control">
</div>
<div>
<label>Description</label>
<input placeholder="Description" [(ngModel)]="Sys_AppSettingsService.FormData.Description"  name="Sys_AppSettingsService.FormData.Description" type="text" class="form-control">
</div>
<div>
<label>Locked</label>
<input placeholder="Locked" [(ngModel)]="Sys_AppSettingsService.FormData.Locked"  name="Sys_AppSettingsService.FormData.Locked" type="text" class="form-control">
</div>
<div>
<label>SystemEditOnly</label>
<input placeholder="SystemEditOnly" [(ngModel)]="Sys_AppSettingsService.FormData.SystemEditOnly"  name="Sys_AppSettingsService.FormData.SystemEditOnly" type="text" class="form-control">
</div>
<div>
<label>CreationDate</label>
<input placeholder="CreationDate" [(ngModel)]="Sys_AppSettingsService.FormData.CreationDate"  name="Sys_AppSettingsService.FormData.CreationDate" type="text" class="form-control">
</div>
<div>
<label>CreatedBy</label>
<input placeholder="CreatedBy" [(ngModel)]="Sys_AppSettingsService.FormData.CreatedBy"  name="Sys_AppSettingsService.FormData.CreatedBy" type="text" class="form-control">
</div>
<div>
<label>LastUpdateDate</label>
<input placeholder="LastUpdateDate" [(ngModel)]="Sys_AppSettingsService.FormData.LastUpdateDate"  name="Sys_AppSettingsService.FormData.LastUpdateDate" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedBy</label>
<input placeholder="LastUpdatedBy" [(ngModel)]="Sys_AppSettingsService.FormData.LastUpdatedBy"  name="Sys_AppSettingsService.FormData.LastUpdatedBy" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="Sys_AppSettingsService.IsShowLoading"></app-loading>

