<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML15_CV130:
                        <b>{{XML15_CV130Service.FormData.XML15_CV130_Id}} [{{XML15_CV130Service.FormData.XML15_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML15_CV130" title="XML15_CV130">
                                XML15_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML15_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML15_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML15_CV130_Id</label>
<input placeholder="XML15_CV130_Id" [(ngModel)]="XML15_CV130Service.FormData.XML15_CV130_Id"  name="XML15_CV130Service.FormData.XML15_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML15_CV130Service.FormData.BenhAn_Id"  name="XML15_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML15_CV130Service.FormData.TiepNhan_Id"  name="XML15_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML15_CV130Service.FormData.BenhNhan_Id"  name="XML15_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML15_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML15_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML15_CV130Service.FormData.MA_LK"  name="XML15_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>STT</label>
<input placeholder="STT" [(ngModel)]="XML15_CV130Service.FormData.STT"  name="XML15_CV130Service.FormData.STT" type="text" class="form-control">
</div>
<div>
<label>MA_BN</label>
<input placeholder="MA_BN" [(ngModel)]="XML15_CV130Service.FormData.MA_BN"  name="XML15_CV130Service.FormData.MA_BN" type="text" class="form-control">
</div>
<div>
<label>HO_TEN</label>
<input placeholder="HO_TEN" [(ngModel)]="XML15_CV130Service.FormData.HO_TEN"  name="XML15_CV130Service.FormData.HO_TEN" type="text" class="form-control">
</div>
<div>
<label>SO_CCCD</label>
<input placeholder="SO_CCCD" [(ngModel)]="XML15_CV130Service.FormData.SO_CCCD"  name="XML15_CV130Service.FormData.SO_CCCD" type="text" class="form-control">
</div>
<div>
<label>PHANLOAI_LAO_VITRI</label>
<input placeholder="PHANLOAI_LAO_VITRI" [(ngModel)]="XML15_CV130Service.FormData.PHANLOAI_LAO_VITRI"  name="XML15_CV130Service.FormData.PHANLOAI_LAO_VITRI" type="text" class="form-control">
</div>
<div>
<label>PHANLOAI_LAO_TS</label>
<input placeholder="PHANLOAI_LAO_TS" [(ngModel)]="XML15_CV130Service.FormData.PHANLOAI_LAO_TS"  name="XML15_CV130Service.FormData.PHANLOAI_LAO_TS" type="text" class="form-control">
</div>
<div>
<label>PHANLOAI_LAO_HIV</label>
<input placeholder="PHANLOAI_LAO_HIV" [(ngModel)]="XML15_CV130Service.FormData.PHANLOAI_LAO_HIV"  name="XML15_CV130Service.FormData.PHANLOAI_LAO_HIV" type="text" class="form-control">
</div>
<div>
<label>PHANLOAI_LAO_VK</label>
<input placeholder="PHANLOAI_LAO_VK" [(ngModel)]="XML15_CV130Service.FormData.PHANLOAI_LAO_VK"  name="XML15_CV130Service.FormData.PHANLOAI_LAO_VK" type="text" class="form-control">
</div>
<div>
<label>PHANLOAI_LAO_KT</label>
<input placeholder="PHANLOAI_LAO_KT" [(ngModel)]="XML15_CV130Service.FormData.PHANLOAI_LAO_KT"  name="XML15_CV130Service.FormData.PHANLOAI_LAO_KT" type="text" class="form-control">
</div>
<div>
<label>LOAI_DTRI_LAO</label>
<input placeholder="LOAI_DTRI_LAO" [(ngModel)]="XML15_CV130Service.FormData.LOAI_DTRI_LAO"  name="XML15_CV130Service.FormData.LOAI_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>NGAYBD_DTRI_LAO</label>
<input placeholder="NGAYBD_DTRI_LAO" [(ngModel)]="XML15_CV130Service.FormData.NGAYBD_DTRI_LAO"  name="XML15_CV130Service.FormData.NGAYBD_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>PHACDO_DTRI_LAO</label>
<input placeholder="PHACDO_DTRI_LAO" [(ngModel)]="XML15_CV130Service.FormData.PHACDO_DTRI_LAO"  name="XML15_CV130Service.FormData.PHACDO_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>NGAYKT_DTRI_LAO</label>
<input placeholder="NGAYKT_DTRI_LAO" [(ngModel)]="XML15_CV130Service.FormData.NGAYKT_DTRI_LAO"  name="XML15_CV130Service.FormData.NGAYKT_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>KET_QUA_DTRI_LAO</label>
<input placeholder="KET_QUA_DTRI_LAO" [(ngModel)]="XML15_CV130Service.FormData.KET_QUA_DTRI_LAO"  name="XML15_CV130Service.FormData.KET_QUA_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>MA_CSKCB</label>
<input placeholder="MA_CSKCB" [(ngModel)]="XML15_CV130Service.FormData.MA_CSKCB"  name="XML15_CV130Service.FormData.MA_CSKCB" type="text" class="form-control">
</div>
<div>
<label>NGAYKD_HIV</label>
<input placeholder="NGAYKD_HIV" [(ngModel)]="XML15_CV130Service.FormData.NGAYKD_HIV"  name="XML15_CV130Service.FormData.NGAYKD_HIV" type="text" class="form-control">
</div>
<div>
<label>BDDT_ARV</label>
<input placeholder="BDDT_ARV" [(ngModel)]="XML15_CV130Service.FormData.BDDT_ARV"  name="XML15_CV130Service.FormData.BDDT_ARV" type="text" class="form-control">
</div>
<div>
<label>NGAY_BAT_DAU_DT_CTX</label>
<input placeholder="NGAY_BAT_DAU_DT_CTX" [(ngModel)]="XML15_CV130Service.FormData.NGAY_BAT_DAU_DT_CTX"  name="XML15_CV130Service.FormData.NGAY_BAT_DAU_DT_CTX" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML15_CV130Service.FormData.DU_PHONG"  name="XML15_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML15_CV130Service.IsShowLoading"></app-loading>

