<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_Groups
                        <span *ngIf="Sys_GroupsService.List">({{Sys_GroupsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_Groups" title="Sys_Groups">
                                Sys_Groups
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_GroupsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_GroupsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_GroupsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_GroupsSort="matSort"
                           [dataSource]="Sys_GroupsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_GroupsPaginator">
                                    {{
Sys_GroupsPaginator.pageSize *
                                    Sys_GroupsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_GroupsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="Sys_GroupsDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Group_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Group_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Group_Id" name="Group_Id" [(ngModel)]="element.Group_Id"></td>
</ng-container>
<ng-container matColumnDef="Group_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Group_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Group_Code" name="Group_Code" [(ngModel)]="element.Group_Code"></td>
</ng-container>
<ng-container matColumnDef="Group_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Group_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Group_Name" name="Group_Name" [(ngModel)]="element.Group_Name"></td>
</ng-container>
<ng-container matColumnDef="Language_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Language_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Language_Id" name="Language_Id" [(ngModel)]="element.Language_Id"></td>
</ng-container>
<ng-container matColumnDef="Domain_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Domain_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Domain_Id" name="Domain_Id" [(ngModel)]="element.Domain_Id"></td>
</ng-container>
<ng-container matColumnDef="Admin">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Admin" name="Admin" [(ngModel)]="element.Admin"></td>
</ng-container>
<ng-container matColumnDef="DefaultGroup">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DefaultGroup</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DefaultGroup" name="DefaultGroup" [(ngModel)]="element.DefaultGroup"></td>
</ng-container>
<ng-container matColumnDef="Member">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Member</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Member" name="Member" [(ngModel)]="element.Member"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>
<ng-container matColumnDef="Creation_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Creation_Date" name="Creation_Date" [(ngModel)]="element.Creation_Date"></td>
</ng-container>
<ng-container matColumnDef="Created_By">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Created_By</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Created_By" name="Created_By" [(ngModel)]="element.Created_By"></td>
</ng-container>
<ng-container matColumnDef="Last_Update_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Update_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Update_Date" name="Last_Update_Date" [(ngModel)]="element.Last_Update_Date"></td>
</ng-container>
<ng-container matColumnDef="Last_Updated_By">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Updated_By</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Updated_By" name="Last_Updated_By" [(ngModel)]="element.Last_Updated_By"></td>
</ng-container>
<ng-container matColumnDef="Latin_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Latin_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Latin_Name" name="Latin_Name" [(ngModel)]="element.Latin_Name"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="Sys_GroupsService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_GroupsService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_GroupsPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_GroupsService.IsShowLoading"></app-loading>
