<div class="custom-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-DM_BenhNhanDetail" data-bs-toggle="tab" href="#DM_BenhNhanDetail" role="tab"
               aria-controls="DM_BenhNhanDetail" aria-selected="true">
                <span class="badge bg-info" style="font-size: 16px;">DM_BenhNhan</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a style="cursor: pointer;" class="nav-link" id="tab-Close" data-bs-toggle="tab" (click)="Close()"
               role="tab" aria-controls="Close" aria-selected="false">
                <span class="badge bg-danger" style="font-size: 16px;"><i class="bi bi-x-lg"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="customTabContent">
        <div class="tab-pane fade show active" id="DM_BenhNhanDetail" role="tabpanel">
            <div class="row gx-4">
                <div class="col-lg-6 col-sm-12 col-12">
                    <a style="width: 100%;" title="Lưu thay đổi" (click)="DM_BenhNhanSave()" class="btn btn-info">
                        <i class="bi bi-sd-card"></i> Lưu thay đổi
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">BenhNhan_Id</label>
<input name="BenhNhan_Id" [(ngModel)]="DM_BenhNhanService.FormData.BenhNhan_Id" placeholder="BenhNhan_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">MaYTe</label>
<input name="MaYTe" [(ngModel)]="DM_BenhNhanService.FormData.MaYTe" placeholder="MaYTe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">MaBenhVien</label>
<input name="MaBenhVien" [(ngModel)]="DM_BenhNhanService.FormData.MaBenhVien" placeholder="MaBenhVien" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoVaoVien</label>
<input name="SoVaoVien" [(ngModel)]="DM_BenhNhanService.FormData.SoVaoVien" placeholder="SoVaoVien" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TenBenhNhan</label>
<input name="TenBenhNhan" [(ngModel)]="DM_BenhNhanService.FormData.TenBenhNhan" placeholder="TenBenhNhan" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Ho</label>
<input name="Ho" [(ngModel)]="DM_BenhNhanService.FormData.Ho" placeholder="Ho" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Ten</label>
<input name="Ten" [(ngModel)]="DM_BenhNhanService.FormData.Ten" placeholder="Ten" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">GioiTinh</label>
<input name="GioiTinh" [(ngModel)]="DM_BenhNhanService.FormData.GioiTinh" placeholder="GioiTinh" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgaySinh</label>
<input name="NgaySinh" [(ngModel)]="DM_BenhNhanService.FormData.NgaySinh" placeholder="NgaySinh" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NamSinh</label>
<input name="NamSinh" [(ngModel)]="DM_BenhNhanService.FormData.NamSinh" placeholder="NamSinh" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoNha</label>
<input name="SoNha" [(ngModel)]="DM_BenhNhanService.FormData.SoNha" placeholder="SoNha" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DiaChi</label>
<input name="DiaChi" [(ngModel)]="DM_BenhNhanService.FormData.DiaChi" placeholder="DiaChi" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NhomMau_Id</label>
<input name="NhomMau_Id" [(ngModel)]="DM_BenhNhanService.FormData.NhomMau_Id" placeholder="NhomMau_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">YeuToRh_Id</label>
<input name="YeuToRh_Id" [(ngModel)]="DM_BenhNhanService.FormData.YeuToRh_Id" placeholder="YeuToRh_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TienSuDiUng</label>
<input name="TienSuDiUng" [(ngModel)]="DM_BenhNhanService.FormData.TienSuDiUng" placeholder="TienSuDiUng" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoLuuTruNgoaiTru</label>
<input name="SoLuuTruNgoaiTru" [(ngModel)]="DM_BenhNhanService.FormData.SoLuuTruNgoaiTru" placeholder="SoLuuTruNgoaiTru" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoLuuTruNoiTru</label>
<input name="SoLuuTruNoiTru" [(ngModel)]="DM_BenhNhanService.FormData.SoLuuTruNoiTru" placeholder="SoLuuTruNoiTru" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">QuocTich_Id</label>
<input name="QuocTich_Id" [(ngModel)]="DM_BenhNhanService.FormData.QuocTich_Id" placeholder="QuocTich_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TinhThanh_Id</label>
<input name="TinhThanh_Id" [(ngModel)]="DM_BenhNhanService.FormData.TinhThanh_Id" placeholder="TinhThanh_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">QuanHuyen_Id</label>
<input name="QuanHuyen_Id" [(ngModel)]="DM_BenhNhanService.FormData.QuanHuyen_Id" placeholder="QuanHuyen_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">XaPhuong_Id</label>
<input name="XaPhuong_Id" [(ngModel)]="DM_BenhNhanService.FormData.XaPhuong_Id" placeholder="XaPhuong_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanToc_Id</label>
<input name="DanToc_Id" [(ngModel)]="DM_BenhNhanService.FormData.DanToc_Id" placeholder="DanToc_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgheNghiep_Id</label>
<input name="NgheNghiep_Id" [(ngModel)]="DM_BenhNhanService.FormData.NgheNghiep_Id" placeholder="NgheNghiep_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">VietKieu</label>
<input name="VietKieu" [(ngModel)]="DM_BenhNhanService.FormData.VietKieu" placeholder="VietKieu" type="text" class="form-control">
</div>
                   
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiNuocNgoai</label>
<input name="NguoiNuocNgoai" [(ngModel)]="DM_BenhNhanService.FormData.NguoiNuocNgoai" placeholder="NguoiNuocNgoai" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">CMND</label>
<input name="CMND" [(ngModel)]="DM_BenhNhanService.FormData.CMND" placeholder="CMND" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">HoChieu</label>
<input name="HoChieu" [(ngModel)]="DM_BenhNhanService.FormData.HoChieu" placeholder="HoChieu" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TenKhongDau</label>
<input name="TenKhongDau" [(ngModel)]="DM_BenhNhanService.FormData.TenKhongDau" placeholder="TenKhongDau" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">GhiChu</label>
<input name="GhiChu" [(ngModel)]="DM_BenhNhanService.FormData.GhiChu" placeholder="GhiChu" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayTao</label>
<input name="NgayTao" [(ngModel)]="DM_BenhNhanService.FormData.NgayTao" placeholder="NgayTao" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiTao_Id</label>
<input name="NguoiTao_Id" [(ngModel)]="DM_BenhNhanService.FormData.NguoiTao_Id" placeholder="NguoiTao_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayCapNhat</label>
<input name="NgayCapNhat" [(ngModel)]="DM_BenhNhanService.FormData.NgayCapNhat" placeholder="NgayCapNhat" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiCapNhat_Id</label>
<input name="NguoiCapNhat_Id" [(ngModel)]="DM_BenhNhanService.FormData.NguoiCapNhat_Id" placeholder="NguoiCapNhat_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayCapThe</label>
<input name="NgayCapThe" [(ngModel)]="DM_BenhNhanService.FormData.NgayCapThe" placeholder="NgayCapThe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NamCapThe</label>
<input name="NamCapThe" [(ngModel)]="DM_BenhNhanService.FormData.NamCapThe" placeholder="NamCapThe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThoiGianCapThe</label>
<input name="ThoiGianCapThe" [(ngModel)]="DM_BenhNhanService.FormData.ThoiGianCapThe" placeholder="ThoiGianCapThe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NhanVien_Id</label>
<input name="NhanVien_Id" [(ngModel)]="DM_BenhNhanService.FormData.NhanVien_Id" placeholder="NhanVien_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TienSuBenh</label>
<input name="TienSuBenh" [(ngModel)]="DM_BenhNhanService.FormData.TienSuBenh" placeholder="TienSuBenh" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TienSuHutThuocLa</label>
<input name="TienSuHutThuocLa" [(ngModel)]="DM_BenhNhanService.FormData.TienSuHutThuocLa" placeholder="TienSuHutThuocLa" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DonViCongTac_Id</label>
<input name="DonViCongTac_Id" [(ngModel)]="DM_BenhNhanService.FormData.DonViCongTac_Id" placeholder="DonViCongTac_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoDienThoai</label>
<input name="SoDienThoai" [(ngModel)]="DM_BenhNhanService.FormData.SoDienThoai" placeholder="SoDienThoai" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DiaChiThuongTru</label>
<input name="DiaChiThuongTru" [(ngModel)]="DM_BenhNhanService.FormData.DiaChiThuongTru" placeholder="DiaChiThuongTru" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DiaChiLienLac</label>
<input name="DiaChiLienLac" [(ngModel)]="DM_BenhNhanService.FormData.DiaChiLienLac" placeholder="DiaChiLienLac" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Email</label>
<input name="Email" [(ngModel)]="DM_BenhNhanService.FormData.Email" placeholder="Email" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DiaChiCoQuan</label>
<input name="DiaChiCoQuan" [(ngModel)]="DM_BenhNhanService.FormData.DiaChiCoQuan" placeholder="DiaChiCoQuan" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TuVong</label>
<input name="TuVong" [(ngModel)]="DM_BenhNhanService.FormData.TuVong" placeholder="TuVong" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayTuVong</label>
<input name="NgayTuVong" [(ngModel)]="DM_BenhNhanService.FormData.NgayTuVong" placeholder="NgayTuVong" type="text" class="form-control">
</div>

                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThoiGianTuVong</label>
<input name="ThoiGianTuVong" [(ngModel)]="DM_BenhNhanService.FormData.ThoiGianTuVong" placeholder="ThoiGianTuVong" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguyenNhanTuVong_Id</label>
<input name="NguyenNhanTuVong_Id" [(ngModel)]="DM_BenhNhanService.FormData.NguyenNhanTuVong_Id" placeholder="NguyenNhanTuVong_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiGhiNhanTuVong_Id</label>
<input name="NguoiGhiNhanTuVong_Id" [(ngModel)]="DM_BenhNhanService.FormData.NguoiGhiNhanTuVong_Id" placeholder="NguoiGhiNhanTuVong_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThoiGianGhiNhanTuVong</label>
<input name="ThoiGianGhiNhanTuVong" [(ngModel)]="DM_BenhNhanService.FormData.ThoiGianGhiNhanTuVong" placeholder="ThoiGianGhiNhanTuVong" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">CountNotes</label>
<input name="CountNotes" [(ngModel)]="DM_BenhNhanService.FormData.CountNotes" placeholder="CountNotes" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ngaytaobenhnhan</label>
<input name="ngaytaobenhnhan" [(ngModel)]="DM_BenhNhanService.FormData.ngaytaobenhnhan" placeholder="ngaytaobenhnhan" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TinhTrangHonNhan_Id</label>
<input name="TinhTrangHonNhan_Id" [(ngModel)]="DM_BenhNhanService.FormData.TinhTrangHonNhan_Id" placeholder="TinhTrangHonNhan_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">MoiQuanHe_Id</label>
<input name="MoiQuanHe_Id" [(ngModel)]="DM_BenhNhanService.FormData.MoiQuanHe_Id" placeholder="MoiQuanHe_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DienThoaiBan</label>
<input name="DienThoaiBan" [(ngModel)]="DM_BenhNhanService.FormData.DienThoaiBan" placeholder="DienThoaiBan" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiLienHe</label>
<input name="NguoiLienHe" [(ngModel)]="DM_BenhNhanService.FormData.NguoiLienHe" placeholder="NguoiLienHe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DienThoai_NLH</label>
<input name="DienThoai_NLH" [(ngModel)]="DM_BenhNhanService.FormData.DienThoai_NLH" placeholder="DienThoai_NLH" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SiteCode</label>
<input name="SiteCode" [(ngModel)]="DM_BenhNhanService.FormData.SiteCode" placeholder="SiteCode" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Mapping_Public_Id</label>
<input name="Mapping_Public_Id" [(ngModel)]="DM_BenhNhanService.FormData.Mapping_Public_Id" placeholder="Mapping_Public_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">MaDinhDanh_PID</label>
<input name="MaDinhDanh_PID" [(ngModel)]="DM_BenhNhanService.FormData.MaDinhDanh_PID" placeholder="MaDinhDanh_PID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Status_PID</label>
<input name="Status_PID" [(ngModel)]="DM_BenhNhanService.FormData.Status_PID" placeholder="Status_PID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">CMND_NgayCap</label>
<input name="CMND_NgayCap" [(ngModel)]="DM_BenhNhanService.FormData.CMND_NgayCap" placeholder="CMND_NgayCap" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">CMND_NoiCap</label>
<input name="CMND_NoiCap" [(ngModel)]="DM_BenhNhanService.FormData.CMND_NoiCap" placeholder="CMND_NoiCap" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoBHXH</label>
<input name="SoBHXH" [(ngModel)]="DM_BenhNhanService.FormData.SoBHXH" placeholder="SoBHXH" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoBHXH_NgayCap</label>
<input name="SoBHXH_NgayCap" [(ngModel)]="DM_BenhNhanService.FormData.SoBHXH_NgayCap" placeholder="SoBHXH_NgayCap" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TenCha</label>
<input name="TenCha" [(ngModel)]="DM_BenhNhanService.FormData.TenCha" placeholder="TenCha" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TenMe</label>
<input name="TenMe" [(ngModel)]="DM_BenhNhanService.FormData.TenMe" placeholder="TenMe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TenVoChong</label>
<input name="TenVoChong" [(ngModel)]="DM_BenhNhanService.FormData.TenVoChong" placeholder="TenVoChong" type="text" class="form-control">
</div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DM_BenhNhanService.IsShowLoading"></app-loading>
