<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        HRLichCongTac
                        <span *ngIf="HRLichCongTacService.List">({{HRLichCongTacService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/HRLichCongTac" title="HRLichCongTac">
                                HRLichCongTac
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="HRLichCongTacService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="HRLichCongTacSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="HRLichCongTacSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #HRLichCongTacSort="matSort"
                           [dataSource]="HRLichCongTacService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="HRLichCongTacPaginator">
                                    {{
HRLichCongTacPaginator.pageSize *
                                    HRLichCongTacPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="HRLichCongTacSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="HRLichCongTacDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
<td mat-cell *matCellDef="let element">{{element.ID}}</td>
</ng-container>
<ng-container matColumnDef="ParentID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ParentID</th>
<td mat-cell *matCellDef="let element">{{element.ParentID}}</td>
</ng-container>
<ng-container matColumnDef="ParentName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ParentName</th>
<td mat-cell *matCellDef="let element">{{element.ParentName}}</td>
</ng-container>
<ng-container matColumnDef="CreatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedDate</th>
<td mat-cell *matCellDef="let element">{{element.CreatedDate}}</td>
</ng-container>
<ng-container matColumnDef="CreatedMembershipID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedMembershipID</th>
<td mat-cell *matCellDef="let element">{{element.CreatedMembershipID}}</td>
</ng-container>
<ng-container matColumnDef="LastUpdatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LastUpdatedDate</th>
<td mat-cell *matCellDef="let element">{{element.LastUpdatedDate}}</td>
</ng-container>
<ng-container matColumnDef="LastUpdatedMembershipID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LastUpdatedMembershipID</th>
<td mat-cell *matCellDef="let element">{{element.LastUpdatedMembershipID}}</td>
</ng-container>
<ng-container matColumnDef="RowVersion">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RowVersion</th>
<td mat-cell *matCellDef="let element">{{element.RowVersion}}</td>
</ng-container>
<ng-container matColumnDef="SortOrder">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SortOrder</th>
<td mat-cell *matCellDef="let element">{{element.SortOrder}}</td>
</ng-container>
<ng-container matColumnDef="Active">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
<td mat-cell *matCellDef="let element">{{element.Active}}</td>
</ng-container>
<ng-container matColumnDef="TypeName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TypeName</th>
<td mat-cell *matCellDef="let element">{{element.TypeName}}</td>
</ng-container>
<ng-container matColumnDef="Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
<td mat-cell *matCellDef="let element">{{element.Name}}</td>
</ng-container>
<ng-container matColumnDef="Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
<td mat-cell *matCellDef="let element">{{element.Code}}</td>
</ng-container>
<ng-container matColumnDef="Note">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
<td mat-cell *matCellDef="let element">{{element.Note}}</td>
</ng-container>
<ng-container matColumnDef="Display">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Display</th>
<td mat-cell *matCellDef="let element">{{element.Display}}</td>
</ng-container>
<ng-container matColumnDef="FileName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FileName</th>
<td mat-cell *matCellDef="let element">{{element.FileName}}</td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element">{{element.Description}}</td>
</ng-container>
<ng-container matColumnDef="HTMLContent">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HTMLContent</th>
<td mat-cell *matCellDef="let element">{{element.HTMLContent}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucNgonNguID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucNgonNguID</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucNgonNguID}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucUngDungID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucUngDungID</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucUngDungID}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucNgonNguName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucNgonNguName</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucNgonNguName}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucUngDungName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucUngDungName</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucUngDungName}}</td>
</ng-container>
<ng-container matColumnDef="NgayGhiNhan">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayGhiNhan</th>
<td mat-cell *matCellDef="let element">{{element.NgayGhiNhan}}</td>
</ng-container>
<ng-container matColumnDef="Year">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
<td mat-cell *matCellDef="let element">{{element.Year}}</td>
</ng-container>
<ng-container matColumnDef="Month">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
<td mat-cell *matCellDef="let element">{{element.Month}}</td>
</ng-container>
<ng-container matColumnDef="Day">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
<td mat-cell *matCellDef="let element">{{element.Day}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong}}</td>
</ng-container>
<ng-container matColumnDef="Ngay01">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay01</th>
<td mat-cell *matCellDef="let element">{{element.Ngay01}}</td>
</ng-container>
<ng-container matColumnDef="Name01">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name01</th>
<td mat-cell *matCellDef="let element">{{element.Name01}}</td>
</ng-container>
<ng-container matColumnDef="Code01">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code01</th>
<td mat-cell *matCellDef="let element">{{element.Code01}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong01">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong01</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong01}}</td>
</ng-container>
<ng-container matColumnDef="Ngay02">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay02</th>
<td mat-cell *matCellDef="let element">{{element.Ngay02}}</td>
</ng-container>
<ng-container matColumnDef="Name02">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name02</th>
<td mat-cell *matCellDef="let element">{{element.Name02}}</td>
</ng-container>
<ng-container matColumnDef="Code02">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code02</th>
<td mat-cell *matCellDef="let element">{{element.Code02}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong02">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong02</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong02}}</td>
</ng-container>
<ng-container matColumnDef="Ngay03">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay03</th>
<td mat-cell *matCellDef="let element">{{element.Ngay03}}</td>
</ng-container>
<ng-container matColumnDef="Name03">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name03</th>
<td mat-cell *matCellDef="let element">{{element.Name03}}</td>
</ng-container>
<ng-container matColumnDef="Code03">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code03</th>
<td mat-cell *matCellDef="let element">{{element.Code03}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong03">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong03</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong03}}</td>
</ng-container>
<ng-container matColumnDef="Ngay04">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay04</th>
<td mat-cell *matCellDef="let element">{{element.Ngay04}}</td>
</ng-container>
<ng-container matColumnDef="Name04">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name04</th>
<td mat-cell *matCellDef="let element">{{element.Name04}}</td>
</ng-container>
<ng-container matColumnDef="Code04">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code04</th>
<td mat-cell *matCellDef="let element">{{element.Code04}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong04">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong04</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong04}}</td>
</ng-container>
<ng-container matColumnDef="Ngay05">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay05</th>
<td mat-cell *matCellDef="let element">{{element.Ngay05}}</td>
</ng-container>
<ng-container matColumnDef="Name05">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name05</th>
<td mat-cell *matCellDef="let element">{{element.Name05}}</td>
</ng-container>
<ng-container matColumnDef="Code05">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code05</th>
<td mat-cell *matCellDef="let element">{{element.Code05}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong05">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong05</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong05}}</td>
</ng-container>
<ng-container matColumnDef="Ngay06">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay06</th>
<td mat-cell *matCellDef="let element">{{element.Ngay06}}</td>
</ng-container>
<ng-container matColumnDef="Name06">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name06</th>
<td mat-cell *matCellDef="let element">{{element.Name06}}</td>
</ng-container>
<ng-container matColumnDef="Code06">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code06</th>
<td mat-cell *matCellDef="let element">{{element.Code06}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong06">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong06</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong06}}</td>
</ng-container>
<ng-container matColumnDef="Ngay07">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay07</th>
<td mat-cell *matCellDef="let element">{{element.Ngay07}}</td>
</ng-container>
<ng-container matColumnDef="Name07">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name07</th>
<td mat-cell *matCellDef="let element">{{element.Name07}}</td>
</ng-container>
<ng-container matColumnDef="Code07">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code07</th>
<td mat-cell *matCellDef="let element">{{element.Code07}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong07">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong07</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong07}}</td>
</ng-container>
<ng-container matColumnDef="Ngay08">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay08</th>
<td mat-cell *matCellDef="let element">{{element.Ngay08}}</td>
</ng-container>
<ng-container matColumnDef="Name08">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name08</th>
<td mat-cell *matCellDef="let element">{{element.Name08}}</td>
</ng-container>
<ng-container matColumnDef="Code08">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code08</th>
<td mat-cell *matCellDef="let element">{{element.Code08}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong08">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong08</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong08}}</td>
</ng-container>
<ng-container matColumnDef="Ngay09">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay09</th>
<td mat-cell *matCellDef="let element">{{element.Ngay09}}</td>
</ng-container>
<ng-container matColumnDef="Name09">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name09</th>
<td mat-cell *matCellDef="let element">{{element.Name09}}</td>
</ng-container>
<ng-container matColumnDef="Code09">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code09</th>
<td mat-cell *matCellDef="let element">{{element.Code09}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong09">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong09</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong09}}</td>
</ng-container>
<ng-container matColumnDef="Ngay10">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay10</th>
<td mat-cell *matCellDef="let element">{{element.Ngay10}}</td>
</ng-container>
<ng-container matColumnDef="Name10">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name10</th>
<td mat-cell *matCellDef="let element">{{element.Name10}}</td>
</ng-container>
<ng-container matColumnDef="Code10">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code10</th>
<td mat-cell *matCellDef="let element">{{element.Code10}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong10">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong10</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong10}}</td>
</ng-container>
<ng-container matColumnDef="Ngay11">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay11</th>
<td mat-cell *matCellDef="let element">{{element.Ngay11}}</td>
</ng-container>
<ng-container matColumnDef="Name11">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name11</th>
<td mat-cell *matCellDef="let element">{{element.Name11}}</td>
</ng-container>
<ng-container matColumnDef="Code11">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code11</th>
<td mat-cell *matCellDef="let element">{{element.Code11}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong11">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong11</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong11}}</td>
</ng-container>
<ng-container matColumnDef="Ngay12">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay12</th>
<td mat-cell *matCellDef="let element">{{element.Ngay12}}</td>
</ng-container>
<ng-container matColumnDef="Name12">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name12</th>
<td mat-cell *matCellDef="let element">{{element.Name12}}</td>
</ng-container>
<ng-container matColumnDef="Code12">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code12</th>
<td mat-cell *matCellDef="let element">{{element.Code12}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong12">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong12</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong12}}</td>
</ng-container>
<ng-container matColumnDef="Ngay13">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay13</th>
<td mat-cell *matCellDef="let element">{{element.Ngay13}}</td>
</ng-container>
<ng-container matColumnDef="Name13">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name13</th>
<td mat-cell *matCellDef="let element">{{element.Name13}}</td>
</ng-container>
<ng-container matColumnDef="Code13">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code13</th>
<td mat-cell *matCellDef="let element">{{element.Code13}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong13">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong13</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong13}}</td>
</ng-container>
<ng-container matColumnDef="Ngay14">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay14</th>
<td mat-cell *matCellDef="let element">{{element.Ngay14}}</td>
</ng-container>
<ng-container matColumnDef="Name14">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name14</th>
<td mat-cell *matCellDef="let element">{{element.Name14}}</td>
</ng-container>
<ng-container matColumnDef="Code14">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code14</th>
<td mat-cell *matCellDef="let element">{{element.Code14}}</td>
</ng-container>
<ng-container matColumnDef="Ngay15">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay15</th>
<td mat-cell *matCellDef="let element">{{element.Ngay15}}</td>
</ng-container>
<ng-container matColumnDef="Name15">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name15</th>
<td mat-cell *matCellDef="let element">{{element.Name15}}</td>
</ng-container>
<ng-container matColumnDef="Code15">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code15</th>
<td mat-cell *matCellDef="let element">{{element.Code15}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong15">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong15</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong15}}</td>
</ng-container>
<ng-container matColumnDef="Ngay16">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay16</th>
<td mat-cell *matCellDef="let element">{{element.Ngay16}}</td>
</ng-container>
<ng-container matColumnDef="Name16">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name16</th>
<td mat-cell *matCellDef="let element">{{element.Name16}}</td>
</ng-container>
<ng-container matColumnDef="Code16">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code16</th>
<td mat-cell *matCellDef="let element">{{element.Code16}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong16">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong16</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong16}}</td>
</ng-container>
<ng-container matColumnDef="Ngay17">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay17</th>
<td mat-cell *matCellDef="let element">{{element.Ngay17}}</td>
</ng-container>
<ng-container matColumnDef="Name17">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name17</th>
<td mat-cell *matCellDef="let element">{{element.Name17}}</td>
</ng-container>
<ng-container matColumnDef="Code17">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code17</th>
<td mat-cell *matCellDef="let element">{{element.Code17}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong17">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong17</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong17}}</td>
</ng-container>
<ng-container matColumnDef="Ngay18">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay18</th>
<td mat-cell *matCellDef="let element">{{element.Ngay18}}</td>
</ng-container>
<ng-container matColumnDef="Name18">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name18</th>
<td mat-cell *matCellDef="let element">{{element.Name18}}</td>
</ng-container>
<ng-container matColumnDef="Code18">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code18</th>
<td mat-cell *matCellDef="let element">{{element.Code18}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong18">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong18</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong18}}</td>
</ng-container>
<ng-container matColumnDef="Ngay19">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay19</th>
<td mat-cell *matCellDef="let element">{{element.Ngay19}}</td>
</ng-container>
<ng-container matColumnDef="Name19">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name19</th>
<td mat-cell *matCellDef="let element">{{element.Name19}}</td>
</ng-container>
<ng-container matColumnDef="Code19">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code19</th>
<td mat-cell *matCellDef="let element">{{element.Code19}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong19">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong19</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong19}}</td>
</ng-container>
<ng-container matColumnDef="Ngay20">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay20</th>
<td mat-cell *matCellDef="let element">{{element.Ngay20}}</td>
</ng-container>
<ng-container matColumnDef="Name20">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name20</th>
<td mat-cell *matCellDef="let element">{{element.Name20}}</td>
</ng-container>
<ng-container matColumnDef="Code20">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code20</th>
<td mat-cell *matCellDef="let element">{{element.Code20}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong20">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong20</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong20}}</td>
</ng-container>
<ng-container matColumnDef="Ngay21">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay21</th>
<td mat-cell *matCellDef="let element">{{element.Ngay21}}</td>
</ng-container>
<ng-container matColumnDef="Name21">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name21</th>
<td mat-cell *matCellDef="let element">{{element.Name21}}</td>
</ng-container>
<ng-container matColumnDef="Code21">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code21</th>
<td mat-cell *matCellDef="let element">{{element.Code21}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong21">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong21</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong21}}</td>
</ng-container>
<ng-container matColumnDef="Ngay22">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay22</th>
<td mat-cell *matCellDef="let element">{{element.Ngay22}}</td>
</ng-container>
<ng-container matColumnDef="Name22">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name22</th>
<td mat-cell *matCellDef="let element">{{element.Name22}}</td>
</ng-container>
<ng-container matColumnDef="Code22">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code22</th>
<td mat-cell *matCellDef="let element">{{element.Code22}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong22">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong22</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong22}}</td>
</ng-container>
<ng-container matColumnDef="Ngay23">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay23</th>
<td mat-cell *matCellDef="let element">{{element.Ngay23}}</td>
</ng-container>
<ng-container matColumnDef="Name23">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name23</th>
<td mat-cell *matCellDef="let element">{{element.Name23}}</td>
</ng-container>
<ng-container matColumnDef="Code23">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code23</th>
<td mat-cell *matCellDef="let element">{{element.Code23}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong23">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong23</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong23}}</td>
</ng-container>
<ng-container matColumnDef="Ngay24">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay24</th>
<td mat-cell *matCellDef="let element">{{element.Ngay24}}</td>
</ng-container>
<ng-container matColumnDef="Name24">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name24</th>
<td mat-cell *matCellDef="let element">{{element.Name24}}</td>
</ng-container>
<ng-container matColumnDef="Code24">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code24</th>
<td mat-cell *matCellDef="let element">{{element.Code24}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong24">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong24</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong24}}</td>
</ng-container>
<ng-container matColumnDef="Ngay25">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay25</th>
<td mat-cell *matCellDef="let element">{{element.Ngay25}}</td>
</ng-container>
<ng-container matColumnDef="Name25">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name25</th>
<td mat-cell *matCellDef="let element">{{element.Name25}}</td>
</ng-container>
<ng-container matColumnDef="Code25">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code25</th>
<td mat-cell *matCellDef="let element">{{element.Code25}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong25">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong25</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong25}}</td>
</ng-container>
<ng-container matColumnDef="Ngay26">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay26</th>
<td mat-cell *matCellDef="let element">{{element.Ngay26}}</td>
</ng-container>
<ng-container matColumnDef="Name26">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name26</th>
<td mat-cell *matCellDef="let element">{{element.Name26}}</td>
</ng-container>
<ng-container matColumnDef="Code26">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code26</th>
<td mat-cell *matCellDef="let element">{{element.Code26}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong26">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong26</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong26}}</td>
</ng-container>
<ng-container matColumnDef="Ngay27">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay27</th>
<td mat-cell *matCellDef="let element">{{element.Ngay27}}</td>
</ng-container>
<ng-container matColumnDef="Name27">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name27</th>
<td mat-cell *matCellDef="let element">{{element.Name27}}</td>
</ng-container>
<ng-container matColumnDef="Code27">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code27</th>
<td mat-cell *matCellDef="let element">{{element.Code27}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong27">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong27</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong27}}</td>
</ng-container>
<ng-container matColumnDef="Ngay28">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay28</th>
<td mat-cell *matCellDef="let element">{{element.Ngay28}}</td>
</ng-container>
<ng-container matColumnDef="Name28">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name28</th>
<td mat-cell *matCellDef="let element">{{element.Name28}}</td>
</ng-container>
<ng-container matColumnDef="Code28">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code28</th>
<td mat-cell *matCellDef="let element">{{element.Code28}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong28">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong28</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong28}}</td>
</ng-container>
<ng-container matColumnDef="Ngay29">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay29</th>
<td mat-cell *matCellDef="let element">{{element.Ngay29}}</td>
</ng-container>
<ng-container matColumnDef="Name29">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name29</th>
<td mat-cell *matCellDef="let element">{{element.Name29}}</td>
</ng-container>
<ng-container matColumnDef="Code29">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code29</th>
<td mat-cell *matCellDef="let element">{{element.Code29}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong29">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong29</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong29}}</td>
</ng-container>
<ng-container matColumnDef="Ngay30">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay30</th>
<td mat-cell *matCellDef="let element">{{element.Ngay30}}</td>
</ng-container>
<ng-container matColumnDef="Name30">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name30</th>
<td mat-cell *matCellDef="let element">{{element.Name30}}</td>
</ng-container>
<ng-container matColumnDef="Code30">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code30</th>
<td mat-cell *matCellDef="let element">{{element.Code30}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong30">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong30</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong30}}</td>
</ng-container>
<ng-container matColumnDef="Ngay31">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay31</th>
<td mat-cell *matCellDef="let element">{{element.Ngay31}}</td>
</ng-container>
<ng-container matColumnDef="Name31">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name31</th>
<td mat-cell *matCellDef="let element">{{element.Name31}}</td>
</ng-container>
<ng-container matColumnDef="Code31">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code31</th>
<td mat-cell *matCellDef="let element">{{element.Code31}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong31">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong31</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong31}}</td>
</ng-container>
<ng-container matColumnDef="Ngay32">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay32</th>
<td mat-cell *matCellDef="let element">{{element.Ngay32}}</td>
</ng-container>
<ng-container matColumnDef="Name32">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name32</th>
<td mat-cell *matCellDef="let element">{{element.Name32}}</td>
</ng-container>
<ng-container matColumnDef="Code32">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code32</th>
<td mat-cell *matCellDef="let element">{{element.Code32}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong32">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong32</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong32}}</td>
</ng-container>
<ng-container matColumnDef="Ngay33">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay33</th>
<td mat-cell *matCellDef="let element">{{element.Ngay33}}</td>
</ng-container>
<ng-container matColumnDef="Name33">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name33</th>
<td mat-cell *matCellDef="let element">{{element.Name33}}</td>
</ng-container>
<ng-container matColumnDef="Code33">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code33</th>
<td mat-cell *matCellDef="let element">{{element.Code33}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong33">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong33</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong33}}</td>
</ng-container>
<ng-container matColumnDef="Ngay34">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay34</th>
<td mat-cell *matCellDef="let element">{{element.Ngay34}}</td>
</ng-container>
<ng-container matColumnDef="Name34">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name34</th>
<td mat-cell *matCellDef="let element">{{element.Name34}}</td>
</ng-container>
<ng-container matColumnDef="Code34">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code34</th>
<td mat-cell *matCellDef="let element">{{element.Code34}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong34">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong34</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong34}}</td>
</ng-container>
<ng-container matColumnDef="Ngay35">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Ngay35</th>
<td mat-cell *matCellDef="let element">{{element.Ngay35}}</td>
</ng-container>
<ng-container matColumnDef="Name35">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name35</th>
<td mat-cell *matCellDef="let element">{{element.Name35}}</td>
</ng-container>
<ng-container matColumnDef="Code35">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code35</th>
<td mat-cell *matCellDef="let element">{{element.Code35}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong35">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong35</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong35}}</td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="HRLichCongTacService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: HRLichCongTacService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #HRLichCongTacPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="HRLichCongTacService.IsShowLoading"></app-loading>

