<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        ToaThuoc:
                        <b>{{ToaThuocService.FormData.ToaThuoc_Id}} [{{ToaThuocService.FormData.ToaThuoc_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ToaThuoc" title="ToaThuoc">
                                ToaThuoc
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="ToaThuocAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="ToaThuocSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>ToaThuoc_Id</label>
<input placeholder="ToaThuoc_Id" [(ngModel)]="ToaThuocService.FormData.ToaThuoc_Id"  name="ToaThuocService.FormData.ToaThuoc_Id" type="text" class="form-control">
</div>
<div>
<label>KhamBenh_ToaThuoc_Id</label>
<input placeholder="KhamBenh_ToaThuoc_Id" [(ngModel)]="ToaThuocService.FormData.KhamBenh_ToaThuoc_Id"  name="ToaThuocService.FormData.KhamBenh_ToaThuoc_Id" type="text" class="form-control">
</div>
<div>
<label>SoThuTuToa</label>
<input placeholder="SoThuTuToa" [(ngModel)]="ToaThuocService.FormData.SoThuTuToa"  name="ToaThuocService.FormData.SoThuTuToa" type="text" class="form-control">
</div>
<div>
<label>KhamBenh_Id</label>
<input placeholder="KhamBenh_Id" [(ngModel)]="ToaThuocService.FormData.KhamBenh_Id"  name="ToaThuocService.FormData.KhamBenh_Id" type="text" class="form-control">
</div>
<div>
<label>Duoc_Id</label>
<input placeholder="Duoc_Id" [(ngModel)]="ToaThuocService.FormData.Duoc_Id"  name="ToaThuocService.FormData.Duoc_Id" type="text" class="form-control">
</div>
<div>
<label>SoLuong</label>
<input placeholder="SoLuong" [(ngModel)]="ToaThuocService.FormData.SoLuong"  name="ToaThuocService.FormData.SoLuong" type="text" class="form-control">
</div>
<div>
<label>SoNgay</label>
<input placeholder="SoNgay" [(ngModel)]="ToaThuocService.FormData.SoNgay"  name="ToaThuocService.FormData.SoNgay" type="text" class="form-control">
</div>
<div>
<label>SoLanTrenNgay</label>
<input placeholder="SoLanTrenNgay" [(ngModel)]="ToaThuocService.FormData.SoLanTrenNgay"  name="ToaThuocService.FormData.SoLanTrenNgay" type="text" class="form-control">
</div>
<div>
<label>SoLuongTrenLan</label>
<input placeholder="SoLuongTrenLan" [(ngModel)]="ToaThuocService.FormData.SoLuongTrenLan"  name="ToaThuocService.FormData.SoLuongTrenLan" type="text" class="form-control">
</div>
<div>
<label>SoLuong_BuoiSang</label>
<input placeholder="SoLuong_BuoiSang" [(ngModel)]="ToaThuocService.FormData.SoLuong_BuoiSang"  name="ToaThuocService.FormData.SoLuong_BuoiSang" type="text" class="form-control">
</div>
<div>
<label>SoLuong_BuoiTrua</label>
<input placeholder="SoLuong_BuoiTrua" [(ngModel)]="ToaThuocService.FormData.SoLuong_BuoiTrua"  name="ToaThuocService.FormData.SoLuong_BuoiTrua" type="text" class="form-control">
</div>
<div>
<label>SoLuong_BuoiChieu</label>
<input placeholder="SoLuong_BuoiChieu" [(ngModel)]="ToaThuocService.FormData.SoLuong_BuoiChieu"  name="ToaThuocService.FormData.SoLuong_BuoiChieu" type="text" class="form-control">
</div>
<div>
<label>SoLuong_BuoiToi</label>
<input placeholder="SoLuong_BuoiToi" [(ngModel)]="ToaThuocService.FormData.SoLuong_BuoiToi"  name="ToaThuocService.FormData.SoLuong_BuoiToi" type="text" class="form-control">
</div>
<div>
<label>DuongDung_Id</label>
<input placeholder="DuongDung_Id" [(ngModel)]="ToaThuocService.FormData.DuongDung_Id"  name="ToaThuocService.FormData.DuongDung_Id" type="text" class="form-control">
</div>
<div>
<label>DonGiaDoanhThu</label>
<input placeholder="DonGiaDoanhThu" [(ngModel)]="ToaThuocService.FormData.DonGiaDoanhThu"  name="ToaThuocService.FormData.DonGiaDoanhThu" type="text" class="form-control">
</div>
<div>
<label>DonGiaHoTro</label>
<input placeholder="DonGiaHoTro" [(ngModel)]="ToaThuocService.FormData.DonGiaHoTro"  name="ToaThuocService.FormData.DonGiaHoTro" type="text" class="form-control">
</div>
<div>
<label>DonGiaHoTroChiTra</label>
<input placeholder="DonGiaHoTroChiTra" [(ngModel)]="ToaThuocService.FormData.DonGiaHoTroChiTra"  name="ToaThuocService.FormData.DonGiaHoTroChiTra" type="text" class="form-control">
</div>
<div>
<label>DonGiaThanhToan</label>
<input placeholder="DonGiaThanhToan" [(ngModel)]="ToaThuocService.FormData.DonGiaThanhToan"  name="ToaThuocService.FormData.DonGiaThanhToan" type="text" class="form-control">
</div>
<div>
<label>TienTe_Id</label>
<input placeholder="TienTe_Id" [(ngModel)]="ToaThuocService.FormData.TienTe_Id"  name="ToaThuocService.FormData.TienTe_Id" type="text" class="form-control">
</div>
<div>
<label>TyGia</label>
<input placeholder="TyGia" [(ngModel)]="ToaThuocService.FormData.TyGia"  name="ToaThuocService.FormData.TyGia" type="text" class="form-control">
</div>
<div>
<label>HuyToaThuoc</label>
<input placeholder="HuyToaThuoc" [(ngModel)]="ToaThuocService.FormData.HuyToaThuoc"  name="ToaThuocService.FormData.HuyToaThuoc" type="text" class="form-control">
</div>
<div>
<label>GhiChu</label>
<input placeholder="GhiChu" [(ngModel)]="ToaThuocService.FormData.GhiChu"  name="ToaThuocService.FormData.GhiChu" type="text" class="form-control">
</div>
<div>
<label>TrangThai</label>
<input placeholder="TrangThai" [(ngModel)]="ToaThuocService.FormData.TrangThai"  name="ToaThuocService.FormData.TrangThai" type="text" class="form-control">
</div>
<div>
<label>NgayTao</label>
<input placeholder="NgayTao" [(ngModel)]="ToaThuocService.FormData.NgayTao"  name="ToaThuocService.FormData.NgayTao" type="text" class="form-control">
</div>
<div>
<label>NguoiTao_Id</label>
<input placeholder="NguoiTao_Id" [(ngModel)]="ToaThuocService.FormData.NguoiTao_Id"  name="ToaThuocService.FormData.NguoiTao_Id" type="text" class="form-control">
</div>
<div>
<label>NgayCapNhat</label>
<input placeholder="NgayCapNhat" [(ngModel)]="ToaThuocService.FormData.NgayCapNhat"  name="ToaThuocService.FormData.NgayCapNhat" type="text" class="form-control">
</div>
<div>
<label>NguoiCapNhat_Id</label>
<input placeholder="NguoiCapNhat_Id" [(ngModel)]="ToaThuocService.FormData.NguoiCapNhat_Id"  name="ToaThuocService.FormData.NguoiCapNhat_Id" type="text" class="form-control">
</div>
<div>
<label>idx</label>
<input placeholder="idx" [(ngModel)]="ToaThuocService.FormData.idx"  name="ToaThuocService.FormData.idx" type="text" class="form-control">
</div>
<div>
<label>LoaiGia_Id</label>
<input placeholder="LoaiGia_Id" [(ngModel)]="ToaThuocService.FormData.LoaiGia_Id"  name="ToaThuocService.FormData.LoaiGia_Id" type="text" class="form-control">
</div>
<div>
<label>NguonHang_id</label>
<input placeholder="NguonHang_id" [(ngModel)]="ToaThuocService.FormData.NguonHang_id"  name="ToaThuocService.FormData.NguonHang_id" type="text" class="form-control">
</div>
<div>
<label>GiaTriMienGiam</label>
<input placeholder="GiaTriMienGiam" [(ngModel)]="ToaThuocService.FormData.GiaTriMienGiam"  name="ToaThuocService.FormData.GiaTriMienGiam" type="text" class="form-control">
</div>
<div>
<label>GiaTriThatThu</label>
<input placeholder="GiaTriThatThu" [(ngModel)]="ToaThuocService.FormData.GiaTriThatThu"  name="ToaThuocService.FormData.GiaTriThatThu" type="text" class="form-control">
</div>
<div>
<label>GiaTriDaThanhToan</label>
<input placeholder="GiaTriDaThanhToan" [(ngModel)]="ToaThuocService.FormData.GiaTriDaThanhToan"  name="ToaThuocService.FormData.GiaTriDaThanhToan" type="text" class="form-control">
</div>
<div>
<label>DaThanhToan_MotPhan</label>
<input placeholder="DaThanhToan_MotPhan" [(ngModel)]="ToaThuocService.FormData.DaThanhToan_MotPhan"  name="ToaThuocService.FormData.DaThanhToan_MotPhan" type="text" class="form-control">
</div>
<div>
<label>DaThanhToan_HoanTat</label>
<input placeholder="DaThanhToan_HoanTat" [(ngModel)]="ToaThuocService.FormData.DaThanhToan_HoanTat"  name="ToaThuocService.FormData.DaThanhToan_HoanTat" type="text" class="form-control">
</div>
<div>
<label>PhatSinhHoaDon</label>
<input placeholder="PhatSinhHoaDon" [(ngModel)]="ToaThuocService.FormData.PhatSinhHoaDon"  name="ToaThuocService.FormData.PhatSinhHoaDon" type="text" class="form-control">
</div>
<div>
<label>DonGiaChenhLech</label>
<input placeholder="DonGiaChenhLech" [(ngModel)]="ToaThuocService.FormData.DonGiaChenhLech"  name="ToaThuocService.FormData.DonGiaChenhLech" type="text" class="form-control">
</div>
<div>
<label>DonGiaHoTroChenhLech</label>
<input placeholder="DonGiaHoTroChenhLech" [(ngModel)]="ToaThuocService.FormData.DonGiaHoTroChenhLech"  name="ToaThuocService.FormData.DonGiaHoTroChenhLech" type="text" class="form-control">
</div>
<div>
<label>GiaTriDaThanhToan_ChenhLech</label>
<input placeholder="GiaTriDaThanhToan_ChenhLech" [(ngModel)]="ToaThuocService.FormData.GiaTriDaThanhToan_ChenhLech"  name="ToaThuocService.FormData.GiaTriDaThanhToan_ChenhLech" type="text" class="form-control">
</div>
<div>
<label>GiaTriDaThanhToan_HoTroChenhLech</label>
<input placeholder="GiaTriDaThanhToan_HoTroChenhLech" [(ngModel)]="ToaThuocService.FormData.GiaTriDaThanhToan_HoTroChenhLech"  name="ToaThuocService.FormData.GiaTriDaThanhToan_HoTroChenhLech" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="ToaThuocService.IsShowLoading"></app-loading>

