<div class="custom-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-DM_BenhNhan_BHYTDetail" data-bs-toggle="tab" href="#DM_BenhNhan_BHYTDetail" role="tab"
               aria-controls="DM_BenhNhan_BHYTDetail" aria-selected="true">
                <span class="badge bg-info" style="font-size: 16px;">DM_BenhNhan_BHYT</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a style="cursor: pointer;" class="nav-link" id="tab-Close" data-bs-toggle="tab" (click)="Close()"
               role="tab" aria-controls="Close" aria-selected="false">
                <span class="badge bg-danger" style="font-size: 16px;"><i class="bi bi-x-lg"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="customTabContent">
        <div class="tab-pane fade show active" id="DM_BenhNhan_BHYTDetail" role="tabpanel">
            <div class="row gx-4">
                <div class="col-lg-6 col-sm-12 col-12">
                    <a style="width: 100%;" title="Lưu thay đổi" (click)="DM_BenhNhan_BHYTSave()" class="btn btn-info">
                        <i class="bi bi-sd-card"></i> Lưu thay đổi
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">BenhNhan_BHYT_Id</label>
<input name="BenhNhan_BHYT_Id" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.BenhNhan_BHYT_Id" placeholder="BenhNhan_BHYT_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">BenhNhan_Id</label>
<input name="BenhNhan_Id" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.BenhNhan_Id" placeholder="BenhNhan_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">LoaiBHYT</label>
<input name="LoaiBHYT" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.LoaiBHYT" placeholder="LoaiBHYT" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SoThe</label>
<input name="SoThe" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.SoThe" placeholder="SoThe" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayCap</label>
<input name="NgayCap" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NgayCap" placeholder="NgayCap" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayHieuLuc</label>
<input name="NgayHieuLuc" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NgayHieuLuc" placeholder="NgayHieuLuc" type="text" class="form-control">
</div>
                   
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayHetHieuLuc</label>
<input name="NgayHetHieuLuc" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NgayHetHieuLuc" placeholder="NgayHetHieuLuc" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TinhThanh_CapThe_Id</label>
<input name="TinhThanh_CapThe_Id" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.TinhThanh_CapThe_Id" placeholder="TinhThanh_CapThe_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">BenhVien_KCB_Id</label>
<input name="BenhVien_KCB_Id" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.BenhVien_KCB_Id" placeholder="BenhVien_KCB_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TamNgung</label>
<input name="TamNgung" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.TamNgung" placeholder="TamNgung" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayTao</label>
<input name="NgayTao" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NgayTao" placeholder="NgayTao" type="text" class="form-control">
</div>

                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiTao_Id</label>
<input name="NguoiTao_Id" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NguoiTao_Id" placeholder="NguoiTao_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayCapNhat</label>
<input name="NgayCapNhat" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NgayCapNhat" placeholder="NgayCapNhat" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NguoiCapNhat_Id</label>
<input name="NguoiCapNhat_Id" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NguoiCapNhat_Id" placeholder="NguoiCapNhat_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Tren3Nam</label>
<input name="Tren3Nam" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.Tren3Nam" placeholder="Tren3Nam" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Tren6Thang</label>
<input name="Tren6Thang" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.Tren6Thang" placeholder="Tren6Thang" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayHuong5Nam</label>
<input name="NgayHuong5Nam" [(ngModel)]="DM_BenhNhan_BHYTService.FormData.NgayHuong5Nam" placeholder="NgayHuong5Nam" type="text" class="form-control">
</div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DM_BenhNhan_BHYTService.IsShowLoading"></app-loading>
