<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        CLSKetQuaKhangSinhDo
                        <span *ngIf="CLSKetQuaKhangSinhDoService.List">({{CLSKetQuaKhangSinhDoService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/CLSKetQuaKhangSinhDo" title="CLSKetQuaKhangSinhDo">
                                CLSKetQuaKhangSinhDo
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="CLSKetQuaKhangSinhDoService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="CLSKetQuaKhangSinhDoSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="CLSKetQuaKhangSinhDoSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #CLSKetQuaKhangSinhDoSort="matSort"
                           [dataSource]="CLSKetQuaKhangSinhDoService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="CLSKetQuaKhangSinhDoPaginator">
                                    {{
CLSKetQuaKhangSinhDoPaginator.pageSize *
                                    CLSKetQuaKhangSinhDoPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="CLSKetQuaKhangSinhDoSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="CLSKetQuaKhangSinhDoDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="KetQuaKhangSinhDo_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KetQuaKhangSinhDo_Id</th>
<td mat-cell *matCellDef="let element">{{element.KetQuaKhangSinhDo_Id}}</td>
</ng-container>
<ng-container matColumnDef="CLSKetQua_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CLSKetQua_Id</th>
<td mat-cell *matCellDef="let element">{{element.CLSKetQua_Id}}</td>
</ng-container>
<ng-container matColumnDef="KhangSinhDo_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhangSinhDo_Id</th>
<td mat-cell *matCellDef="let element">{{element.KhangSinhDo_Id}}</td>
</ng-container>
<ng-container matColumnDef="NhomKhangSinhDo_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhomKhangSinhDo_Id</th>
<td mat-cell *matCellDef="let element">{{element.NhomKhangSinhDo_Id}}</td>
</ng-container>
<ng-container matColumnDef="TenNguonXetNghiem">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TenNguonXetNghiem</th>
<td mat-cell *matCellDef="let element">{{element.TenNguonXetNghiem}}</td>
</ng-container>
<ng-container matColumnDef="KetQua">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KetQua</th>
<td mat-cell *matCellDef="let element">{{element.KetQua}}</td>
</ng-container>
<ng-container matColumnDef="KhangSinhDo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhangSinhDo</th>
<td mat-cell *matCellDef="let element">{{element.KhangSinhDo}}</td>
</ng-container>
<ng-container matColumnDef="TenKetQua">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TenKetQua</th>
<td mat-cell *matCellDef="let element">{{element.TenKetQua}}</td>
</ng-container>
<ng-container matColumnDef="CapTren_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CapTren_Id</th>
<td mat-cell *matCellDef="let element">{{element.CapTren_Id}}</td>
</ng-container>
<ng-container matColumnDef="InstrMIC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>InstrMIC</th>
<td mat-cell *matCellDef="let element">{{element.InstrMIC}}</td>
</ng-container>
<ng-container matColumnDef="FinalSIR">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FinalSIR</th>
<td mat-cell *matCellDef="let element">{{element.FinalSIR}}</td>
</ng-container>
<ng-container matColumnDef="Rules">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Rules</th>
<td mat-cell *matCellDef="let element">{{element.Rules}}</td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="CLSKetQuaKhangSinhDoService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: CLSKetQuaKhangSinhDoService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #CLSKetQuaKhangSinhDoPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #CLSKetQuaKhangSinhDoSort="matSort"
                           [dataSource]="CLSKetQuaKhangSinhDoService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col-lg-12 col-sm-12 col-12">
<label>KetQuaKhangSinhDo_Id</label>
<br />
<label class="form-label">{{element.KetQuaKhangSinhDo_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>CLSKetQua_Id</label>
<br />
<label class="form-label">{{element.CLSKetQua_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KhangSinhDo_Id</label>
<br />
<label class="form-label">{{element.KhangSinhDo_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>NhomKhangSinhDo_Id</label>
<br />
<label class="form-label">{{element.NhomKhangSinhDo_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TenNguonXetNghiem</label>
<br />
<label class="form-label">{{element.TenNguonXetNghiem}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KetQua</label>
<br />
<label class="form-label">{{element.KetQua}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>KhangSinhDo</label>
<br />
<label class="form-label">{{element.KhangSinhDo}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TenKetQua</label>
<br />
<label class="form-label">{{element.TenKetQua}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>CapTren_Id</label>
<br />
<label class="form-label">{{element.CapTren_Id}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>InstrMIC</label>
<br />
<label class="form-label">{{element.InstrMIC}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>FinalSIR</label>
<br />
<label class="form-label">{{element.FinalSIR}}</label>
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Rules</label>
<br />
<label class="form-label">{{element.Rules}}</label>
</div>

                                </div>
                                <div class="row gx-4">
                                    <div class="col s6 m6 l6">
                                        <a (click)="CLSKetQuaKhangSinhDoSave(element)" style="color:#2196f3;">
                                            <i class="material-icons">save</i>
                                        </a>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a (click)="CLSKetQuaKhangSinhDoDelete(element)"
                                           style="color: red;"><i class="material-icons">delete_forever</i></a>
                                    </div>
                                </div>
                                <br />
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="CLSKetQuaKhangSinhDoService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: CLSKetQuaKhangSinhDoService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #CLSKetQuaKhangSinhDoPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="CLSKetQuaKhangSinhDoService.IsShowLoading"></app-loading>

