<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML9_CV130:
                        <b>{{XML9_CV130Service.FormData.XML9_CV130_Id}} [{{XML9_CV130Service.FormData.XML9_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML9_CV130" title="XML9_CV130">
                                XML9_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML9_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML9_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML9_CV130_Id</label>
<input placeholder="XML9_CV130_Id" [(ngModel)]="XML9_CV130Service.FormData.XML9_CV130_Id"  name="XML9_CV130Service.FormData.XML9_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML9_CV130Service.FormData.BenhAn_Id"  name="XML9_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML9_CV130Service.FormData.TiepNhan_Id"  name="XML9_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML9_CV130Service.FormData.BenhNhan_Id"  name="XML9_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML9_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML9_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML9_CV130Service.FormData.MA_LK"  name="XML9_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>MA_BHXH_NND</label>
<input placeholder="MA_BHXH_NND" [(ngModel)]="XML9_CV130Service.FormData.MA_BHXH_NND"  name="XML9_CV130Service.FormData.MA_BHXH_NND" type="text" class="form-control">
</div>
<div>
<label>MA_THE_NND</label>
<input placeholder="MA_THE_NND" [(ngModel)]="XML9_CV130Service.FormData.MA_THE_NND"  name="XML9_CV130Service.FormData.MA_THE_NND" type="text" class="form-control">
</div>
<div>
<label>HO_TEN_NND</label>
<input placeholder="HO_TEN_NND" [(ngModel)]="XML9_CV130Service.FormData.HO_TEN_NND"  name="XML9_CV130Service.FormData.HO_TEN_NND" type="text" class="form-control">
</div>
<div>
<label>NGAYSINH_NND</label>
<input placeholder="NGAYSINH_NND" [(ngModel)]="XML9_CV130Service.FormData.NGAYSINH_NND"  name="XML9_CV130Service.FormData.NGAYSINH_NND" type="text" class="form-control">
</div>
<div>
<label>MA_DANTOC_NND</label>
<input placeholder="MA_DANTOC_NND" [(ngModel)]="XML9_CV130Service.FormData.MA_DANTOC_NND"  name="XML9_CV130Service.FormData.MA_DANTOC_NND" type="text" class="form-control">
</div>
<div>
<label>SO_CCCD_NND</label>
<input placeholder="SO_CCCD_NND" [(ngModel)]="XML9_CV130Service.FormData.SO_CCCD_NND"  name="XML9_CV130Service.FormData.SO_CCCD_NND" type="text" class="form-control">
</div>
<div>
<label>NGAYCAP_CCCD_NND</label>
<input placeholder="NGAYCAP_CCCD_NND" [(ngModel)]="XML9_CV130Service.FormData.NGAYCAP_CCCD_NND"  name="XML9_CV130Service.FormData.NGAYCAP_CCCD_NND" type="text" class="form-control">
</div>
<div>
<label>NOICAP_CCCD_NND</label>
<input placeholder="NOICAP_CCCD_NND" [(ngModel)]="XML9_CV130Service.FormData.NOICAP_CCCD_NND"  name="XML9_CV130Service.FormData.NOICAP_CCCD_NND" type="text" class="form-control">
</div>
<div>
<label>NOI_CU_TRU_NND</label>
<input placeholder="NOI_CU_TRU_NND" [(ngModel)]="XML9_CV130Service.FormData.NOI_CU_TRU_NND"  name="XML9_CV130Service.FormData.NOI_CU_TRU_NND" type="text" class="form-control">
</div>
<div>
<label>MA_QUOCTICH</label>
<input placeholder="MA_QUOCTICH" [(ngModel)]="XML9_CV130Service.FormData.MA_QUOCTICH"  name="XML9_CV130Service.FormData.MA_QUOCTICH" type="text" class="form-control">
</div>
<div>
<label>MATINH_CU_TRU</label>
<input placeholder="MATINH_CU_TRU" [(ngModel)]="XML9_CV130Service.FormData.MATINH_CU_TRU"  name="XML9_CV130Service.FormData.MATINH_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MAHUYEN_CU_TRU</label>
<input placeholder="MAHUYEN_CU_TRU" [(ngModel)]="XML9_CV130Service.FormData.MAHUYEN_CU_TRU"  name="XML9_CV130Service.FormData.MAHUYEN_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MAXA_CU_TRU</label>
<input placeholder="MAXA_CU_TRU" [(ngModel)]="XML9_CV130Service.FormData.MAXA_CU_TRU"  name="XML9_CV130Service.FormData.MAXA_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>HO_TEN_CHA</label>
<input placeholder="HO_TEN_CHA" [(ngModel)]="XML9_CV130Service.FormData.HO_TEN_CHA"  name="XML9_CV130Service.FormData.HO_TEN_CHA" type="text" class="form-control">
</div>
<div>
<label>MA_THE_TAM</label>
<input placeholder="MA_THE_TAM" [(ngModel)]="XML9_CV130Service.FormData.MA_THE_TAM"  name="XML9_CV130Service.FormData.MA_THE_TAM" type="text" class="form-control">
</div>
<div>
<label>HO_TEN_CON</label>
<input placeholder="HO_TEN_CON" [(ngModel)]="XML9_CV130Service.FormData.HO_TEN_CON"  name="XML9_CV130Service.FormData.HO_TEN_CON" type="text" class="form-control">
</div>
<div>
<label>GIOI_TINH_CON</label>
<input placeholder="GIOI_TINH_CON" [(ngModel)]="XML9_CV130Service.FormData.GIOI_TINH_CON"  name="XML9_CV130Service.FormData.GIOI_TINH_CON" type="text" class="form-control">
</div>
<div>
<label>SO_CON</label>
<input placeholder="SO_CON" [(ngModel)]="XML9_CV130Service.FormData.SO_CON"  name="XML9_CV130Service.FormData.SO_CON" type="text" class="form-control">
</div>
<div>
<label>LAN_SINH</label>
<input placeholder="LAN_SINH" [(ngModel)]="XML9_CV130Service.FormData.LAN_SINH"  name="XML9_CV130Service.FormData.LAN_SINH" type="text" class="form-control">
</div>
<div>
<label>SO_CON_SONG</label>
<input placeholder="SO_CON_SONG" [(ngModel)]="XML9_CV130Service.FormData.SO_CON_SONG"  name="XML9_CV130Service.FormData.SO_CON_SONG" type="text" class="form-control">
</div>
<div>
<label>CAN_NANG_CON</label>
<input placeholder="CAN_NANG_CON" [(ngModel)]="XML9_CV130Service.FormData.CAN_NANG_CON"  name="XML9_CV130Service.FormData.CAN_NANG_CON" type="text" class="form-control">
</div>
<div>
<label>NGAY_SINH_CON</label>
<input placeholder="NGAY_SINH_CON" [(ngModel)]="XML9_CV130Service.FormData.NGAY_SINH_CON"  name="XML9_CV130Service.FormData.NGAY_SINH_CON" type="text" class="form-control">
</div>
<div>
<label>NOI_SINH_CON</label>
<input placeholder="NOI_SINH_CON" [(ngModel)]="XML9_CV130Service.FormData.NOI_SINH_CON"  name="XML9_CV130Service.FormData.NOI_SINH_CON" type="text" class="form-control">
</div>
<div>
<label>TINH_TRANG_CON</label>
<input placeholder="TINH_TRANG_CON" [(ngModel)]="XML9_CV130Service.FormData.TINH_TRANG_CON"  name="XML9_CV130Service.FormData.TINH_TRANG_CON" type="text" class="form-control">
</div>
<div>
<label>SINHCON_PHAUTHUAT</label>
<input placeholder="SINHCON_PHAUTHUAT" [(ngModel)]="XML9_CV130Service.FormData.SINHCON_PHAUTHUAT"  name="XML9_CV130Service.FormData.SINHCON_PHAUTHUAT" type="text" class="form-control">
</div>
<div>
<label>SINHCON_DUOI32TUAN</label>
<input placeholder="SINHCON_DUOI32TUAN" [(ngModel)]="XML9_CV130Service.FormData.SINHCON_DUOI32TUAN"  name="XML9_CV130Service.FormData.SINHCON_DUOI32TUAN" type="text" class="form-control">
</div>
<div>
<label>GHI_CHU</label>
<input placeholder="GHI_CHU" [(ngModel)]="XML9_CV130Service.FormData.GHI_CHU"  name="XML9_CV130Service.FormData.GHI_CHU" type="text" class="form-control">
</div>
<div>
<label>NGUOI_DO_DE</label>
<input placeholder="NGUOI_DO_DE" [(ngModel)]="XML9_CV130Service.FormData.NGUOI_DO_DE"  name="XML9_CV130Service.FormData.NGUOI_DO_DE" type="text" class="form-control">
</div>
<div>
<label>NGUOI_GHI_PHIEU</label>
<input placeholder="NGUOI_GHI_PHIEU" [(ngModel)]="XML9_CV130Service.FormData.NGUOI_GHI_PHIEU"  name="XML9_CV130Service.FormData.NGUOI_GHI_PHIEU" type="text" class="form-control">
</div>
<div>
<label>NGAY_CT</label>
<input placeholder="NGAY_CT" [(ngModel)]="XML9_CV130Service.FormData.NGAY_CT"  name="XML9_CV130Service.FormData.NGAY_CT" type="text" class="form-control">
</div>
<div>
<label>SO</label>
<input placeholder="SO" [(ngModel)]="XML9_CV130Service.FormData.SO"  name="XML9_CV130Service.FormData.SO" type="text" class="form-control">
</div>
<div>
<label>QUYEN_SO</label>
<input placeholder="QUYEN_SO" [(ngModel)]="XML9_CV130Service.FormData.QUYEN_SO"  name="XML9_CV130Service.FormData.QUYEN_SO" type="text" class="form-control">
</div>
<div>
<label>MA_TTDV</label>
<input placeholder="MA_TTDV" [(ngModel)]="XML9_CV130Service.FormData.MA_TTDV"  name="XML9_CV130Service.FormData.MA_TTDV" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML9_CV130Service.IsShowLoading"></app-loading>

