<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_ComboDefinitions
                        <span *ngIf="Sys_ComboDefinitionsService.List">({{Sys_ComboDefinitionsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_ComboDefinitions" title="Sys_ComboDefinitions">
                                Sys_ComboDefinitions
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_ComboDefinitionsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_ComboDefinitionsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_ComboDefinitionsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_ComboDefinitionsSort="matSort"
                           [dataSource]="Sys_ComboDefinitionsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_ComboDefinitionsPaginator">
                                    {{
Sys_ComboDefinitionsPaginator.pageSize *
                                    Sys_ComboDefinitionsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_ComboDefinitionsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="Sys_ComboDefinitionsDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="ComboDefinition_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ComboDefinition_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ComboDefinition_Id" name="ComboDefinition_Id" [(ngModel)]="element.ComboDefinition_Id"></td>
</ng-container>
<ng-container matColumnDef="ComboDefinition_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ComboDefinition_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ComboDefinition_Code" name="ComboDefinition_Code" [(ngModel)]="element.ComboDefinition_Code"></td>
</ng-container>
<ng-container matColumnDef="Language_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Language_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Language_Id" name="Language_Id" [(ngModel)]="element.Language_Id"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>
<ng-container matColumnDef="ColumnHeader">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ColumnHeader</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ColumnHeader" name="ColumnHeader" [(ngModel)]="element.ColumnHeader"></td>
</ng-container>
<ng-container matColumnDef="AddBlankItem">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AddBlankItem</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="AddBlankItem" name="AddBlankItem" [(ngModel)]="element.AddBlankItem"></td>
</ng-container>
<ng-container matColumnDef="ColumnHeaderVisible">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ColumnHeaderVisible</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ColumnHeaderVisible" name="ColumnHeaderVisible" [(ngModel)]="element.ColumnHeaderVisible"></td>
</ng-container>
<ng-container matColumnDef="ProcedureName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ProcedureName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ProcedureName" name="ProcedureName" [(ngModel)]="element.ProcedureName"></td>
</ng-container>
<ng-container matColumnDef="DefaultValue">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DefaultValue</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DefaultValue" name="DefaultValue" [(ngModel)]="element.DefaultValue"></td>
</ng-container>
<ng-container matColumnDef="DefaultValueName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DefaultValueName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DefaultValueName" name="DefaultValueName" [(ngModel)]="element.DefaultValueName"></td>
</ng-container>
<ng-container matColumnDef="UseDefaultSort">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UseDefaultSort</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UseDefaultSort" name="UseDefaultSort" [(ngModel)]="element.UseDefaultSort"></td>
</ng-container>
<ng-container matColumnDef="LovEnabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LovEnabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LovEnabled" name="LovEnabled" [(ngModel)]="element.LovEnabled"></td>
</ng-container>
<ng-container matColumnDef="Attribute1">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute1</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute1" name="Attribute1" [(ngModel)]="element.Attribute1"></td>
</ng-container>
<ng-container matColumnDef="Attribute2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute2</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute2" name="Attribute2" [(ngModel)]="element.Attribute2"></td>
</ng-container>
<ng-container matColumnDef="Attribute3">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute3</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute3" name="Attribute3" [(ngModel)]="element.Attribute3"></td>
</ng-container>
<ng-container matColumnDef="Attribute4">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute4</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute4" name="Attribute4" [(ngModel)]="element.Attribute4"></td>
</ng-container>
<ng-container matColumnDef="Attribute5">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute5</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute5" name="Attribute5" [(ngModel)]="element.Attribute5"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="Sys_ComboDefinitionsService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: Sys_ComboDefinitionsService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_ComboDefinitionsPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="Sys_ComboDefinitionsService.IsShowLoading"></app-loading>

