<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_Control_Details
                        <span *ngIf="Sys_Control_DetailsService.List">({{Sys_Control_DetailsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_Control_Details" title="Sys_Control_Details">
                                Sys_Control_Details
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_Control_DetailsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_Control_DetailsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_Control_DetailsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_Control_DetailsSort="matSort"
                           [dataSource]="Sys_Control_DetailsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_Control_DetailsPaginator">
                                    {{
Sys_Control_DetailsPaginator.pageSize *
                                    Sys_Control_DetailsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_Control_DetailsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="Sys_Control_DetailsDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Control_Detail_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Control_Detail_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Control_Detail_Id" name="Control_Detail_Id" [(ngModel)]="element.Control_Detail_Id"></td>
</ng-container>
<ng-container matColumnDef="Control_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Control_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Control_Id" name="Control_Id" [(ngModel)]="element.Control_Id"></td>
</ng-container>
<ng-container matColumnDef="Language_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Language_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Language_Id" name="Language_Id" [(ngModel)]="element.Language_Id"></td>
</ng-container>
<ng-container matColumnDef="PropertyName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PropertyName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PropertyName" name="PropertyName" [(ngModel)]="element.PropertyName"></td>
</ng-container>
<ng-container matColumnDef="PropertyValue">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PropertyValue</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PropertyValue" name="PropertyValue" [(ngModel)]="element.PropertyValue"></td>
</ng-container>
<ng-container matColumnDef="Origin_PropertyValue">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Origin_PropertyValue</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Origin_PropertyValue" name="Origin_PropertyValue" [(ngModel)]="element.Origin_PropertyValue"></td>
</ng-container>
<ng-container matColumnDef="User_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Id" name="User_Id" [(ngModel)]="element.User_Id"></td>
</ng-container>
<ng-container matColumnDef="Group_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Group_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Group_Id" name="Group_Id" [(ngModel)]="element.Group_Id"></td>
</ng-container>
<ng-container matColumnDef="Updating">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Updating</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Updating" name="Updating" [(ngModel)]="element.Updating"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="Sys_Control_DetailsService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_Control_DetailsService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_Control_DetailsPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_Control_DetailsService.IsShowLoading"></app-loading>
