<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML6_CV130:
                        <b>{{XML6_CV130Service.FormData.XML6_CV130_Id}} [{{XML6_CV130Service.FormData.XML6_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML6_CV130" title="XML6_CV130">
                                XML6_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML6_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML6_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML6_CV130_Id</label>
<input placeholder="XML6_CV130_Id" [(ngModel)]="XML6_CV130Service.FormData.XML6_CV130_Id"  name="XML6_CV130Service.FormData.XML6_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML6_CV130Service.FormData.BenhAn_Id"  name="XML6_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML6_CV130Service.FormData.TiepNhan_Id"  name="XML6_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML6_CV130Service.FormData.BenhNhan_Id"  name="XML6_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML6_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML6_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML6_CV130Service.FormData.MA_LK"  name="XML6_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>MA_THE_BHYT</label>
<input placeholder="MA_THE_BHYT" [(ngModel)]="XML6_CV130Service.FormData.MA_THE_BHYT"  name="XML6_CV130Service.FormData.MA_THE_BHYT" type="text" class="form-control">
</div>
<div>
<label>SO_CCCD</label>
<input placeholder="SO_CCCD" [(ngModel)]="XML6_CV130Service.FormData.SO_CCCD"  name="XML6_CV130Service.FormData.SO_CCCD" type="text" class="form-control">
</div>
<div>
<label>NGAY_SINH</label>
<input placeholder="NGAY_SINH" [(ngModel)]="XML6_CV130Service.FormData.NGAY_SINH"  name="XML6_CV130Service.FormData.NGAY_SINH" type="text" class="form-control">
</div>
<div>
<label>GIOI_TINH</label>
<input placeholder="GIOI_TINH" [(ngModel)]="XML6_CV130Service.FormData.GIOI_TINH"  name="XML6_CV130Service.FormData.GIOI_TINH" type="text" class="form-control">
</div>
<div>
<label>DIA_CHI</label>
<input placeholder="DIA_CHI" [(ngModel)]="XML6_CV130Service.FormData.DIA_CHI"  name="XML6_CV130Service.FormData.DIA_CHI" type="text" class="form-control">
</div>
<div>
<label>MATINH_CU_TRU</label>
<input placeholder="MATINH_CU_TRU" [(ngModel)]="XML6_CV130Service.FormData.MATINH_CU_TRU"  name="XML6_CV130Service.FormData.MATINH_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MAHUYEN_CU_TRU</label>
<input placeholder="MAHUYEN_CU_TRU" [(ngModel)]="XML6_CV130Service.FormData.MAHUYEN_CU_TRU"  name="XML6_CV130Service.FormData.MAHUYEN_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MAXA_CU_TRU</label>
<input placeholder="MAXA_CU_TRU" [(ngModel)]="XML6_CV130Service.FormData.MAXA_CU_TRU"  name="XML6_CV130Service.FormData.MAXA_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>NGAYKD_HIV</label>
<input placeholder="NGAYKD_HIV" [(ngModel)]="XML6_CV130Service.FormData.NGAYKD_HIV"  name="XML6_CV130Service.FormData.NGAYKD_HIV" type="text" class="form-control">
</div>
<div>
<label>NOI_LAY_MAU_XN</label>
<input placeholder="NOI_LAY_MAU_XN" [(ngModel)]="XML6_CV130Service.FormData.NOI_LAY_MAU_XN"  name="XML6_CV130Service.FormData.NOI_LAY_MAU_XN" type="text" class="form-control">
</div>
<div>
<label>NOI_XN_KD</label>
<input placeholder="NOI_XN_KD" [(ngModel)]="XML6_CV130Service.FormData.NOI_XN_KD"  name="XML6_CV130Service.FormData.NOI_XN_KD" type="text" class="form-control">
</div>
<div>
<label>NOI_BDDT_ARV</label>
<input placeholder="NOI_BDDT_ARV" [(ngModel)]="XML6_CV130Service.FormData.NOI_BDDT_ARV"  name="XML6_CV130Service.FormData.NOI_BDDT_ARV" type="text" class="form-control">
</div>
<div>
<label>BDDT_ARV</label>
<input placeholder="BDDT_ARV" [(ngModel)]="XML6_CV130Service.FormData.BDDT_ARV"  name="XML6_CV130Service.FormData.BDDT_ARV" type="text" class="form-control">
</div>
<div>
<label>MA_PHAC_DO_DIEU_TRI_BD</label>
<input placeholder="MA_PHAC_DO_DIEU_TRI_BD" [(ngModel)]="XML6_CV130Service.FormData.MA_PHAC_DO_DIEU_TRI_BD"  name="XML6_CV130Service.FormData.MA_PHAC_DO_DIEU_TRI_BD" type="text" class="form-control">
</div>
<div>
<label>MA_BAC_PHAC_DO_BD</label>
<input placeholder="MA_BAC_PHAC_DO_BD" [(ngModel)]="XML6_CV130Service.FormData.MA_BAC_PHAC_DO_BD"  name="XML6_CV130Service.FormData.MA_BAC_PHAC_DO_BD" type="text" class="form-control">
</div>
<div>
<label>MA_LYDO_DTRI</label>
<input placeholder="MA_LYDO_DTRI" [(ngModel)]="XML6_CV130Service.FormData.MA_LYDO_DTRI"  name="XML6_CV130Service.FormData.MA_LYDO_DTRI" type="text" class="form-control">
</div>
<div>
<label>LOAI_DTRI_LAO</label>
<input placeholder="LOAI_DTRI_LAO" [(ngModel)]="XML6_CV130Service.FormData.LOAI_DTRI_LAO"  name="XML6_CV130Service.FormData.LOAI_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>SANG_LOC_LAO</label>
<input placeholder="SANG_LOC_LAO" [(ngModel)]="XML6_CV130Service.FormData.SANG_LOC_LAO"  name="XML6_CV130Service.FormData.SANG_LOC_LAO" type="text" class="form-control">
</div>
<div>
<label>PHACDO_DTRI_LAO</label>
<input placeholder="PHACDO_DTRI_LAO" [(ngModel)]="XML6_CV130Service.FormData.PHACDO_DTRI_LAO"  name="XML6_CV130Service.FormData.PHACDO_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>NGAYBD_DTRI_LAO</label>
<input placeholder="NGAYBD_DTRI_LAO" [(ngModel)]="XML6_CV130Service.FormData.NGAYBD_DTRI_LAO"  name="XML6_CV130Service.FormData.NGAYBD_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>NGAYKT_DTRI_LAO</label>
<input placeholder="NGAYKT_DTRI_LAO" [(ngModel)]="XML6_CV130Service.FormData.NGAYKT_DTRI_LAO"  name="XML6_CV130Service.FormData.NGAYKT_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>KQ_DTRI_LAO</label>
<input placeholder="KQ_DTRI_LAO" [(ngModel)]="XML6_CV130Service.FormData.KQ_DTRI_LAO"  name="XML6_CV130Service.FormData.KQ_DTRI_LAO" type="text" class="form-control">
</div>
<div>
<label>MA_LYDO_XNTL_VR</label>
<input placeholder="MA_LYDO_XNTL_VR" [(ngModel)]="XML6_CV130Service.FormData.MA_LYDO_XNTL_VR"  name="XML6_CV130Service.FormData.MA_LYDO_XNTL_VR" type="text" class="form-control">
</div>
<div>
<label>NGAY_XN_TLVR</label>
<input placeholder="NGAY_XN_TLVR" [(ngModel)]="XML6_CV130Service.FormData.NGAY_XN_TLVR"  name="XML6_CV130Service.FormData.NGAY_XN_TLVR" type="text" class="form-control">
</div>
<div>
<label>KQ_XNTL_VR</label>
<input placeholder="KQ_XNTL_VR" [(ngModel)]="XML6_CV130Service.FormData.KQ_XNTL_VR"  name="XML6_CV130Service.FormData.KQ_XNTL_VR" type="text" class="form-control">
</div>
<div>
<label>NGAY_KQ_XN_TLVR</label>
<input placeholder="NGAY_KQ_XN_TLVR" [(ngModel)]="XML6_CV130Service.FormData.NGAY_KQ_XN_TLVR"  name="XML6_CV130Service.FormData.NGAY_KQ_XN_TLVR" type="text" class="form-control">
</div>
<div>
<label>MA_LOAI_BN</label>
<input placeholder="MA_LOAI_BN" [(ngModel)]="XML6_CV130Service.FormData.MA_LOAI_BN"  name="XML6_CV130Service.FormData.MA_LOAI_BN" type="text" class="form-control">
</div>
<div>
<label>GIAI_DOAN_LAM_SANG</label>
<input placeholder="GIAI_DOAN_LAM_SANG" [(ngModel)]="XML6_CV130Service.FormData.GIAI_DOAN_LAM_SANG"  name="XML6_CV130Service.FormData.GIAI_DOAN_LAM_SANG" type="text" class="form-control">
</div>
<div>
<label>NHOM_DOI_TUONG</label>
<input placeholder="NHOM_DOI_TUONG" [(ngModel)]="XML6_CV130Service.FormData.NHOM_DOI_TUONG"  name="XML6_CV130Service.FormData.NHOM_DOI_TUONG" type="text" class="form-control">
</div>
<div>
<label>MA_TINH_TRANG_DK</label>
<input placeholder="MA_TINH_TRANG_DK" [(ngModel)]="XML6_CV130Service.FormData.MA_TINH_TRANG_DK"  name="XML6_CV130Service.FormData.MA_TINH_TRANG_DK" type="text" class="form-control">
</div>
<div>
<label>LAN_XN_PCR</label>
<input placeholder="LAN_XN_PCR" [(ngModel)]="XML6_CV130Service.FormData.LAN_XN_PCR"  name="XML6_CV130Service.FormData.LAN_XN_PCR" type="text" class="form-control">
</div>
<div>
<label>NGAY_XN_PCR</label>
<input placeholder="NGAY_XN_PCR" [(ngModel)]="XML6_CV130Service.FormData.NGAY_XN_PCR"  name="XML6_CV130Service.FormData.NGAY_XN_PCR" type="text" class="form-control">
</div>
<div>
<label>NGAY_KQ_XN_PCR</label>
<input placeholder="NGAY_KQ_XN_PCR" [(ngModel)]="XML6_CV130Service.FormData.NGAY_KQ_XN_PCR"  name="XML6_CV130Service.FormData.NGAY_KQ_XN_PCR" type="text" class="form-control">
</div>
<div>
<label>MA_KQ_XN_PCR</label>
<input placeholder="MA_KQ_XN_PCR" [(ngModel)]="XML6_CV130Service.FormData.MA_KQ_XN_PCR"  name="XML6_CV130Service.FormData.MA_KQ_XN_PCR" type="text" class="form-control">
</div>
<div>
<label>NGAY_NHAN_TT_MANG_THAI</label>
<input placeholder="NGAY_NHAN_TT_MANG_THAI" [(ngModel)]="XML6_CV130Service.FormData.NGAY_NHAN_TT_MANG_THAI"  name="XML6_CV130Service.FormData.NGAY_NHAN_TT_MANG_THAI" type="text" class="form-control">
</div>
<div>
<label>NGAY_BAT_DAU_DT_CTX</label>
<input placeholder="NGAY_BAT_DAU_DT_CTX" [(ngModel)]="XML6_CV130Service.FormData.NGAY_BAT_DAU_DT_CTX"  name="XML6_CV130Service.FormData.NGAY_BAT_DAU_DT_CTX" type="text" class="form-control">
</div>
<div>
<label>MA_XU_TRI</label>
<input placeholder="MA_XU_TRI" [(ngModel)]="XML6_CV130Service.FormData.MA_XU_TRI"  name="XML6_CV130Service.FormData.MA_XU_TRI" type="text" class="form-control">
</div>
<div>
<label>NGAY_BAT_DAU_XU_TRI</label>
<input placeholder="NGAY_BAT_DAU_XU_TRI" [(ngModel)]="XML6_CV130Service.FormData.NGAY_BAT_DAU_XU_TRI"  name="XML6_CV130Service.FormData.NGAY_BAT_DAU_XU_TRI" type="text" class="form-control">
</div>
<div>
<label>NGAY_KET_THUC_XU_TRI</label>
<input placeholder="NGAY_KET_THUC_XU_TRI" [(ngModel)]="XML6_CV130Service.FormData.NGAY_KET_THUC_XU_TRI"  name="XML6_CV130Service.FormData.NGAY_KET_THUC_XU_TRI" type="text" class="form-control">
</div>
<div>
<label>MA_PHAC_DO_DIEU_TRI</label>
<input placeholder="MA_PHAC_DO_DIEU_TRI" [(ngModel)]="XML6_CV130Service.FormData.MA_PHAC_DO_DIEU_TRI"  name="XML6_CV130Service.FormData.MA_PHAC_DO_DIEU_TRI" type="text" class="form-control">
</div>
<div>
<label>MA_BAC_PHAC_DO</label>
<input placeholder="MA_BAC_PHAC_DO" [(ngModel)]="XML6_CV130Service.FormData.MA_BAC_PHAC_DO"  name="XML6_CV130Service.FormData.MA_BAC_PHAC_DO" type="text" class="form-control">
</div>
<div>
<label>SO_NGAY_CAP_THUOC_ARV</label>
<input placeholder="SO_NGAY_CAP_THUOC_ARV" [(ngModel)]="XML6_CV130Service.FormData.SO_NGAY_CAP_THUOC_ARV"  name="XML6_CV130Service.FormData.SO_NGAY_CAP_THUOC_ARV" type="text" class="form-control">
</div>
<div>
<label>NGAY_CHUYEN_PHAC_DO</label>
<input placeholder="NGAY_CHUYEN_PHAC_DO" [(ngModel)]="XML6_CV130Service.FormData.NGAY_CHUYEN_PHAC_DO"  name="XML6_CV130Service.FormData.NGAY_CHUYEN_PHAC_DO" type="text" class="form-control">
</div>
<div>
<label>LY_DO_CHUYEN_PHAC_DO</label>
<input placeholder="LY_DO_CHUYEN_PHAC_DO" [(ngModel)]="XML6_CV130Service.FormData.LY_DO_CHUYEN_PHAC_DO"  name="XML6_CV130Service.FormData.LY_DO_CHUYEN_PHAC_DO" type="text" class="form-control">
</div>
<div>
<label>MA_CSKCB</label>
<input placeholder="MA_CSKCB" [(ngModel)]="XML6_CV130Service.FormData.MA_CSKCB"  name="XML6_CV130Service.FormData.MA_CSKCB" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML6_CV130Service.FormData.DU_PHONG"  name="XML6_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML6_CV130Service.IsShowLoading"></app-loading>

