<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_SearchDefinitions
                        <span *ngIf="Sys_SearchDefinitionsService.List">({{Sys_SearchDefinitionsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_SearchDefinitions" title="Sys_SearchDefinitions">
                                Sys_SearchDefinitions
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_SearchDefinitionsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_SearchDefinitionsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_SearchDefinitionsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_SearchDefinitionsSort="matSort"
                           [dataSource]="Sys_SearchDefinitionsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_SearchDefinitionsPaginator">
                                    {{
Sys_SearchDefinitionsPaginator.pageSize *
                                    Sys_SearchDefinitionsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_SearchDefinitionsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="Sys_SearchDefinitionsDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ID" name="ID" [(ngModel)]="element.ID"></td>
</ng-container>
<ng-container matColumnDef="DataGroup">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DataGroup</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DataGroup" name="DataGroup" [(ngModel)]="element.DataGroup"></td>
</ng-container>
<ng-container matColumnDef="DataGroup_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DataGroup_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DataGroup_Name" name="DataGroup_Name" [(ngModel)]="element.DataGroup_Name"></td>
</ng-container>
<ng-container matColumnDef="FieldName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FieldName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="FieldName" name="FieldName" [(ngModel)]="element.FieldName"></td>
</ng-container>
<ng-container matColumnDef="AlternateFieldName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AlternateFieldName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="AlternateFieldName" name="AlternateFieldName" [(ngModel)]="element.AlternateFieldName"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>
<ng-container matColumnDef="Idx">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Idx</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Idx" name="Idx" [(ngModel)]="element.Idx"></td>
</ng-container>
<ng-container matColumnDef="DataType">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DataType</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DataType" name="DataType" [(ngModel)]="element.DataType"></td>
</ng-container>
<ng-container matColumnDef="Remark">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Remark" name="Remark" [(ngModel)]="element.Remark"></td>
</ng-container>
<ng-container matColumnDef="Enabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Enabled" name="Enabled" [(ngModel)]="element.Enabled"></td>
</ng-container>
<ng-container matColumnDef="IsSearch">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IsSearch</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="IsSearch" name="IsSearch" [(ngModel)]="element.IsSearch"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="Sys_SearchDefinitionsService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: Sys_SearchDefinitionsService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_SearchDefinitionsPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="Sys_SearchDefinitionsService.IsShowLoading"></app-loading>

