<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML14_CV130:
                        <b>{{XML14_CV130Service.FormData.XML14_CV130_Id}} [{{XML14_CV130Service.FormData.XML14_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML14_CV130" title="XML14_CV130">
                                XML14_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML14_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML14_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML14_CV130_Id</label>
<input placeholder="XML14_CV130_Id" [(ngModel)]="XML14_CV130Service.FormData.XML14_CV130_Id"  name="XML14_CV130Service.FormData.XML14_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML14_CV130Service.FormData.BenhAn_Id"  name="XML14_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML14_CV130Service.FormData.TiepNhan_Id"  name="XML14_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML14_CV130Service.FormData.BenhNhan_Id"  name="XML14_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML14_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML14_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML14_CV130Service.FormData.MA_LK"  name="XML14_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>SO_GIAYHEN_KL</label>
<input placeholder="SO_GIAYHEN_KL" [(ngModel)]="XML14_CV130Service.FormData.SO_GIAYHEN_KL"  name="XML14_CV130Service.FormData.SO_GIAYHEN_KL" type="text" class="form-control">
</div>
<div>
<label>MA_CSKCB</label>
<input placeholder="MA_CSKCB" [(ngModel)]="XML14_CV130Service.FormData.MA_CSKCB"  name="XML14_CV130Service.FormData.MA_CSKCB" type="text" class="form-control">
</div>
<div>
<label>HO_TEN</label>
<input placeholder="HO_TEN" [(ngModel)]="XML14_CV130Service.FormData.HO_TEN"  name="XML14_CV130Service.FormData.HO_TEN" type="text" class="form-control">
</div>
<div>
<label>NGAY_SINH</label>
<input placeholder="NGAY_SINH" [(ngModel)]="XML14_CV130Service.FormData.NGAY_SINH"  name="XML14_CV130Service.FormData.NGAY_SINH" type="text" class="form-control">
</div>
<div>
<label>GIOI_TINH</label>
<input placeholder="GIOI_TINH" [(ngModel)]="XML14_CV130Service.FormData.GIOI_TINH"  name="XML14_CV130Service.FormData.GIOI_TINH" type="text" class="form-control">
</div>
<div>
<label>DIA_CHI</label>
<input placeholder="DIA_CHI" [(ngModel)]="XML14_CV130Service.FormData.DIA_CHI"  name="XML14_CV130Service.FormData.DIA_CHI" type="text" class="form-control">
</div>
<div>
<label>MA_THE_BHYT</label>
<input placeholder="MA_THE_BHYT" [(ngModel)]="XML14_CV130Service.FormData.MA_THE_BHYT"  name="XML14_CV130Service.FormData.MA_THE_BHYT" type="text" class="form-control">
</div>
<div>
<label>GT_THE_DEN</label>
<input placeholder="GT_THE_DEN" [(ngModel)]="XML14_CV130Service.FormData.GT_THE_DEN"  name="XML14_CV130Service.FormData.GT_THE_DEN" type="text" class="form-control">
</div>
<div>
<label>NGAY_VAO</label>
<input placeholder="NGAY_VAO" [(ngModel)]="XML14_CV130Service.FormData.NGAY_VAO"  name="XML14_CV130Service.FormData.NGAY_VAO" type="text" class="form-control">
</div>
<div>
<label>NGAY_VAO_NOI_TRU</label>
<input placeholder="NGAY_VAO_NOI_TRU" [(ngModel)]="XML14_CV130Service.FormData.NGAY_VAO_NOI_TRU"  name="XML14_CV130Service.FormData.NGAY_VAO_NOI_TRU" type="text" class="form-control">
</div>
<div>
<label>NGAY_RA</label>
<input placeholder="NGAY_RA" [(ngModel)]="XML14_CV130Service.FormData.NGAY_RA"  name="XML14_CV130Service.FormData.NGAY_RA" type="text" class="form-control">
</div>
<div>
<label>NGAY_HEN_KL</label>
<input placeholder="NGAY_HEN_KL" [(ngModel)]="XML14_CV130Service.FormData.NGAY_HEN_KL"  name="XML14_CV130Service.FormData.NGAY_HEN_KL" type="text" class="form-control">
</div>
<div>
<label>CHAN_DOAN_RV</label>
<input placeholder="CHAN_DOAN_RV" [(ngModel)]="XML14_CV130Service.FormData.CHAN_DOAN_RV"  name="XML14_CV130Service.FormData.CHAN_DOAN_RV" type="text" class="form-control">
</div>
<div>
<label>MA_BENH_CHINH</label>
<input placeholder="MA_BENH_CHINH" [(ngModel)]="XML14_CV130Service.FormData.MA_BENH_CHINH"  name="XML14_CV130Service.FormData.MA_BENH_CHINH" type="text" class="form-control">
</div>
<div>
<label>MA_BENH_KT</label>
<input placeholder="MA_BENH_KT" [(ngModel)]="XML14_CV130Service.FormData.MA_BENH_KT"  name="XML14_CV130Service.FormData.MA_BENH_KT" type="text" class="form-control">
</div>
<div>
<label>MA_BENH_YHCT</label>
<input placeholder="MA_BENH_YHCT" [(ngModel)]="XML14_CV130Service.FormData.MA_BENH_YHCT"  name="XML14_CV130Service.FormData.MA_BENH_YHCT" type="text" class="form-control">
</div>
<div>
<label>MA_DOITUONG_KCB</label>
<input placeholder="MA_DOITUONG_KCB" [(ngModel)]="XML14_CV130Service.FormData.MA_DOITUONG_KCB"  name="XML14_CV130Service.FormData.MA_DOITUONG_KCB" type="text" class="form-control">
</div>
<div>
<label>MA_BAC_SI</label>
<input placeholder="MA_BAC_SI" [(ngModel)]="XML14_CV130Service.FormData.MA_BAC_SI"  name="XML14_CV130Service.FormData.MA_BAC_SI" type="text" class="form-control">
</div>
<div>
<label>MA_TTDV</label>
<input placeholder="MA_TTDV" [(ngModel)]="XML14_CV130Service.FormData.MA_TTDV"  name="XML14_CV130Service.FormData.MA_TTDV" type="text" class="form-control">
</div>
<div>
<label>NGAY_CT</label>
<input placeholder="NGAY_CT" [(ngModel)]="XML14_CV130Service.FormData.NGAY_CT"  name="XML14_CV130Service.FormData.NGAY_CT" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML14_CV130Service.FormData.DU_PHONG"  name="XML14_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML14_CV130Service.IsShowLoading"></app-loading>

