<div class="custom-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-Lst_DictionaryDetail" data-bs-toggle="tab" href="#Lst_DictionaryDetail" role="tab"
               aria-controls="Lst_DictionaryDetail" aria-selected="true">
                <span class="badge bg-info" style="font-size: 16px;">Lst_Dictionary</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a style="cursor: pointer;" class="nav-link" id="tab-Close" data-bs-toggle="tab" (click)="Close()"
               role="tab" aria-controls="Close" aria-selected="false">
                <span class="badge bg-danger" style="font-size: 16px;"><i class="bi bi-x-lg"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="customTabContent">
        <div class="tab-pane fade show active" id="Lst_DictionaryDetail" role="tabpanel">
            <div class="row gx-4">
                <div class="col-lg-6 col-sm-12 col-12">
                    <a style="width: 100%;" title="Lưu thay đổi" (click)="Lst_DictionarySave()" class="btn btn-info">
                        <i class="bi bi-sd-card"></i> Lưu thay đổi
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Id</label>
<input name="Dictionary_Id" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Id" placeholder="Dictionary_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Type_Id</label>
<input name="Dictionary_Type_Id" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Type_Id" placeholder="Dictionary_Type_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Type_Code</label>
<input name="Dictionary_Type_Code" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Type_Code" placeholder="Dictionary_Type_Code" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Code</label>
<input name="Dictionary_Code" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Code" placeholder="Dictionary_Code" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Name</label>
<input name="Dictionary_Name" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Name" placeholder="Dictionary_Name" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Name_En</label>
<input name="Dictionary_Name_En" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Name_En" placeholder="Dictionary_Name_En" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Dictionary_Name_Ru</label>
<input name="Dictionary_Name_Ru" [(ngModel)]="Lst_DictionaryService.FormData.Dictionary_Name_Ru" placeholder="Dictionary_Name_Ru" type="text" class="form-control">
</div>
                   
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Parent_Id</label>
<input name="Parent_Id" [(ngModel)]="Lst_DictionaryService.FormData.Parent_Id" placeholder="Parent_Id" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Idx</label>
<input name="Idx" [(ngModel)]="Lst_DictionaryService.FormData.Idx" placeholder="Idx" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Enabled</label>
<input name="Enabled" [(ngModel)]="Lst_DictionaryService.FormData.Enabled" placeholder="Enabled" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Latin_Name</label>
<input name="Latin_Name" [(ngModel)]="Lst_DictionaryService.FormData.Latin_Name" placeholder="Latin_Name" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Attribute1</label>
<input name="Attribute1" [(ngModel)]="Lst_DictionaryService.FormData.Attribute1" placeholder="Attribute1" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Attribute2</label>
<input name="Attribute2" [(ngModel)]="Lst_DictionaryService.FormData.Attribute2" placeholder="Attribute2" type="text" class="form-control">
</div>

                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Attribute3</label>
<input name="Attribute3" [(ngModel)]="Lst_DictionaryService.FormData.Attribute3" placeholder="Attribute3" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Attribute4</label>
<input name="Attribute4" [(ngModel)]="Lst_DictionaryService.FormData.Attribute4" placeholder="Attribute4" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Creation_Date</label>
<input name="Creation_Date" [(ngModel)]="Lst_DictionaryService.FormData.Creation_Date" placeholder="Creation_Date" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Created_By</label>
<input name="Created_By" [(ngModel)]="Lst_DictionaryService.FormData.Created_By" placeholder="Created_By" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Last_Update_Date</label>
<input name="Last_Update_Date" [(ngModel)]="Lst_DictionaryService.FormData.Last_Update_Date" placeholder="Last_Update_Date" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Last_Updated_By</label>
<input name="Last_Updated_By" [(ngModel)]="Lst_DictionaryService.FormData.Last_Updated_By" placeholder="Last_Updated_By" type="text" class="form-control">
</div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Lst_DictionaryService.IsShowLoading"></app-loading>
