<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        sys_Control_DefaufValue
                        <span *ngIf="sys_Control_DefaufValueService.List">({{sys_Control_DefaufValueService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/sys_Control_DefaufValue" title="sys_Control_DefaufValue">
                                sys_Control_DefaufValue
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="sys_Control_DefaufValueService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="sys_Control_DefaufValueSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="sys_Control_DefaufValueSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #sys_Control_DefaufValueSort="matSort"
                           [dataSource]="sys_Control_DefaufValueService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="sys_Control_DefaufValuePaginator">
                                    {{
sys_Control_DefaufValuePaginator.pageSize *
                                    sys_Control_DefaufValuePaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="sys_Control_DefaufValueSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="sys_Control_DefaufValueDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Control_DefaufValue_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Control_DefaufValue_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Control_DefaufValue_Id" name="Control_DefaufValue_Id" [(ngModel)]="element.Control_DefaufValue_Id"></td>
</ng-container>
<ng-container matColumnDef="Funtions_Class">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Funtions_Class</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Funtions_Class" name="Funtions_Class" [(ngModel)]="element.Funtions_Class"></td>
</ng-container>
<ng-container matColumnDef="Control_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Control_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Control_Name" name="Control_Name" [(ngModel)]="element.Control_Name"></td>
</ng-container>
<ng-container matColumnDef="DefaufValue">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DefaufValue</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DefaufValue" name="DefaufValue" [(ngModel)]="element.DefaufValue"></td>
</ng-container>
<ng-container matColumnDef="NgayTao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayTao" name="NgayTao" [(ngModel)]="element.NgayTao"></td>
</ng-container>
<ng-container matColumnDef="NguoiTao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiTao_Id" name="NguoiTao_Id" [(ngModel)]="element.NguoiTao_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayCapNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayCapNhat" name="NgayCapNhat" [(ngModel)]="element.NgayCapNhat"></td>
</ng-container>
<ng-container matColumnDef="NguoiCapNhat_id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiCapNhat_id" name="NguoiCapNhat_id" [(ngModel)]="element.NguoiCapNhat_id"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="sys_Control_DefaufValueService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: sys_Control_DefaufValueService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #sys_Control_DefaufValuePaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="sys_Control_DefaufValueService.IsShowLoading"></app-loading>
