<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML8_CV130:
                        <b>{{XML8_CV130Service.FormData.XML8_CV130_Id}} [{{XML8_CV130Service.FormData.XML8_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML8_CV130" title="XML8_CV130">
                                XML8_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML8_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML8_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML8_CV130_Id</label>
<input placeholder="XML8_CV130_Id" [(ngModel)]="XML8_CV130Service.FormData.XML8_CV130_Id"  name="XML8_CV130Service.FormData.XML8_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML8_CV130Service.FormData.BenhAn_Id"  name="XML8_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML8_CV130Service.FormData.TiepNhan_Id"  name="XML8_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML8_CV130Service.FormData.BenhNhan_Id"  name="XML8_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML8_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML8_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML8_CV130Service.FormData.MA_LK"  name="XML8_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>MA_LOAI_KCB</label>
<input placeholder="MA_LOAI_KCB" [(ngModel)]="XML8_CV130Service.FormData.MA_LOAI_KCB"  name="XML8_CV130Service.FormData.MA_LOAI_KCB" type="text" class="form-control">
</div>
<div>
<label>HO_TEN_CHA</label>
<input placeholder="HO_TEN_CHA" [(ngModel)]="XML8_CV130Service.FormData.HO_TEN_CHA"  name="XML8_CV130Service.FormData.HO_TEN_CHA" type="text" class="form-control">
</div>
<div>
<label>HO_TEN_ME</label>
<input placeholder="HO_TEN_ME" [(ngModel)]="XML8_CV130Service.FormData.HO_TEN_ME"  name="XML8_CV130Service.FormData.HO_TEN_ME" type="text" class="form-control">
</div>
<div>
<label>NGUOI_GIAM_HO</label>
<input placeholder="NGUOI_GIAM_HO" [(ngModel)]="XML8_CV130Service.FormData.NGUOI_GIAM_HO"  name="XML8_CV130Service.FormData.NGUOI_GIAM_HO" type="text" class="form-control">
</div>
<div>
<label>DON_VI</label>
<input placeholder="DON_VI" [(ngModel)]="XML8_CV130Service.FormData.DON_VI"  name="XML8_CV130Service.FormData.DON_VI" type="text" class="form-control">
</div>
<div>
<label>NGAY_VAO</label>
<input placeholder="NGAY_VAO" [(ngModel)]="XML8_CV130Service.FormData.NGAY_VAO"  name="XML8_CV130Service.FormData.NGAY_VAO" type="text" class="form-control">
</div>
<div>
<label>NGAY_RA</label>
<input placeholder="NGAY_RA" [(ngModel)]="XML8_CV130Service.FormData.NGAY_RA"  name="XML8_CV130Service.FormData.NGAY_RA" type="text" class="form-control">
</div>
<div>
<label>CHAN_DOAN_VAO</label>
<input placeholder="CHAN_DOAN_VAO" [(ngModel)]="XML8_CV130Service.FormData.CHAN_DOAN_VAO"  name="XML8_CV130Service.FormData.CHAN_DOAN_VAO" type="text" class="form-control">
</div>
<div>
<label>CHAN_DOAN_RV</label>
<input placeholder="CHAN_DOAN_RV" [(ngModel)]="XML8_CV130Service.FormData.CHAN_DOAN_RV"  name="XML8_CV130Service.FormData.CHAN_DOAN_RV" type="text" class="form-control">
</div>
<div>
<label>QT_BENHLY</label>
<input placeholder="QT_BENHLY" [(ngModel)]="XML8_CV130Service.FormData.QT_BENHLY"  name="XML8_CV130Service.FormData.QT_BENHLY" type="text" class="form-control">
</div>
<div>
<label>TOMTAT_KQ</label>
<input placeholder="TOMTAT_KQ" [(ngModel)]="XML8_CV130Service.FormData.TOMTAT_KQ"  name="XML8_CV130Service.FormData.TOMTAT_KQ" type="text" class="form-control">
</div>
<div>
<label>PP_DIEUTRI</label>
<input placeholder="PP_DIEUTRI" [(ngModel)]="XML8_CV130Service.FormData.PP_DIEUTRI"  name="XML8_CV130Service.FormData.PP_DIEUTRI" type="text" class="form-control">
</div>
<div>
<label>NGAY_SINHCON</label>
<input placeholder="NGAY_SINHCON" [(ngModel)]="XML8_CV130Service.FormData.NGAY_SINHCON"  name="XML8_CV130Service.FormData.NGAY_SINHCON" type="text" class="form-control">
</div>
<div>
<label>NGAY_CONCHET</label>
<input placeholder="NGAY_CONCHET" [(ngModel)]="XML8_CV130Service.FormData.NGAY_CONCHET"  name="XML8_CV130Service.FormData.NGAY_CONCHET" type="text" class="form-control">
</div>
<div>
<label>SO_CONCHET</label>
<input placeholder="SO_CONCHET" [(ngModel)]="XML8_CV130Service.FormData.SO_CONCHET"  name="XML8_CV130Service.FormData.SO_CONCHET" type="text" class="form-control">
</div>
<div>
<label>KET_QUA_DTRI</label>
<input placeholder="KET_QUA_DTRI" [(ngModel)]="XML8_CV130Service.FormData.KET_QUA_DTRI"  name="XML8_CV130Service.FormData.KET_QUA_DTRI" type="text" class="form-control">
</div>
<div>
<label>GHI_CHU</label>
<input placeholder="GHI_CHU" [(ngModel)]="XML8_CV130Service.FormData.GHI_CHU"  name="XML8_CV130Service.FormData.GHI_CHU" type="text" class="form-control">
</div>
<div>
<label>MA_TTDV</label>
<input placeholder="MA_TTDV" [(ngModel)]="XML8_CV130Service.FormData.MA_TTDV"  name="XML8_CV130Service.FormData.MA_TTDV" type="text" class="form-control">
</div>
<div>
<label>NGAY_CT</label>
<input placeholder="NGAY_CT" [(ngModel)]="XML8_CV130Service.FormData.NGAY_CT"  name="XML8_CV130Service.FormData.NGAY_CT" type="text" class="form-control">
</div>
<div>
<label>MA_THE_TAM</label>
<input placeholder="MA_THE_TAM" [(ngModel)]="XML8_CV130Service.FormData.MA_THE_TAM"  name="XML8_CV130Service.FormData.MA_THE_TAM" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML8_CV130Service.FormData.DU_PHONG"  name="XML8_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML8_CV130Service.IsShowLoading"></app-loading>

