<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML8_CV130
                        <span *ngIf="XML8_CV130Service.List">({{XML8_CV130Service.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML8_CV130" title="XML8_CV130">
                                XML8_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="XML8_CV130Service.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="XML8_CV130Search()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="XML8_CV130Search()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #XML8_CV130Sort="matSort"
                           [dataSource]="XML8_CV130Service.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="XML8_CV130Paginator">
                                    {{
XML8_CV130Paginator.pageSize *
                                    XML8_CV130Paginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="XML8_CV130Save(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="XML8_CV130Delete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="XML8_CV130_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XML8_CV130_Id</th>
<td mat-cell *matCellDef="let element">{{element.XML8_CV130_Id}}</td>
</ng-container>
<ng-container matColumnDef="BenhAn_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhAn_Id</th>
<td mat-cell *matCellDef="let element">{{element.BenhAn_Id}}</td>
</ng-container>
<ng-container matColumnDef="TiepNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TiepNhan_Id</th>
<td mat-cell *matCellDef="let element">{{element.TiepNhan_Id}}</td>
</ng-container>
<ng-container matColumnDef="BenhNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhNhan_Id</th>
<td mat-cell *matCellDef="let element">{{element.BenhNhan_Id}}</td>
</ng-container>
<ng-container matColumnDef="XacNhanChiPhi_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XacNhanChiPhi_Id</th>
<td mat-cell *matCellDef="let element">{{element.XacNhanChiPhi_Id}}</td>
</ng-container>
<ng-container matColumnDef="MA_LK">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_LK</th>
<td mat-cell *matCellDef="let element">{{element.MA_LK}}</td>
</ng-container>
<ng-container matColumnDef="MA_LOAI_KCB">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_LOAI_KCB</th>
<td mat-cell *matCellDef="let element">{{element.MA_LOAI_KCB}}</td>
</ng-container>
<ng-container matColumnDef="HO_TEN_CHA">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HO_TEN_CHA</th>
<td mat-cell *matCellDef="let element">{{element.HO_TEN_CHA}}</td>
</ng-container>
<ng-container matColumnDef="HO_TEN_ME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HO_TEN_ME</th>
<td mat-cell *matCellDef="let element">{{element.HO_TEN_ME}}</td>
</ng-container>
<ng-container matColumnDef="NGUOI_GIAM_HO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGUOI_GIAM_HO</th>
<td mat-cell *matCellDef="let element">{{element.NGUOI_GIAM_HO}}</td>
</ng-container>
<ng-container matColumnDef="DON_VI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DON_VI</th>
<td mat-cell *matCellDef="let element">{{element.DON_VI}}</td>
</ng-container>
<ng-container matColumnDef="NGAY_VAO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_VAO</th>
<td mat-cell *matCellDef="let element">{{element.NGAY_VAO}}</td>
</ng-container>
<ng-container matColumnDef="NGAY_RA">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_RA</th>
<td mat-cell *matCellDef="let element">{{element.NGAY_RA}}</td>
</ng-container>
<ng-container matColumnDef="CHAN_DOAN_VAO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CHAN_DOAN_VAO</th>
<td mat-cell *matCellDef="let element">{{element.CHAN_DOAN_VAO}}</td>
</ng-container>
<ng-container matColumnDef="CHAN_DOAN_RV">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CHAN_DOAN_RV</th>
<td mat-cell *matCellDef="let element">{{element.CHAN_DOAN_RV}}</td>
</ng-container>
<ng-container matColumnDef="QT_BENHLY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>QT_BENHLY</th>
<td mat-cell *matCellDef="let element">{{element.QT_BENHLY}}</td>
</ng-container>
<ng-container matColumnDef="TOMTAT_KQ">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOMTAT_KQ</th>
<td mat-cell *matCellDef="let element">{{element.TOMTAT_KQ}}</td>
</ng-container>
<ng-container matColumnDef="PP_DIEUTRI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PP_DIEUTRI</th>
<td mat-cell *matCellDef="let element">{{element.PP_DIEUTRI}}</td>
</ng-container>
<ng-container matColumnDef="NGAY_SINHCON">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_SINHCON</th>
<td mat-cell *matCellDef="let element">{{element.NGAY_SINHCON}}</td>
</ng-container>
<ng-container matColumnDef="NGAY_CONCHET">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_CONCHET</th>
<td mat-cell *matCellDef="let element">{{element.NGAY_CONCHET}}</td>
</ng-container>
<ng-container matColumnDef="SO_CONCHET">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SO_CONCHET</th>
<td mat-cell *matCellDef="let element">{{element.SO_CONCHET}}</td>
</ng-container>
<ng-container matColumnDef="KET_QUA_DTRI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KET_QUA_DTRI</th>
<td mat-cell *matCellDef="let element">{{element.KET_QUA_DTRI}}</td>
</ng-container>
<ng-container matColumnDef="GHI_CHU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GHI_CHU</th>
<td mat-cell *matCellDef="let element">{{element.GHI_CHU}}</td>
</ng-container>
<ng-container matColumnDef="MA_TTDV">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_TTDV</th>
<td mat-cell *matCellDef="let element">{{element.MA_TTDV}}</td>
</ng-container>
<ng-container matColumnDef="NGAY_CT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_CT</th>
<td mat-cell *matCellDef="let element">{{element.NGAY_CT}}</td>
</ng-container>
<ng-container matColumnDef="MA_THE_TAM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_THE_TAM</th>
<td mat-cell *matCellDef="let element">{{element.MA_THE_TAM}}</td>
</ng-container>
<ng-container matColumnDef="DU_PHONG">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DU_PHONG</th>
<td mat-cell *matCellDef="let element">{{element.DU_PHONG}}</td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="XML8_CV130Service.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: XML8_CV130Service.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #XML8_CV130Paginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="XML8_CV130Service.IsShowLoading"></app-loading>

