<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        HRChamCongChiTiet
                        <span *ngIf="HRChamCongChiTietService.List">({{HRChamCongChiTietService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/HRChamCongChiTiet" title="HRChamCongChiTiet">
                                HRChamCongChiTiet
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="HRChamCongChiTietService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="HRChamCongChiTietSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="HRChamCongChiTietSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #HRChamCongChiTietSort="matSort"
                           [dataSource]="HRChamCongChiTietService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="HRChamCongChiTietPaginator">
                                    {{
HRChamCongChiTietPaginator.pageSize *
                                    HRChamCongChiTietPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="HRChamCongChiTietSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="HRChamCongChiTietDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
<td mat-cell *matCellDef="let element">{{element.ID}}</td>
</ng-container>
<ng-container matColumnDef="ParentID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ParentID</th>
<td mat-cell *matCellDef="let element">{{element.ParentID}}</td>
</ng-container>
<ng-container matColumnDef="ParentName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ParentName</th>
<td mat-cell *matCellDef="let element">{{element.ParentName}}</td>
</ng-container>
<ng-container matColumnDef="CreatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedDate</th>
<td mat-cell *matCellDef="let element">{{element.CreatedDate}}</td>
</ng-container>
<ng-container matColumnDef="CreatedMembershipID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedMembershipID</th>
<td mat-cell *matCellDef="let element">{{element.CreatedMembershipID}}</td>
</ng-container>
<ng-container matColumnDef="LastUpdatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LastUpdatedDate</th>
<td mat-cell *matCellDef="let element">{{element.LastUpdatedDate}}</td>
</ng-container>
<ng-container matColumnDef="LastUpdatedMembershipID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LastUpdatedMembershipID</th>
<td mat-cell *matCellDef="let element">{{element.LastUpdatedMembershipID}}</td>
</ng-container>
<ng-container matColumnDef="RowVersion">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RowVersion</th>
<td mat-cell *matCellDef="let element">{{element.RowVersion}}</td>
</ng-container>
<ng-container matColumnDef="SortOrder">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SortOrder</th>
<td mat-cell *matCellDef="let element">{{element.SortOrder}}</td>
</ng-container>
<ng-container matColumnDef="Active">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
<td mat-cell *matCellDef="let element">{{element.Active}}</td>
</ng-container>
<ng-container matColumnDef="TypeName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TypeName</th>
<td mat-cell *matCellDef="let element">{{element.TypeName}}</td>
</ng-container>
<ng-container matColumnDef="Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
<td mat-cell *matCellDef="let element">{{element.Name}}</td>
</ng-container>
<ng-container matColumnDef="Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
<td mat-cell *matCellDef="let element">{{element.Code}}</td>
</ng-container>
<ng-container matColumnDef="Note">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
<td mat-cell *matCellDef="let element">{{element.Note}}</td>
</ng-container>
<ng-container matColumnDef="Display">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Display</th>
<td mat-cell *matCellDef="let element">{{element.Display}}</td>
</ng-container>
<ng-container matColumnDef="FileName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FileName</th>
<td mat-cell *matCellDef="let element">{{element.FileName}}</td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element">{{element.Description}}</td>
</ng-container>
<ng-container matColumnDef="HTMLContent">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HTMLContent</th>
<td mat-cell *matCellDef="let element">{{element.HTMLContent}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucNgonNguID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucNgonNguID</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucNgonNguID}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucUngDungID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucUngDungID</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucUngDungID}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucNgonNguName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucNgonNguName</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucNgonNguName}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucUngDungName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucUngDungName</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucUngDungName}}</td>
</ng-container>
<ng-container matColumnDef="Year">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
<td mat-cell *matCellDef="let element">{{element.Year}}</td>
</ng-container>
<ng-container matColumnDef="Month">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
<td mat-cell *matCellDef="let element">{{element.Month}}</td>
</ng-container>
<ng-container matColumnDef="Day">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
<td mat-cell *matCellDef="let element">{{element.Day}}</td>
</ng-container>
<ng-container matColumnDef="BatDau">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BatDau</th>
<td mat-cell *matCellDef="let element">{{element.BatDau}}</td>
</ng-container>
<ng-container matColumnDef="KetThuc">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KetThuc</th>
<td mat-cell *matCellDef="let element">{{element.KetThuc}}</td>
</ng-container>
<ng-container matColumnDef="ChamCong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChamCong</th>
<td mat-cell *matCellDef="let element">{{element.ChamCong}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucChamCongID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucChamCongID</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucChamCongID}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucChamCongName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucChamCongName</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucChamCongName}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucPhuCapID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucPhuCapID</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucPhuCapID}}</td>
</ng-container>
<ng-container matColumnDef="DanhMucPhuCapName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucPhuCapName</th>
<td mat-cell *matCellDef="let element">{{element.DanhMucPhuCapName}}</td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="HRChamCongChiTietService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: HRChamCongChiTietService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #HRChamCongChiTietPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="HRChamCongChiTietService.IsShowLoading"></app-loading>

