<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        CLSKetQua_DienCo:
                        <b>{{CLSKetQua_DienCoService.FormData.CLSKetQua_DienCo_Id}} [{{CLSKetQua_DienCoService.FormData.CLSKetQua_DienCo_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/CLSKetQua_DienCo" title="CLSKetQua_DienCo">
                                CLSKetQua_DienCo
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="CLSKetQua_DienCoAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="CLSKetQua_DienCoSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>CLSKetQua_DienCo_Id</label>
<input placeholder="CLSKetQua_DienCo_Id" [(ngModel)]="CLSKetQua_DienCoService.FormData.CLSKetQua_DienCo_Id"  name="CLSKetQua_DienCoService.FormData.CLSKetQua_DienCo_Id" type="text" class="form-control">
</div>
<div>
<label>CLSKetQua_Id</label>
<input placeholder="CLSKetQua_Id" [(ngModel)]="CLSKetQua_DienCoService.FormData.CLSKetQua_Id"  name="CLSKetQua_DienCoService.FormData.CLSKetQua_Id" type="text" class="form-control">
</div>
<div>
<label>MauBenh_Id</label>
<input placeholder="MauBenh_Id" [(ngModel)]="CLSKetQua_DienCoService.FormData.MauBenh_Id"  name="CLSKetQua_DienCoService.FormData.MauBenh_Id" type="text" class="form-control">
</div>
<div>
<label>Col_Int_1</label>
<input placeholder="Col_Int_1" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_1"  name="CLSKetQua_DienCoService.FormData.Col_Int_1" type="text" class="form-control">
</div>
<div>
<label>Col_Int_2</label>
<input placeholder="Col_Int_2" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_2"  name="CLSKetQua_DienCoService.FormData.Col_Int_2" type="text" class="form-control">
</div>
<div>
<label>Col_Int_3</label>
<input placeholder="Col_Int_3" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_3"  name="CLSKetQua_DienCoService.FormData.Col_Int_3" type="text" class="form-control">
</div>
<div>
<label>Col_Int_4</label>
<input placeholder="Col_Int_4" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_4"  name="CLSKetQua_DienCoService.FormData.Col_Int_4" type="text" class="form-control">
</div>
<div>
<label>Col_Int_5</label>
<input placeholder="Col_Int_5" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_5"  name="CLSKetQua_DienCoService.FormData.Col_Int_5" type="text" class="form-control">
</div>
<div>
<label>Col_Int_6</label>
<input placeholder="Col_Int_6" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_6"  name="CLSKetQua_DienCoService.FormData.Col_Int_6" type="text" class="form-control">
</div>
<div>
<label>Col_Int_7</label>
<input placeholder="Col_Int_7" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_7"  name="CLSKetQua_DienCoService.FormData.Col_Int_7" type="text" class="form-control">
</div>
<div>
<label>Col_Int_8</label>
<input placeholder="Col_Int_8" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_8"  name="CLSKetQua_DienCoService.FormData.Col_Int_8" type="text" class="form-control">
</div>
<div>
<label>Col_Int_9</label>
<input placeholder="Col_Int_9" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_9"  name="CLSKetQua_DienCoService.FormData.Col_Int_9" type="text" class="form-control">
</div>
<div>
<label>Col_Int_10</label>
<input placeholder="Col_Int_10" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Int_10"  name="CLSKetQua_DienCoService.FormData.Col_Int_10" type="text" class="form-control">
</div>
<div>
<label>Col_Text_1</label>
<input placeholder="Col_Text_1" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_1"  name="CLSKetQua_DienCoService.FormData.Col_Text_1" type="text" class="form-control">
</div>
<div>
<label>Col_Text_2</label>
<input placeholder="Col_Text_2" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_2"  name="CLSKetQua_DienCoService.FormData.Col_Text_2" type="text" class="form-control">
</div>
<div>
<label>Col_Text_3</label>
<input placeholder="Col_Text_3" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_3"  name="CLSKetQua_DienCoService.FormData.Col_Text_3" type="text" class="form-control">
</div>
<div>
<label>Col_Text_4</label>
<input placeholder="Col_Text_4" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_4"  name="CLSKetQua_DienCoService.FormData.Col_Text_4" type="text" class="form-control">
</div>
<div>
<label>Col_Text_5</label>
<input placeholder="Col_Text_5" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_5"  name="CLSKetQua_DienCoService.FormData.Col_Text_5" type="text" class="form-control">
</div>
<div>
<label>Col_Text_6</label>
<input placeholder="Col_Text_6" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_6"  name="CLSKetQua_DienCoService.FormData.Col_Text_6" type="text" class="form-control">
</div>
<div>
<label>Col_Text_7</label>
<input placeholder="Col_Text_7" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_7"  name="CLSKetQua_DienCoService.FormData.Col_Text_7" type="text" class="form-control">
</div>
<div>
<label>Col_Text_8</label>
<input placeholder="Col_Text_8" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_8"  name="CLSKetQua_DienCoService.FormData.Col_Text_8" type="text" class="form-control">
</div>
<div>
<label>Col_Text_9</label>
<input placeholder="Col_Text_9" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_9"  name="CLSKetQua_DienCoService.FormData.Col_Text_9" type="text" class="form-control">
</div>
<div>
<label>Col_Text_10</label>
<input placeholder="Col_Text_10" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Text_10"  name="CLSKetQua_DienCoService.FormData.Col_Text_10" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_1</label>
<input placeholder="Col_DateTime_1" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_1"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_1" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_2</label>
<input placeholder="Col_DateTime_2" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_2"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_2" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_3</label>
<input placeholder="Col_DateTime_3" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_3"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_3" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_4</label>
<input placeholder="Col_DateTime_4" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_4"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_4" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_5</label>
<input placeholder="Col_DateTime_5" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_5"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_5" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_6</label>
<input placeholder="Col_DateTime_6" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_6"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_6" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_7</label>
<input placeholder="Col_DateTime_7" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_7"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_7" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_8</label>
<input placeholder="Col_DateTime_8" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_8"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_8" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_9</label>
<input placeholder="Col_DateTime_9" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_9"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_9" type="text" class="form-control">
</div>
<div>
<label>Col_DateTime_10</label>
<input placeholder="Col_DateTime_10" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_DateTime_10"  name="CLSKetQua_DienCoService.FormData.Col_DateTime_10" type="text" class="form-control">
</div>
<div>
<label>HienThi</label>
<input placeholder="HienThi" [(ngModel)]="CLSKetQua_DienCoService.FormData.HienThi"  name="CLSKetQua_DienCoService.FormData.HienThi" type="text" class="form-control">
</div>
<div>
<label>Ma_MauBenh_Column</label>
<input placeholder="Ma_MauBenh_Column" [(ngModel)]="CLSKetQua_DienCoService.FormData.Ma_MauBenh_Column"  name="CLSKetQua_DienCoService.FormData.Ma_MauBenh_Column" type="text" class="form-control">
</div>
<div>
<label>Idx</label>
<input placeholder="Idx" [(ngModel)]="CLSKetQua_DienCoService.FormData.Idx"  name="CLSKetQua_DienCoService.FormData.Idx" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_1</label>
<input placeholder="Col_Decimal_1" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_1"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_1" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_2</label>
<input placeholder="Col_Decimal_2" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_2"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_2" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_3</label>
<input placeholder="Col_Decimal_3" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_3"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_3" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_4</label>
<input placeholder="Col_Decimal_4" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_4"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_4" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_5</label>
<input placeholder="Col_Decimal_5" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_5"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_5" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_6</label>
<input placeholder="Col_Decimal_6" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_6"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_6" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_7</label>
<input placeholder="Col_Decimal_7" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_7"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_7" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_8</label>
<input placeholder="Col_Decimal_8" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_8"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_8" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_9</label>
<input placeholder="Col_Decimal_9" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_9"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_9" type="text" class="form-control">
</div>
<div>
<label>Col_Decimal_10</label>
<input placeholder="Col_Decimal_10" [(ngModel)]="CLSKetQua_DienCoService.FormData.Col_Decimal_10"  name="CLSKetQua_DienCoService.FormData.Col_Decimal_10" type="text" class="form-control">
</div>
<div>
<label>KetQuaMauBenh_Id</label>
<input placeholder="KetQuaMauBenh_Id" [(ngModel)]="CLSKetQua_DienCoService.FormData.KetQuaMauBenh_Id"  name="CLSKetQua_DienCoService.FormData.KetQuaMauBenh_Id" type="text" class="form-control">
</div>
<div>
<label>TemplateFileName</label>
<input placeholder="TemplateFileName" [(ngModel)]="CLSKetQua_DienCoService.FormData.TemplateFileName"  name="CLSKetQua_DienCoService.FormData.TemplateFileName" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="CLSKetQua_DienCoService.IsShowLoading"></app-loading>

