<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        HRBangLuong:
                        <b>{{HRBangLuongService.FormData.ID}} [{{HRBangLuongService.FormData.ID}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title=""></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/HRBangLuong" title="HRBangLuong">
                                HRBangLuong
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="HRBangLuongAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="HRBangLuongSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>ID</label>
<input placeholder="ID" [(ngModel)]="HRBangLuongService.FormData.ID"  name="HRBangLuongService.FormData.ID" type="text" class="form-control">
</div>
<div>
<label>ParentID</label>
<input placeholder="ParentID" [(ngModel)]="HRBangLuongService.FormData.ParentID"  name="HRBangLuongService.FormData.ParentID" type="text" class="form-control">
</div>
<div>
<label>ParentName</label>
<input placeholder="ParentName" [(ngModel)]="HRBangLuongService.FormData.ParentName"  name="HRBangLuongService.FormData.ParentName" type="text" class="form-control">
</div>
<div>
<label>CreatedDate</label>
<input placeholder="CreatedDate" [(ngModel)]="HRBangLuongService.FormData.CreatedDate"  name="HRBangLuongService.FormData.CreatedDate" type="text" class="form-control">
</div>
<div>
<label>CreatedMembershipID</label>
<input placeholder="CreatedMembershipID" [(ngModel)]="HRBangLuongService.FormData.CreatedMembershipID"  name="HRBangLuongService.FormData.CreatedMembershipID" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedDate</label>
<input placeholder="LastUpdatedDate" [(ngModel)]="HRBangLuongService.FormData.LastUpdatedDate"  name="HRBangLuongService.FormData.LastUpdatedDate" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedMembershipID</label>
<input placeholder="LastUpdatedMembershipID" [(ngModel)]="HRBangLuongService.FormData.LastUpdatedMembershipID"  name="HRBangLuongService.FormData.LastUpdatedMembershipID" type="text" class="form-control">
</div>
<div>
<label>RowVersion</label>
<input placeholder="RowVersion" [(ngModel)]="HRBangLuongService.FormData.RowVersion"  name="HRBangLuongService.FormData.RowVersion" type="text" class="form-control">
</div>
<div>
<label>SortOrder</label>
<input placeholder="SortOrder" [(ngModel)]="HRBangLuongService.FormData.SortOrder"  name="HRBangLuongService.FormData.SortOrder" type="text" class="form-control">
</div>
<div>
<label>Active</label>
<input placeholder="Active" [(ngModel)]="HRBangLuongService.FormData.Active"  name="HRBangLuongService.FormData.Active" type="text" class="form-control">
</div>
<div>
<label>TypeName</label>
<input placeholder="TypeName" [(ngModel)]="HRBangLuongService.FormData.TypeName"  name="HRBangLuongService.FormData.TypeName" type="text" class="form-control">
</div>
<div>
<label>Name</label>
<input placeholder="Name" [(ngModel)]="HRBangLuongService.FormData.Name"  name="HRBangLuongService.FormData.Name" type="text" class="form-control">
</div>
<div>
<label>Code</label>
<input placeholder="Code" [(ngModel)]="HRBangLuongService.FormData.Code"  name="HRBangLuongService.FormData.Code" type="text" class="form-control">
</div>
<div>
<label>Note</label>
<input placeholder="Note" [(ngModel)]="HRBangLuongService.FormData.Note"  name="HRBangLuongService.FormData.Note" type="text" class="form-control">
</div>
<div>
<label>Display</label>
<input placeholder="Display" [(ngModel)]="HRBangLuongService.FormData.Display"  name="HRBangLuongService.FormData.Display" type="text" class="form-control">
</div>
<div>
<label>FileName</label>
<input placeholder="FileName" [(ngModel)]="HRBangLuongService.FormData.FileName"  name="HRBangLuongService.FormData.FileName" type="text" class="form-control">
</div>
<div>
<label>Description</label>
<input placeholder="Description" [(ngModel)]="HRBangLuongService.FormData.Description"  name="HRBangLuongService.FormData.Description" type="text" class="form-control">
</div>
<div>
<label>HTMLContent</label>
<input placeholder="HTMLContent" [(ngModel)]="HRBangLuongService.FormData.HTMLContent"  name="HRBangLuongService.FormData.HTMLContent" type="text" class="form-control">
</div>
<div>
<label>DanhMucNgonNguID</label>
<input placeholder="DanhMucNgonNguID" [(ngModel)]="HRBangLuongService.FormData.DanhMucNgonNguID"  name="HRBangLuongService.FormData.DanhMucNgonNguID" type="text" class="form-control">
</div>
<div>
<label>DanhMucUngDungID</label>
<input placeholder="DanhMucUngDungID" [(ngModel)]="HRBangLuongService.FormData.DanhMucUngDungID"  name="HRBangLuongService.FormData.DanhMucUngDungID" type="text" class="form-control">
</div>
<div>
<label>DanhMucNgonNguName</label>
<input placeholder="DanhMucNgonNguName" [(ngModel)]="HRBangLuongService.FormData.DanhMucNgonNguName"  name="HRBangLuongService.FormData.DanhMucNgonNguName" type="text" class="form-control">
</div>
<div>
<label>DanhMucUngDungName</label>
<input placeholder="DanhMucUngDungName" [(ngModel)]="HRBangLuongService.FormData.DanhMucUngDungName"  name="HRBangLuongService.FormData.DanhMucUngDungName" type="text" class="form-control">
</div>
<div>
<label>NgayGhiNhan</label>
<input placeholder="NgayGhiNhan" [(ngModel)]="HRBangLuongService.FormData.NgayGhiNhan"  name="HRBangLuongService.FormData.NgayGhiNhan" type="text" class="form-control">
</div>
<div>
<label>Year</label>
<input placeholder="Year" [(ngModel)]="HRBangLuongService.FormData.Year"  name="HRBangLuongService.FormData.Year" type="text" class="form-control">
</div>
<div>
<label>Month</label>
<input placeholder="Month" [(ngModel)]="HRBangLuongService.FormData.Month"  name="HRBangLuongService.FormData.Month" type="text" class="form-control">
</div>
<div>
<label>Day</label>
<input placeholder="Day" [(ngModel)]="HRBangLuongService.FormData.Day"  name="HRBangLuongService.FormData.Day" type="text" class="form-control">
</div>
<div>
<label>ChamCong</label>
<input placeholder="ChamCong" [(ngModel)]="HRBangLuongService.FormData.ChamCong"  name="HRBangLuongService.FormData.ChamCong" type="text" class="form-control">
</div>
<div>
<label>Luong</label>
<input placeholder="Luong" [(ngModel)]="HRBangLuongService.FormData.Luong"  name="HRBangLuongService.FormData.Luong" type="text" class="form-control">
</div>
<div>
<label>PhuCap</label>
<input placeholder="PhuCap" [(ngModel)]="HRBangLuongService.FormData.PhuCap"  name="HRBangLuongService.FormData.PhuCap" type="text" class="form-control">
</div>
<div>
<label>GiamTru</label>
<input placeholder="GiamTru" [(ngModel)]="HRBangLuongService.FormData.GiamTru"  name="HRBangLuongService.FormData.GiamTru" type="text" class="form-control">
</div>
<div>
<label>Thue</label>
<input placeholder="Thue" [(ngModel)]="HRBangLuongService.FormData.Thue"  name="HRBangLuongService.FormData.Thue" type="text" class="form-control">
</div>
<div>
<label>ThanhTien</label>
<input placeholder="ThanhTien" [(ngModel)]="HRBangLuongService.FormData.ThanhTien"  name="HRBangLuongService.FormData.ThanhTien" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="HRBangLuongService.IsShowLoading"></app-loading>

