<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        DanhMucThongKe
                        <span *ngIf="DanhMucThongKeService.List">({{DanhMucThongKeService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/DanhMucThongKe" title="DanhMucThongKe">
                                DanhMucThongKe
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="DanhMucThongKeService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="DanhMucThongKeSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="DanhMucThongKeSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #DanhMucThongKeSort="matSort"
                           [dataSource]="DanhMucThongKeService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="DanhMucThongKePaginator">
                                    {{
DanhMucThongKePaginator.pageSize *
                                    DanhMucThongKePaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="DanhMucThongKeSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="DanhMucThongKeDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ID" name="ID" [(ngModel)]="element.ID"></td>
</ng-container>
<ng-container matColumnDef="ParentID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ParentID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ParentID" name="ParentID" [(ngModel)]="element.ParentID"></td>
</ng-container>
<ng-container matColumnDef="ParentName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ParentName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ParentName" name="ParentName" [(ngModel)]="element.ParentName"></td>
</ng-container>
<ng-container matColumnDef="CreatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedDate</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CreatedDate" name="CreatedDate" [(ngModel)]="element.CreatedDate"></td>
</ng-container>
<ng-container matColumnDef="CreatedMembershipID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedMembershipID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CreatedMembershipID" name="CreatedMembershipID" [(ngModel)]="element.CreatedMembershipID"></td>
</ng-container>
<ng-container matColumnDef="LastUpdatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LastUpdatedDate</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LastUpdatedDate" name="LastUpdatedDate" [(ngModel)]="element.LastUpdatedDate"></td>
</ng-container>
<ng-container matColumnDef="LastUpdatedMembershipID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LastUpdatedMembershipID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LastUpdatedMembershipID" name="LastUpdatedMembershipID" [(ngModel)]="element.LastUpdatedMembershipID"></td>
</ng-container>
<ng-container matColumnDef="RowVersion">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RowVersion</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="RowVersion" name="RowVersion" [(ngModel)]="element.RowVersion"></td>
</ng-container>
<ng-container matColumnDef="SortOrder">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SortOrder</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SortOrder" name="SortOrder" [(ngModel)]="element.SortOrder"></td>
</ng-container>
<ng-container matColumnDef="Active">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Active" name="Active" [(ngModel)]="element.Active"></td>
</ng-container>
<ng-container matColumnDef="TypeName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TypeName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TypeName" name="TypeName" [(ngModel)]="element.TypeName"></td>
</ng-container>
<ng-container matColumnDef="Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Name" name="Name" [(ngModel)]="element.Name"></td>
</ng-container>
<ng-container matColumnDef="Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Code" name="Code" [(ngModel)]="element.Code"></td>
</ng-container>
<ng-container matColumnDef="Note">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Note" name="Note" [(ngModel)]="element.Note"></td>
</ng-container>
<ng-container matColumnDef="Display">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Display</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Display" name="Display" [(ngModel)]="element.Display"></td>
</ng-container>
<ng-container matColumnDef="FileName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FileName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="FileName" name="FileName" [(ngModel)]="element.FileName"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>
<ng-container matColumnDef="HTMLContent">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HTMLContent</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HTMLContent" name="HTMLContent" [(ngModel)]="element.HTMLContent"></td>
</ng-container>
<ng-container matColumnDef="DanhMucNgonNguID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucNgonNguID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DanhMucNgonNguID" name="DanhMucNgonNguID" [(ngModel)]="element.DanhMucNgonNguID"></td>
</ng-container>
<ng-container matColumnDef="DanhMucUngDungID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucUngDungID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DanhMucUngDungID" name="DanhMucUngDungID" [(ngModel)]="element.DanhMucUngDungID"></td>
</ng-container>
<ng-container matColumnDef="DanhMucNgonNguName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucNgonNguName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DanhMucNgonNguName" name="DanhMucNgonNguName" [(ngModel)]="element.DanhMucNgonNguName"></td>
</ng-container>
<ng-container matColumnDef="DanhMucUngDungName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DanhMucUngDungName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DanhMucUngDungName" name="DanhMucUngDungName" [(ngModel)]="element.DanhMucUngDungName"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="DanhMucThongKeService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: DanhMucThongKeService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #DanhMucThongKePaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #DanhMucThongKeSort="matSort"
                           [dataSource]="DanhMucThongKeService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col-lg-12 col-sm-12 col-12">
<label>ID</label>
<br />
<input class="form-control" type="text" placeholder="ID" name="ID{{element.ID}}" [(ngModel)]="element.ID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ParentID</label>
<br />
<input class="form-control" type="text" placeholder="ParentID" name="ParentID{{element.ID}}" [(ngModel)]="element.ParentID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>ParentName</label>
<br />
<input class="form-control" type="text" placeholder="ParentName" name="ParentName{{element.ID}}" [(ngModel)]="element.ParentName">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>CreatedDate</label>
<br />
<input class="form-control" type="text" placeholder="CreatedDate" name="CreatedDate{{element.ID}}" [(ngModel)]="element.CreatedDate">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>CreatedMembershipID</label>
<br />
<input class="form-control" type="text" placeholder="CreatedMembershipID" name="CreatedMembershipID{{element.ID}}" [(ngModel)]="element.CreatedMembershipID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LastUpdatedDate</label>
<br />
<input class="form-control" type="text" placeholder="LastUpdatedDate" name="LastUpdatedDate{{element.ID}}" [(ngModel)]="element.LastUpdatedDate">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>LastUpdatedMembershipID</label>
<br />
<input class="form-control" type="text" placeholder="LastUpdatedMembershipID" name="LastUpdatedMembershipID{{element.ID}}" [(ngModel)]="element.LastUpdatedMembershipID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>RowVersion</label>
<br />
<input class="form-control" type="text" placeholder="RowVersion" name="RowVersion{{element.ID}}" [(ngModel)]="element.RowVersion">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>SortOrder</label>
<br />
<input class="form-control" type="text" placeholder="SortOrder" name="SortOrder{{element.ID}}" [(ngModel)]="element.SortOrder">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Active</label>
<br />
<input class="form-control" type="text" placeholder="Active" name="Active{{element.ID}}" [(ngModel)]="element.Active">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>TypeName</label>
<br />
<input class="form-control" type="text" placeholder="TypeName" name="TypeName{{element.ID}}" [(ngModel)]="element.TypeName">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Name</label>
<br />
<input class="form-control" type="text" placeholder="Name" name="Name{{element.ID}}" [(ngModel)]="element.Name">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Code</label>
<br />
<input class="form-control" type="text" placeholder="Code" name="Code{{element.ID}}" [(ngModel)]="element.Code">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Note</label>
<br />
<input class="form-control" type="text" placeholder="Note" name="Note{{element.ID}}" [(ngModel)]="element.Note">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Display</label>
<br />
<input class="form-control" type="text" placeholder="Display" name="Display{{element.ID}}" [(ngModel)]="element.Display">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>FileName</label>
<br />
<input class="form-control" type="text" placeholder="FileName" name="FileName{{element.ID}}" [(ngModel)]="element.FileName">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>Description</label>
<br />
<input class="form-control" type="text" placeholder="Description" name="Description{{element.ID}}" [(ngModel)]="element.Description">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>HTMLContent</label>
<br />
<input class="form-control" type="text" placeholder="HTMLContent" name="HTMLContent{{element.ID}}" [(ngModel)]="element.HTMLContent">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DanhMucNgonNguID</label>
<br />
<input class="form-control" type="text" placeholder="DanhMucNgonNguID" name="DanhMucNgonNguID{{element.ID}}" [(ngModel)]="element.DanhMucNgonNguID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DanhMucUngDungID</label>
<br />
<input class="form-control" type="text" placeholder="DanhMucUngDungID" name="DanhMucUngDungID{{element.ID}}" [(ngModel)]="element.DanhMucUngDungID">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DanhMucNgonNguName</label>
<br />
<input class="form-control" type="text" placeholder="DanhMucNgonNguName" name="DanhMucNgonNguName{{element.ID}}" [(ngModel)]="element.DanhMucNgonNguName">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label>DanhMucUngDungName</label>
<br />
<input class="form-control" type="text" placeholder="DanhMucUngDungName" name="DanhMucUngDungName{{element.ID}}" [(ngModel)]="element.DanhMucUngDungName">
</div>

                                </div>
                                <div class="row gx-4">
                                    <div class="col s6 m6 l6">
                                        <a (click)="DanhMucThongKeSave(element)" style="color:#2196f3;">
                                            <i class="material-icons">save</i>
                                        </a>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a (click)="DanhMucThongKeDelete(element)"
                                           style="color: red;"><i class="material-icons">delete_forever</i></a>
                                    </div>
                                </div>
                                <br />
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="DanhMucThongKeService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: DanhMucThongKeService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #DanhMucThongKePaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DanhMucThongKeService.IsShowLoading"></app-loading>

