<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_AppPrivateSettingPermissions:
                        <b>{{Sys_AppPrivateSettingPermissionsService.FormData.SettingPermission_Id}} [{{Sys_AppPrivateSettingPermissionsService.FormData.SettingPermission_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A_Config/">eHospital_DongNai_A_Config/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_AppPrivateSettingPermissions" title="Sys_AppPrivateSettingPermissions">
                                Sys_AppPrivateSettingPermissions
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="Sys_AppPrivateSettingPermissionsAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="Sys_AppPrivateSettingPermissionsSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>SettingPermission_Id</label>
<input placeholder="SettingPermission_Id" [(ngModel)]="Sys_AppPrivateSettingPermissionsService.FormData.SettingPermission_Id"  name="Sys_AppPrivateSettingPermissionsService.FormData.SettingPermission_Id" type="text" class="form-control">
</div>
<div>
<label>Setting_Id</label>
<input placeholder="Setting_Id" [(ngModel)]="Sys_AppPrivateSettingPermissionsService.FormData.Setting_Id"  name="Sys_AppPrivateSettingPermissionsService.FormData.Setting_Id" type="text" class="form-control">
</div>
<div>
<label>User_Id</label>
<input placeholder="User_Id" [(ngModel)]="Sys_AppPrivateSettingPermissionsService.FormData.User_Id"  name="Sys_AppPrivateSettingPermissionsService.FormData.User_Id" type="text" class="form-control">
</div>
<div>
<label>Group_Id</label>
<input placeholder="Group_Id" [(ngModel)]="Sys_AppPrivateSettingPermissionsService.FormData.Group_Id"  name="Sys_AppPrivateSettingPermissionsService.FormData.Group_Id" type="text" class="form-control">
</div>
<div>
<label>EditRight</label>
<input placeholder="EditRight" [(ngModel)]="Sys_AppPrivateSettingPermissionsService.FormData.EditRight"  name="Sys_AppPrivateSettingPermissionsService.FormData.EditRight" type="text" class="form-control">
</div>
<div>
<label>DeleteRight</label>
<input placeholder="DeleteRight" [(ngModel)]="Sys_AppPrivateSettingPermissionsService.FormData.DeleteRight"  name="Sys_AppPrivateSettingPermissionsService.FormData.DeleteRight" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="Sys_AppPrivateSettingPermissionsService.IsShowLoading"></app-loading>

