<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        KhamBenh
                        <span *ngIf="KhamBenhService.List">({{KhamBenhService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/KhamBenh" title="KhamBenh">
                                KhamBenh
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="KhamBenhService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="KhamBenhSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="KhamBenhSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #KhamBenhSort="matSort"
                           [dataSource]="KhamBenhService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="KhamBenhPaginator">
                                    {{
KhamBenhPaginator.pageSize *
                                    KhamBenhPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="KhamBenhSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="KhamBenhDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="KhamBenh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenh_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenh_Id" name="KhamBenh_Id" [(ngModel)]="element.KhamBenh_Id"></td>
</ng-container>
<ng-container matColumnDef="BenhNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhNhan_Id" name="BenhNhan_Id" [(ngModel)]="element.BenhNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="TiepNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TiepNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TiepNhan_Id" name="TiepNhan_Id" [(ngModel)]="element.TiepNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="DichVu_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DichVu_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DichVu_Id" name="DichVu_Id" [(ngModel)]="element.DichVu_Id"></td>
</ng-container>
<ng-container matColumnDef="PhongBan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhongBan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PhongBan_Id" name="PhongBan_Id" [(ngModel)]="element.PhongBan_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayKham">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayKham</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayKham" name="NgayKham" [(ngModel)]="element.NgayKham"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianKham">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianKham</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianKham" name="ThoiGianKham" [(ngModel)]="element.ThoiGianKham"></td>
</ng-container>
<ng-container matColumnDef="BacSiKham_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BacSiKham_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BacSiKham_Id" name="BacSiKham_Id" [(ngModel)]="element.BacSiKham_Id"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanKhoaKham">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanKhoaKham</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanKhoaKham" name="ChanDoanKhoaKham" [(ngModel)]="element.ChanDoanKhoaKham"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanICD_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanICD_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanICD_Id" name="ChanDoanICD_Id" [(ngModel)]="element.ChanDoanICD_Id"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanPhuICD_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanPhuICD_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanPhuICD_Id" name="ChanDoanPhuICD_Id" [(ngModel)]="element.ChanDoanPhuICD_Id"></td>
</ng-container>
<ng-container matColumnDef="HuongGiaiQuyet_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuongGiaiQuyet_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuongGiaiQuyet_Id" name="HuongGiaiQuyet_Id" [(ngModel)]="element.HuongGiaiQuyet_Id"></td>
</ng-container>
<ng-container matColumnDef="GhiChu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GhiChu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GhiChu" name="GhiChu" [(ngModel)]="element.GhiChu"></td>
</ng-container>
<ng-container matColumnDef="SoNgayHenTaiKham">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoNgayHenTaiKham</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoNgayHenTaiKham" name="SoNgayHenTaiKham" [(ngModel)]="element.SoNgayHenTaiKham"></td>
</ng-container>
<ng-container matColumnDef="NhapKhoa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhapKhoa_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhapKhoa_Id" name="NhapKhoa_Id" [(ngModel)]="element.NhapKhoa_Id"></td>
</ng-container>
<ng-container matColumnDef="ChuyenDenBenhVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenDenBenhVien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenDenBenhVien_Id" name="ChuyenDenBenhVien_Id" [(ngModel)]="element.ChuyenDenBenhVien_Id"></td>
</ng-container>
<ng-container matColumnDef="CheDoAnUong_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CheDoAnUong_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CheDoAnUong_Id" name="CheDoAnUong_Id" [(ngModel)]="element.CheDoAnUong_Id"></td>
</ng-container>
<ng-container matColumnDef="CheDoChamSoc_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CheDoChamSoc_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CheDoChamSoc_Id" name="CheDoChamSoc_Id" [(ngModel)]="element.CheDoChamSoc_Id"></td>
</ng-container>
<ng-container matColumnDef="KhamCapCuu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamCapCuu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamCapCuu" name="KhamCapCuu" [(ngModel)]="element.KhamCapCuu"></td>
</ng-container>
<ng-container matColumnDef="KhamBenhLanDau_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenhLanDau_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenhLanDau_Id" name="KhamBenhLanDau_Id" [(ngModel)]="element.KhamBenhLanDau_Id"></td>
</ng-container>
<ng-container matColumnDef="LyDoNhapVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDoNhapVien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LyDoNhapVien_Id" name="LyDoNhapVien_Id" [(ngModel)]="element.LyDoNhapVien_Id"></td>
</ng-container>
<ng-container matColumnDef="Mach">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Mach</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Mach" name="Mach" [(ngModel)]="element.Mach"></td>
</ng-container>
<ng-container matColumnDef="HuyetApThap">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuyetApThap</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuyetApThap" name="HuyetApThap" [(ngModel)]="element.HuyetApThap"></td>
</ng-container>
<ng-container matColumnDef="HuyetApCao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuyetApCao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuyetApCao" name="HuyetApCao" [(ngModel)]="element.HuyetApCao"></td>
</ng-container>
<ng-container matColumnDef="NhipTho">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhipTho</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhipTho" name="NhipTho" [(ngModel)]="element.NhipTho"></td>
</ng-container>
<ng-container matColumnDef="NhietDo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhietDo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhietDo" name="NhietDo" [(ngModel)]="element.NhietDo"></td>
</ng-container>
<ng-container matColumnDef="ChieuCao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChieuCao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChieuCao" name="ChieuCao" [(ngModel)]="element.ChieuCao"></td>
</ng-container>
<ng-container matColumnDef="CanNang">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CanNang</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CanNang" name="CanNang" [(ngModel)]="element.CanNang"></td>
</ng-container>
<ng-container matColumnDef="TrieuChungLamSang">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TrieuChungLamSang</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TrieuChungLamSang" name="TrieuChungLamSang" [(ngModel)]="element.TrieuChungLamSang"></td>
</ng-container>
<ng-container matColumnDef="DichVu_KhamBenh_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DichVu_KhamBenh_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DichVu_KhamBenh_Id" name="DichVu_KhamBenh_Id" [(ngModel)]="element.DichVu_KhamBenh_Id"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanSoBo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanSoBo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanSoBo" name="ChanDoanSoBo" [(ngModel)]="element.ChanDoanSoBo"></td>
</ng-container>
<ng-container matColumnDef="YeuCauChiTiet_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>YeuCauChiTiet_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="YeuCauChiTiet_Id" name="YeuCauChiTiet_Id" [(ngModel)]="element.YeuCauChiTiet_Id"></td>
</ng-container>
<ng-container matColumnDef="KhamBenh_ChuyenKhoa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenh_ChuyenKhoa_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenh_ChuyenKhoa_Id" name="KhamBenh_ChuyenKhoa_Id" [(ngModel)]="element.KhamBenh_ChuyenKhoa_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayTao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayTao" name="NgayTao" [(ngModel)]="element.NgayTao"></td>
</ng-container>
<ng-container matColumnDef="NguoiTao_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiTao_Id" name="NguoiTao_Id" [(ngModel)]="element.NguoiTao_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayCapNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayCapNhat" name="NgayCapNhat" [(ngModel)]="element.NgayCapNhat"></td>
</ng-container>
<ng-container matColumnDef="NguoiCapNhat_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiCapNhat_Id" name="NguoiCapNhat_Id" [(ngModel)]="element.NguoiCapNhat_Id"></td>
</ng-container>
<ng-container matColumnDef="ToaThuocMuaNgoai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ToaThuocMuaNgoai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ToaThuocMuaNgoai" name="ToaThuocMuaNgoai" [(ngModel)]="element.ToaThuocMuaNgoai"></td>
</ng-container>
<ng-container matColumnDef="ChanDoanICD">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChanDoanICD</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChanDoanICD" name="ChanDoanICD" [(ngModel)]="element.ChanDoanICD"></td>
</ng-container>
<ng-container matColumnDef="GiaiDoanBenh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GiaiDoanBenh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GiaiDoanBenh" name="GiaiDoanBenh" [(ngModel)]="element.GiaiDoanBenh"></td>
</ng-container>
<ng-container matColumnDef="TacDungPhu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TacDungPhu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TacDungPhu" name="TacDungPhu" [(ngModel)]="element.TacDungPhu"></td>
</ng-container>
<ng-container matColumnDef="TuanThuCuaBN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TuanThuCuaBN</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TuanThuCuaBN" name="TuanThuCuaBN" [(ngModel)]="element.TuanThuCuaBN"></td>
</ng-container>
<ng-container matColumnDef="HuongDieuTri_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HuongDieuTri_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HuongDieuTri_Id" name="HuongDieuTri_Id" [(ngModel)]="element.HuongDieuTri_Id"></td>
</ng-container>
<ng-container matColumnDef="SoNgayDieuTri">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoNgayDieuTri</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoNgayDieuTri" name="SoNgayDieuTri" [(ngModel)]="element.SoNgayDieuTri"></td>
</ng-container>
<ng-container matColumnDef="GhiChu2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GhiChu2</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GhiChu2" name="GhiChu2" [(ngModel)]="element.GhiChu2"></td>
</ng-container>
<ng-container matColumnDef="SoBenhAnNgoaiTru_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoBenhAnNgoaiTru_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoBenhAnNgoaiTru_Id" name="SoBenhAnNgoaiTru_Id" [(ngModel)]="element.SoBenhAnNgoaiTru_Id"></td>
</ng-container>
<ng-container matColumnDef="DieuTriDuPhong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DieuTriDuPhong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DieuTriDuPhong" name="DieuTriDuPhong" [(ngModel)]="element.DieuTriDuPhong"></td>
</ng-container>
<ng-container matColumnDef="DoiTuong_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoiTuong_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DoiTuong_Id" name="DoiTuong_Id" [(ngModel)]="element.DoiTuong_Id"></td>
</ng-container>
<ng-container matColumnDef="BMI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BMI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BMI" name="BMI" [(ngModel)]="element.BMI"></td>
</ng-container>
<ng-container matColumnDef="KhoaDuDieu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhoaDuDieu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhoaDuDieu" name="KhoaDuDieu" [(ngModel)]="element.KhoaDuDieu"></td>
</ng-container>
<ng-container matColumnDef="NguoiKhoa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiKhoa_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NguoiKhoa_Id" name="NguoiKhoa_Id" [(ngModel)]="element.NguoiKhoa_Id"></td>
</ng-container>
<ng-container matColumnDef="NgayKhoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayKhoa</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayKhoa" name="NgayKhoa" [(ngModel)]="element.NgayKhoa"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianKhoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianKhoa</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianKhoa" name="ThoiGianKhoa" [(ngModel)]="element.ThoiGianKhoa"></td>
</ng-container>
<ng-container matColumnDef="ChuyenKhoa_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuyenKhoa_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuyenKhoa_Id" name="ChuyenKhoa_Id" [(ngModel)]="element.ChuyenKhoa_Id"></td>
</ng-container>
<ng-container matColumnDef="ThoiGianNhapVienDuKien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThoiGianNhapVienDuKien</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThoiGianNhapVienDuKien" name="ThoiGianNhapVienDuKien" [(ngModel)]="element.ThoiGianNhapVienDuKien"></td>
</ng-container>
<ng-container matColumnDef="TyLeMo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TyLeMo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TyLeMo" name="TyLeMo" [(ngModel)]="element.TyLeMo"></td>
</ng-container>
<ng-container matColumnDef="VongBung">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VongBung</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="VongBung" name="VongBung" [(ngModel)]="element.VongBung"></td>
</ng-container>
<ng-container matColumnDef="TLDG_MP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TLDG_MP</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TLDG_MP" name="TLDG_MP" [(ngModel)]="element.TLDG_MP"></td>
</ng-container>
<ng-container matColumnDef="TLDG_MT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TLDG_MT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TLDG_MT" name="TLDG_MT" [(ngModel)]="element.TLDG_MT"></td>
</ng-container>
<ng-container matColumnDef="TKLT_MP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TKLT_MP</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TKLT_MP" name="TKLT_MP" [(ngModel)]="element.TKLT_MP"></td>
</ng-container>
<ng-container matColumnDef="TKLT_MT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TKLT_MT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TKLT_MT" name="TKLT_MT" [(ngModel)]="element.TKLT_MT"></td>
</ng-container>
<ng-container matColumnDef="SieuHienVi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SieuHienVi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SieuHienVi" name="SieuHienVi" [(ngModel)]="element.SieuHienVi"></td>
</ng-container>
<ng-container matColumnDef="SoiDayMat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoiDayMat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoiDayMat" name="SoiDayMat" [(ngModel)]="element.SoiDayMat"></td>
</ng-container>
<ng-container matColumnDef="TKLT_MP_Text">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TKLT_MP_Text</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TKLT_MP_Text" name="TKLT_MP_Text" [(ngModel)]="element.TKLT_MP_Text"></td>
</ng-container>
<ng-container matColumnDef="TKLT_MT_Text">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TKLT_MT_Text</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TKLT_MT_Text" name="TKLT_MT_Text" [(ngModel)]="element.TKLT_MT_Text"></td>
</ng-container>
<ng-container matColumnDef="NhanAp_MT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhanAp_MT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhanAp_MT" name="NhanAp_MT" [(ngModel)]="element.NhanAp_MT"></td>
</ng-container>
<ng-container matColumnDef="NhanAp_MP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NhanAp_MP</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NhanAp_MP" name="NhanAp_MP" [(ngModel)]="element.NhanAp_MP"></td>
</ng-container>
<ng-container matColumnDef="NghiOm_TuNgay">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NghiOm_TuNgay</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NghiOm_TuNgay" name="NghiOm_TuNgay" [(ngModel)]="element.NghiOm_TuNgay"></td>
</ng-container>
<ng-container matColumnDef="NghiOm_DenNgay">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NghiOm_DenNgay</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NghiOm_DenNgay" name="NghiOm_DenNgay" [(ngModel)]="element.NghiOm_DenNgay"></td>
</ng-container>
<ng-container matColumnDef="TLDG_MT_Text">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TLDG_MT_Text</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TLDG_MT_Text" name="TLDG_MT_Text" [(ngModel)]="element.TLDG_MT_Text"></td>
</ng-container>
<ng-container matColumnDef="TLDG_MP_Text">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TLDG_MP_Text</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TLDG_MP_Text" name="TLDG_MP_Text" [(ngModel)]="element.TLDG_MP_Text"></td>
</ng-container>
<ng-container matColumnDef="BenhAn_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhAn_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhAn_ID" name="BenhAn_ID" [(ngModel)]="element.BenhAn_ID"></td>
</ng-container>
<ng-container matColumnDef="BenhManTinh_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhManTinh_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhManTinh_ID" name="BenhManTinh_ID" [(ngModel)]="element.BenhManTinh_ID"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="KhamBenhService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: KhamBenhService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #KhamBenhPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="KhamBenhService.IsShowLoading"></app-loading>

