<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_Configs
                        <span *ngIf="Sys_ConfigsService.List">({{Sys_ConfigsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_Configs" title="Sys_Configs">
                                Sys_Configs
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_ConfigsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_ConfigsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_ConfigsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_ConfigsSort="matSort"
                           [dataSource]="Sys_ConfigsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_ConfigsPaginator">
                                    {{
Sys_ConfigsPaginator.pageSize *
                                    Sys_ConfigsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_ConfigsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="Sys_ConfigsDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="Config_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Config_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Config_Id" name="Config_Id" [(ngModel)]="element.Config_Id"></td>
</ng-container>
<ng-container matColumnDef="Config_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Config_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Config_Code" name="Config_Code" [(ngModel)]="element.Config_Code"></td>
</ng-container>
<ng-container matColumnDef="Language_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Language_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Language_Id" name="Language_Id" [(ngModel)]="element.Language_Id"></td>
</ng-container>
<ng-container matColumnDef="Config_Type">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Config_Type</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Config_Type" name="Config_Type" [(ngModel)]="element.Config_Type"></td>
</ng-container>
<ng-container matColumnDef="Config_Data">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Config_Data</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Config_Data" name="Config_Data" [(ngModel)]="element.Config_Data"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>
<ng-container matColumnDef="Table_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Table_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Table_Name" name="Table_Name" [(ngModel)]="element.Table_Name"></td>
</ng-container>
<ng-container matColumnDef="Idx">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Idx</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Idx" name="Idx" [(ngModel)]="element.Idx"></td>
</ng-container>
<ng-container matColumnDef="Parent_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Parent_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Parent_Id" name="Parent_Id" [(ngModel)]="element.Parent_Id"></td>
</ng-container>
<ng-container matColumnDef="User_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Id" name="User_Id" [(ngModel)]="element.User_Id"></td>
</ng-container>
<ng-container matColumnDef="Group_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Group_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Group_Id" name="Group_Id" [(ngModel)]="element.Group_Id"></td>
</ng-container>
<ng-container matColumnDef="Attribute1">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute1</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute1" name="Attribute1" [(ngModel)]="element.Attribute1"></td>
</ng-container>
<ng-container matColumnDef="Attribute2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute2</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute2" name="Attribute2" [(ngModel)]="element.Attribute2"></td>
</ng-container>
<ng-container matColumnDef="Attribute3">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute3</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute3" name="Attribute3" [(ngModel)]="element.Attribute3"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="Sys_ConfigsService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: Sys_ConfigsService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_ConfigsPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="Sys_ConfigsService.IsShowLoading"></app-loading>

