<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        idx
                        <span *ngIf="idxService.List">({{idxService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/idx" title="idx">
                                idx
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="idxService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="idxSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="idxSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #idxSort="matSort"
                           [dataSource]="idxService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="idxPaginator">
                                    {{
idxPaginator.pageSize *
                                    idxPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="idxSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="idxDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Menu_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Menu_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Menu_Code" name="Menu_Code" [(ngModel)]="element.Menu_Code"></td>
</ng-container>
<ng-container matColumnDef="Menu_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Menu_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Menu_Name" name="Menu_Name" [(ngModel)]="element.Menu_Name"></td>
</ng-container>
<ng-container matColumnDef="idx">
<th mat-header-cell *matHeaderCellDef mat-sort-header>idx</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="idx" name="idx" [(ngModel)]="element.idx"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="idxService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: idxService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #idxPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="idxService.IsShowLoading"></app-loading>
