<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        KhamBenh_VaoVien_SanKhoa
                        <span *ngIf="KhamBenh_VaoVien_SanKhoaService.List">({{KhamBenh_VaoVien_SanKhoaService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/KhamBenh_VaoVien_SanKhoa" title="KhamBenh_VaoVien_SanKhoa">
                                KhamBenh_VaoVien_SanKhoa
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="KhamBenh_VaoVien_SanKhoaService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="KhamBenh_VaoVien_SanKhoaSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="KhamBenh_VaoVien_SanKhoaSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #KhamBenh_VaoVien_SanKhoaSort="matSort"
                           [dataSource]="KhamBenh_VaoVien_SanKhoaService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="KhamBenh_VaoVien_SanKhoaPaginator">
                                    {{
KhamBenh_VaoVien_SanKhoaPaginator.pageSize *
                                    KhamBenh_VaoVien_SanKhoaPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="KhamBenh_VaoVien_SanKhoaSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="KhamBenh_VaoVien_SanKhoaDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="KhamBenh_VaoVien_SanKhoa_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenh_VaoVien_SanKhoa_ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenh_VaoVien_SanKhoa_ID" name="KhamBenh_VaoVien_SanKhoa_ID" [(ngModel)]="element.KhamBenh_VaoVien_SanKhoa_ID"></td>
</ng-container>
<ng-container matColumnDef="KhamBenhVaoVien_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamBenhVaoVien_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamBenhVaoVien_Id" name="KhamBenhVaoVien_Id" [(ngModel)]="element.KhamBenhVaoVien_Id"></td>
</ng-container>
<ng-container matColumnDef="BuouCo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BuouCo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BuouCo" name="BuouCo" [(ngModel)]="element.BuouCo"></td>
</ng-container>
<ng-container matColumnDef="TieuDuong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TieuDuong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TieuDuong" name="TieuDuong" [(ngModel)]="element.TieuDuong"></td>
</ng-container>
<ng-container matColumnDef="TimMach">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TimMach</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TimMach" name="TimMach" [(ngModel)]="element.TimMach"></td>
</ng-container>
<ng-container matColumnDef="Lao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Lao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Lao" name="Lao" [(ngModel)]="element.Lao"></td>
</ng-container>
<ng-container matColumnDef="ChuKy">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuKy</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuKy" name="ChuKy" [(ngModel)]="element.ChuKy"></td>
</ng-container>
<ng-container matColumnDef="SoNgayHinhKinh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoNgayHinhKinh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoNgayHinhKinh" name="SoNgayHinhKinh" [(ngModel)]="element.SoNgayHinhKinh"></td>
</ng-container>
<ng-container matColumnDef="ThongKinh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThongKinh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThongKinh" name="ThongKinh" [(ngModel)]="element.ThongKinh"></td>
</ng-container>
<ng-container matColumnDef="SoLuongKinh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoLuongKinh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoLuongKinh" name="SoLuongKinh" [(ngModel)]="element.SoLuongKinh"></td>
</ng-container>
<ng-container matColumnDef="KinhLanDau">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KinhLanDau</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KinhLanDau" name="KinhLanDau" [(ngModel)]="element.KinhLanDau"></td>
</ng-container>
<ng-container matColumnDef="NamLayChong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NamLayChong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NamLayChong" name="NamLayChong" [(ngModel)]="element.NamLayChong"></td>
</ng-container>
<ng-container matColumnDef="Vong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Vong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Vong" name="Vong" [(ngModel)]="element.Vong"></td>
</ng-container>
<ng-container matColumnDef="Thuoc">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Thuoc</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Thuoc" name="Thuoc" [(ngModel)]="element.Thuoc"></td>
</ng-container>
<ng-container matColumnDef="BaoCaosu">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BaoCaosu</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BaoCaosu" name="BaoCaosu" [(ngModel)]="element.BaoCaosu"></td>
</ng-container>
<ng-container matColumnDef="Khac">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Khac</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Khac" name="Khac" [(ngModel)]="element.Khac"></td>
</ng-container>
<ng-container matColumnDef="BenhPhuKhoa">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhPhuKhoa</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhPhuKhoa" name="BenhPhuKhoa" [(ngModel)]="element.BenhPhuKhoa"></td>
</ng-container>
<ng-container matColumnDef="VMCNgay">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VMCNgay</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="VMCNgay" name="VMCNgay" [(ngModel)]="element.VMCNgay"></td>
</ng-container>
<ng-container matColumnDef="LyDo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LyDo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LyDo" name="LyDo" [(ngModel)]="element.LyDo"></td>
</ng-container>
<ng-container matColumnDef="BenhVien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhVien</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhVien" name="BenhVien" [(ngModel)]="element.BenhVien"></td>
</ng-container>
<ng-container matColumnDef="PhauThuatKhac">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhauThuatKhac</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PhauThuatKhac" name="PhauThuatKhac" [(ngModel)]="element.PhauThuatKhac"></td>
</ng-container>
<ng-container matColumnDef="LanCoThai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LanCoThai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LanCoThai" name="LanCoThai" [(ngModel)]="element.LanCoThai"></td>
</ng-container>
<ng-container matColumnDef="LanSanh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LanSanh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LanSanh" name="LanSanh" [(ngModel)]="element.LanSanh"></td>
</ng-container>
<ng-container matColumnDef="LanSay">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LanSay</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="LanSay" name="LanSay" [(ngModel)]="element.LanSay"></td>
</ng-container>
<ng-container matColumnDef="DHKN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DHKN</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DHKN" name="DHKN" [(ngModel)]="element.DHKN"></td>
</ng-container>
<ng-container matColumnDef="SoConSong">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SoConSong</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SoConSong" name="SoConSong" [(ngModel)]="element.SoConSong"></td>
</ng-container>
<ng-container matColumnDef="ConNangNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ConNangNhat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ConNangNhat" name="ConNangNhat" [(ngModel)]="element.ConNangNhat"></td>
</ng-container>
<ng-container matColumnDef="NamSinhconNhoNhat">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NamSinhconNhoNhat</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NamSinhconNhoNhat" name="NamSinhconNhoNhat" [(ngModel)]="element.NamSinhconNhoNhat"></td>
</ng-container>
<ng-container matColumnDef="TaiBien">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TaiBien</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TaiBien" name="TaiBien" [(ngModel)]="element.TaiBien"></td>
</ng-container>
<ng-container matColumnDef="NgayKyKinhChot">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayKyKinhChot</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayKyKinhChot" name="NgayKyKinhChot" [(ngModel)]="element.NgayKyKinhChot"></td>
</ng-container>
<ng-container matColumnDef="NgayDuSanh">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayDuSanh</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayDuSanh" name="NgayDuSanh" [(ngModel)]="element.NgayDuSanh"></td>
</ng-container>
<ng-container matColumnDef="KhamThaiTai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhamThaiTai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhamThaiTai" name="KhamThaiTai" [(ngModel)]="element.KhamThaiTai"></td>
</ng-container>
<ng-container matColumnDef="NgayGioCDKhongro">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayGioCDKhongro</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayGioCDKhongro" name="NgayGioCDKhongro" [(ngModel)]="element.NgayGioCDKhongro"></td>
</ng-container>
<ng-container matColumnDef="NgayGioCD">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayGioCD</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayGioCD" name="NgayGioCD" [(ngModel)]="element.NgayGioCD"></td>
</ng-container>
<ng-container matColumnDef="ThanhBung">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ThanhBung</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ThanhBung" name="ThanhBung" [(ngModel)]="element.ThanhBung"></td>
</ng-container>
<ng-container matColumnDef="VMC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VMC</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="VMC" name="VMC" [(ngModel)]="element.VMC"></td>
</ng-container>
<ng-container matColumnDef="TCCao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TCCao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TCCao" name="TCCao" [(ngModel)]="element.TCCao"></td>
</ng-container>
<ng-container matColumnDef="TCHinhDang">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TCHinhDang</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TCHinhDang" name="TCHinhDang" [(ngModel)]="element.TCHinhDang"></td>
</ng-container>
<ng-container matColumnDef="TimThai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TimThai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TimThai" name="TimThai" [(ngModel)]="element.TimThai"></td>
</ng-container>
<ng-container matColumnDef="AmDao">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AmDao</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="AmDao" name="AmDao" [(ngModel)]="element.AmDao"></td>
</ng-container>
<ng-container matColumnDef="TangSanhMon">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TangSanhMon</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TangSanhMon" name="TangSanhMon" [(ngModel)]="element.TangSanhMon"></td>
</ng-container>
<ng-container matColumnDef="CoTC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CoTC</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CoTC" name="CoTC" [(ngModel)]="element.CoTC"></td>
</ng-container>
<ng-container matColumnDef="Oi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Oi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Oi" name="Oi" [(ngModel)]="element.Oi"></td>
</ng-container>
<ng-container matColumnDef="MauNuocOi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MauNuocOi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MauNuocOi" name="MauNuocOi" [(ngModel)]="element.MauNuocOi"></td>
</ng-container>
<ng-container matColumnDef="MoTaNuocOi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MoTaNuocOi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MoTaNuocOi" name="MoTaNuocOi" [(ngModel)]="element.MoTaNuocOi"></td>
</ng-container>
<ng-container matColumnDef="NgayGioOi">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgayGioOi</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgayGioOi" name="NgayGioOi" [(ngModel)]="element.NgayGioOi"></td>
</ng-container>
<ng-container matColumnDef="NgoiThai">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NgoiThai</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NgoiThai" name="NgoiThai" [(ngModel)]="element.NgoiThai"></td>
</ng-container>
<ng-container matColumnDef="KieuThe">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KieuThe</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KieuThe" name="KieuThe" [(ngModel)]="element.KieuThe"></td>
</ng-container>
<ng-container matColumnDef="DoLot">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DoLot</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DoLot" name="DoLot" [(ngModel)]="element.DoLot"></td>
</ng-container>
<ng-container matColumnDef="KhungChau">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KhungChau</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KhungChau" name="KhungChau" [(ngModel)]="element.KhungChau"></td>
</ng-container>
<ng-container matColumnDef="ChuanDoanSoBo">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChuanDoanSoBo</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChuanDoanSoBo" name="ChuanDoanSoBo" [(ngModel)]="element.ChuanDoanSoBo"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="KhamBenh_VaoVien_SanKhoaService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: KhamBenh_VaoVien_SanKhoaService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #KhamBenh_VaoVien_SanKhoaPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="KhamBenh_VaoVien_SanKhoaService.IsShowLoading"></app-loading>

