<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_Users
                        <span *ngIf="Sys_UsersService.List">({{Sys_UsersService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_Users" title="Sys_Users">
                                Sys_Users
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_UsersService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_UsersSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_UsersSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_UsersSort="matSort"
                           [dataSource]="Sys_UsersService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_UsersPaginator">
                                    {{
Sys_UsersPaginator.pageSize *
                                    Sys_UsersPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_UsersSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="Sys_UsersDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="User_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Id" name="User_Id" [(ngModel)]="element.User_Id"></td>
</ng-container>
<ng-container matColumnDef="User_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Code" name="User_Code" [(ngModel)]="element.User_Code"></td>
</ng-container>
<ng-container matColumnDef="User_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Name" name="User_Name" [(ngModel)]="element.User_Name"></td>
</ng-container>
<ng-container matColumnDef="Language_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Language_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Language_Id" name="Language_Id" [(ngModel)]="element.Language_Id"></td>
</ng-container>
<ng-container matColumnDef="Domain_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Domain_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Domain_Id" name="Domain_Id" [(ngModel)]="element.Domain_Id"></td>
</ng-container>
<ng-container matColumnDef="User_Password">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Password</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Password" name="User_Password" [(ngModel)]="element.User_Password"></td>
</ng-container>
<ng-container matColumnDef="Suspend">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Suspend</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Suspend" name="Suspend" [(ngModel)]="element.Suspend"></td>
</ng-container>
<ng-container matColumnDef="User_Position">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Position</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Position" name="User_Position" [(ngModel)]="element.User_Position"></td>
</ng-container>
<ng-container matColumnDef="Allow_Change_Password">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Allow_Change_Password</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Allow_Change_Password" name="Allow_Change_Password" [(ngModel)]="element.Allow_Change_Password"></td>
</ng-container>
<ng-container matColumnDef="Expiration_Days">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Expiration_Days</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Expiration_Days" name="Expiration_Days" [(ngModel)]="element.Expiration_Days"></td>
</ng-container>
<ng-container matColumnDef="Expiration_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Expiration_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Expiration_Date" name="Expiration_Date" [(ngModel)]="element.Expiration_Date"></td>
</ng-container>
<ng-container matColumnDef="Encryption_Password">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Encryption_Password</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Encryption_Password" name="Encryption_Password" [(ngModel)]="element.Encryption_Password"></td>
</ng-container>
<ng-container matColumnDef="EmailAddress">
<th mat-header-cell *matHeaderCellDef mat-sort-header>EmailAddress</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="EmailAddress" name="EmailAddress" [(ngModel)]="element.EmailAddress"></td>
</ng-container>
<ng-container matColumnDef="PhoneNumber">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PhoneNumber</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="PhoneNumber" name="PhoneNumber" [(ngModel)]="element.PhoneNumber"></td>
</ng-container>
<ng-container matColumnDef="FaxNumber">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FaxNumber</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="FaxNumber" name="FaxNumber" [(ngModel)]="element.FaxNumber"></td>
</ng-container>
<ng-container matColumnDef="Creation_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Creation_Date" name="Creation_Date" [(ngModel)]="element.Creation_Date"></td>
</ng-container>
<ng-container matColumnDef="Created_By">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Created_By</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Created_By" name="Created_By" [(ngModel)]="element.Created_By"></td>
</ng-container>
<ng-container matColumnDef="Last_Update_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Update_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Update_Date" name="Last_Update_Date" [(ngModel)]="element.Last_Update_Date"></td>
</ng-container>
<ng-container matColumnDef="Last_Updated_By">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Updated_By</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Updated_By" name="Last_Updated_By" [(ngModel)]="element.Last_Updated_By"></td>
</ng-container>
<ng-container matColumnDef="Login_Time">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Login_Time</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Login_Time" name="Login_Time" [(ngModel)]="element.Login_Time"></td>
</ng-container>
<ng-container matColumnDef="Login_Hostname">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Login_Hostname</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Login_Hostname" name="Login_Hostname" [(ngModel)]="element.Login_Hostname"></td>
</ng-container>
<ng-container matColumnDef="IsLogin">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IsLogin</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="IsLogin" name="IsLogin" [(ngModel)]="element.IsLogin"></td>
</ng-container>
<ng-container matColumnDef="Last_Login_Time">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Login_Time</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Login_Time" name="Last_Login_Time" [(ngModel)]="element.Last_Login_Time"></td>
</ng-container>
<ng-container matColumnDef="Last_Login_Hostname">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Login_Hostname</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Login_Hostname" name="Last_Login_Hostname" [(ngModel)]="element.Last_Login_Hostname"></td>
</ng-container>
<ng-container matColumnDef="MinPasswordLen">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MinPasswordLen</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MinPasswordLen" name="MinPasswordLen" [(ngModel)]="element.MinPasswordLen"></td>
</ng-container>
<ng-container matColumnDef="StrongPassword">
<th mat-header-cell *matHeaderCellDef mat-sort-header>StrongPassword</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="StrongPassword" name="StrongPassword" [(ngModel)]="element.StrongPassword"></td>
</ng-container>
<ng-container matColumnDef="Latin_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Latin_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Latin_Name" name="Latin_Name" [(ngModel)]="element.Latin_Name"></td>
</ng-container>
<ng-container matColumnDef="UserOption1">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption1</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption1" name="UserOption1" [(ngModel)]="element.UserOption1"></td>
</ng-container>
<ng-container matColumnDef="UserOption2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption2</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption2" name="UserOption2" [(ngModel)]="element.UserOption2"></td>
</ng-container>
<ng-container matColumnDef="UserOption3">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption3</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption3" name="UserOption3" [(ngModel)]="element.UserOption3"></td>
</ng-container>
<ng-container matColumnDef="UserOption4">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption4</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption4" name="UserOption4" [(ngModel)]="element.UserOption4"></td>
</ng-container>
<ng-container matColumnDef="UserOption5">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption5</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption5" name="UserOption5" [(ngModel)]="element.UserOption5"></td>
</ng-container>
<ng-container matColumnDef="UserOption6">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption6</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption6" name="UserOption6" [(ngModel)]="element.UserOption6"></td>
</ng-container>
<ng-container matColumnDef="UserOption7">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption7</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption7" name="UserOption7" [(ngModel)]="element.UserOption7"></td>
</ng-container>
<ng-container matColumnDef="UserOption8">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption8</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption8" name="UserOption8" [(ngModel)]="element.UserOption8"></td>
</ng-container>
<ng-container matColumnDef="UserOption9">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UserOption9</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="UserOption9" name="UserOption9" [(ngModel)]="element.UserOption9"></td>
</ng-container>
<ng-container matColumnDef="TrangThaiSuspend">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TrangThaiSuspend</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TrangThaiSuspend" name="TrangThaiSuspend" [(ngModel)]="element.TrangThaiSuspend"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="Sys_UsersService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_UsersService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_UsersPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_UsersService.IsShowLoading"></app-loading>
