<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_UserPasswordHistory
                        <span *ngIf="Sys_UserPasswordHistoryService.List">({{Sys_UserPasswordHistoryService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_UserPasswordHistory" title="Sys_UserPasswordHistory">
                                Sys_UserPasswordHistory
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_UserPasswordHistoryService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_UserPasswordHistorySearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_UserPasswordHistorySearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_UserPasswordHistorySort="matSort"
                           [dataSource]="Sys_UserPasswordHistoryService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_UserPasswordHistoryPaginator">
                                    {{
Sys_UserPasswordHistoryPaginator.pageSize *
                                    Sys_UserPasswordHistoryPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_UserPasswordHistorySave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="Sys_UserPasswordHistoryDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ID" name="ID" [(ngModel)]="element.ID"></td>
</ng-container>
<ng-container matColumnDef="User_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Id" name="User_Id" [(ngModel)]="element.User_Id"></td>
</ng-container>
<ng-container matColumnDef="ChangedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChangedDate</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChangedDate" name="ChangedDate" [(ngModel)]="element.ChangedDate"></td>
</ng-container>
<ng-container matColumnDef="ChangedDateTime">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ChangedDateTime</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ChangedDateTime" name="ChangedDateTime" [(ngModel)]="element.ChangedDateTime"></td>
</ng-container>
<ng-container matColumnDef="ExpirationDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ExpirationDate</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ExpirationDate" name="ExpirationDate" [(ngModel)]="element.ExpirationDate"></td>
</ng-container>
<ng-container matColumnDef="User_Password">
<th mat-header-cell *matHeaderCellDef mat-sort-header>User_Password</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="User_Password" name="User_Password" [(ngModel)]="element.User_Password"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="Sys_UserPasswordHistoryService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_UserPasswordHistoryService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_UserPasswordHistoryPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_UserPasswordHistoryService.IsShowLoading"></app-loading>
