<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_Domains
                        <span *ngIf="Sys_DomainsService.List">({{Sys_DomainsService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_Domains" title="Sys_Domains">
                                Sys_Domains
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_DomainsService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_DomainsSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_DomainsSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_DomainsSort="matSort"
                           [dataSource]="Sys_DomainsService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_DomainsPaginator">
                                    {{
Sys_DomainsPaginator.pageSize *
                                    Sys_DomainsPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_DomainsSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="Sys_DomainsDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Domain_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Domain_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Domain_Id" name="Domain_Id" [(ngModel)]="element.Domain_Id"></td>
</ng-container>
<ng-container matColumnDef="Domain_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Domain_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Domain_Code" name="Domain_Code" [(ngModel)]="element.Domain_Code"></td>
</ng-container>
<ng-container matColumnDef="Domain_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Domain_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Domain_Name" name="Domain_Name" [(ngModel)]="element.Domain_Name"></td>
</ng-container>
<ng-container matColumnDef="Parent_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Parent_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Parent_Id" name="Parent_Id" [(ngModel)]="element.Parent_Id"></td>
</ng-container>
<ng-container matColumnDef="Enabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Enabled" name="Enabled" [(ngModel)]="element.Enabled"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="Sys_DomainsService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_DomainsService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_DomainsPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_DomainsService.IsShowLoading"></app-loading>
