<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_Parameters
                        <span *ngIf="Sys_ParametersService.List">({{Sys_ParametersService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_Parameters" title="Sys_Parameters">
                                Sys_Parameters
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_ParametersService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_ParametersSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_ParametersSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_ParametersSort="matSort"
                           [dataSource]="Sys_ParametersService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_ParametersPaginator">
                                    {{
Sys_ParametersPaginator.pageSize *
                                    Sys_ParametersPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_ParametersSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <a (click)="Sys_ParametersDelete(element)" style="color: red;">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Parameter_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Parameter_Id" name="Parameter_Id" [(ngModel)]="element.Parameter_Id"></td>
</ng-container>
<ng-container matColumnDef="Parameter_Code">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter_Code</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Parameter_Code" name="Parameter_Code" [(ngModel)]="element.Parameter_Code"></td>
</ng-container>
<ng-container matColumnDef="Parameter_Type">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter_Type</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Parameter_Type" name="Parameter_Type" [(ngModel)]="element.Parameter_Type"></td>
</ng-container>
<ng-container matColumnDef="Parameter_Name">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter_Name</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Parameter_Name" name="Parameter_Name" [(ngModel)]="element.Parameter_Name"></td>
</ng-container>
<ng-container matColumnDef="Language_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Language_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Language_Id" name="Language_Id" [(ngModel)]="element.Language_Id"></td>
</ng-container>
<ng-container matColumnDef="DataType_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DataType_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DataType_Id" name="DataType_Id" [(ngModel)]="element.DataType_Id"></td>
</ng-container>
<ng-container matColumnDef="Max_Length">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Max_Length</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Max_Length" name="Max_Length" [(ngModel)]="element.Max_Length"></td>
</ng-container>
<ng-container matColumnDef="Default_Value_Type_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Default_Value_Type_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Default_Value_Type_Id" name="Default_Value_Type_Id" [(ngModel)]="element.Default_Value_Type_Id"></td>
</ng-container>
<ng-container matColumnDef="Default_Value">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Default_Value</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Default_Value" name="Default_Value" [(ngModel)]="element.Default_Value"></td>
</ng-container>
<ng-container matColumnDef="Enabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Enabled" name="Enabled" [(ngModel)]="element.Enabled"></td>
</ng-container>
<ng-container matColumnDef="Is_Report_Parameter">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Report_Parameter</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Is_Report_Parameter" name="Is_Report_Parameter" [(ngModel)]="element.Is_Report_Parameter"></td>
</ng-container>
<ng-container matColumnDef="Is_Database_Parameter">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Database_Parameter</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Is_Database_Parameter" name="Is_Database_Parameter" [(ngModel)]="element.Is_Database_Parameter"></td>
</ng-container>
<ng-container matColumnDef="Is_Common_Formula">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Common_Formula</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Is_Common_Formula" name="Is_Common_Formula" [(ngModel)]="element.Is_Common_Formula"></td>
</ng-container>
<ng-container matColumnDef="Is_Common_Parameter">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Common_Parameter</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Is_Common_Parameter" name="Is_Common_Parameter" [(ngModel)]="element.Is_Common_Parameter"></td>
</ng-container>
<ng-container matColumnDef="Is_Common_MethodParameter">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Common_MethodParameter</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Is_Common_MethodParameter" name="Is_Common_MethodParameter" [(ngModel)]="element.Is_Common_MethodParameter"></td>
</ng-container>
<ng-container matColumnDef="Idx">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Idx</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Idx" name="Idx" [(ngModel)]="element.Idx"></td>
</ng-container>
<ng-container matColumnDef="Lov_Procedure">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Lov_Procedure</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Lov_Procedure" name="Lov_Procedure" [(ngModel)]="element.Lov_Procedure"></td>
</ng-container>
<ng-container matColumnDef="ComboData_Procedure">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ComboData_Procedure</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="ComboData_Procedure" name="ComboData_Procedure" [(ngModel)]="element.ComboData_Procedure"></td>
</ng-container>
<ng-container matColumnDef="DataGroup">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DataGroup</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DataGroup" name="DataGroup" [(ngModel)]="element.DataGroup"></td>
</ng-container>
<ng-container matColumnDef="Creation_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Creation_Date" name="Creation_Date" [(ngModel)]="element.Creation_Date"></td>
</ng-container>
<ng-container matColumnDef="Created_By">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Created_By</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Created_By" name="Created_By" [(ngModel)]="element.Created_By"></td>
</ng-container>
<ng-container matColumnDef="Last_Update_Date">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Update_Date</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Update_Date" name="Last_Update_Date" [(ngModel)]="element.Last_Update_Date"></td>
</ng-container>
<ng-container matColumnDef="Last_Updated_By">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Last_Updated_By</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Last_Updated_By" name="Last_Updated_By" [(ngModel)]="element.Last_Updated_By"></td>
</ng-container>
<ng-container matColumnDef="Attribute1">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute1</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute1" name="Attribute1" [(ngModel)]="element.Attribute1"></td>
</ng-container>
<ng-container matColumnDef="Attribute2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute2</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute2" name="Attribute2" [(ngModel)]="element.Attribute2"></td>
</ng-container>
<ng-container matColumnDef="Attribute3">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute3</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute3" name="Attribute3" [(ngModel)]="element.Attribute3"></td>
</ng-container>
<ng-container matColumnDef="Attribute4">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute4</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute4" name="Attribute4" [(ngModel)]="element.Attribute4"></td>
</ng-container>
<ng-container matColumnDef="Attribute5">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute5</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Attribute5" name="Attribute5" [(ngModel)]="element.Attribute5"></td>
</ng-container>

                        <tr mat-header-row *matHeaderRowDef="Sys_ParametersService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_ParametersService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_ParametersPaginator="matPaginator"
                                   [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_ParametersService.IsShowLoading"></app-loading>
