<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        HRNhanVien:
                        <b>{{HRNhanVienService.FormData.ID}} [{{HRNhanVienService.FormData.ID}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title=""></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/HRNhanVien" title="HRNhanVien">
                                HRNhanVien
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="HRNhanVienAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="HRNhanVienSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>ID</label>
<input placeholder="ID" [(ngModel)]="HRNhanVienService.FormData.ID"  name="HRNhanVienService.FormData.ID" type="text" class="form-control">
</div>
<div>
<label>ParentID</label>
<input placeholder="ParentID" [(ngModel)]="HRNhanVienService.FormData.ParentID"  name="HRNhanVienService.FormData.ParentID" type="text" class="form-control">
</div>
<div>
<label>ParentName</label>
<input placeholder="ParentName" [(ngModel)]="HRNhanVienService.FormData.ParentName"  name="HRNhanVienService.FormData.ParentName" type="text" class="form-control">
</div>
<div>
<label>CreatedDate</label>
<input placeholder="CreatedDate" [(ngModel)]="HRNhanVienService.FormData.CreatedDate"  name="HRNhanVienService.FormData.CreatedDate" type="text" class="form-control">
</div>
<div>
<label>CreatedMembershipID</label>
<input placeholder="CreatedMembershipID" [(ngModel)]="HRNhanVienService.FormData.CreatedMembershipID"  name="HRNhanVienService.FormData.CreatedMembershipID" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedDate</label>
<input placeholder="LastUpdatedDate" [(ngModel)]="HRNhanVienService.FormData.LastUpdatedDate"  name="HRNhanVienService.FormData.LastUpdatedDate" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedMembershipID</label>
<input placeholder="LastUpdatedMembershipID" [(ngModel)]="HRNhanVienService.FormData.LastUpdatedMembershipID"  name="HRNhanVienService.FormData.LastUpdatedMembershipID" type="text" class="form-control">
</div>
<div>
<label>RowVersion</label>
<input placeholder="RowVersion" [(ngModel)]="HRNhanVienService.FormData.RowVersion"  name="HRNhanVienService.FormData.RowVersion" type="text" class="form-control">
</div>
<div>
<label>SortOrder</label>
<input placeholder="SortOrder" [(ngModel)]="HRNhanVienService.FormData.SortOrder"  name="HRNhanVienService.FormData.SortOrder" type="text" class="form-control">
</div>
<div>
<label>Active</label>
<input placeholder="Active" [(ngModel)]="HRNhanVienService.FormData.Active"  name="HRNhanVienService.FormData.Active" type="text" class="form-control">
</div>
<div>
<label>TypeName</label>
<input placeholder="TypeName" [(ngModel)]="HRNhanVienService.FormData.TypeName"  name="HRNhanVienService.FormData.TypeName" type="text" class="form-control">
</div>
<div>
<label>Name</label>
<input placeholder="Name" [(ngModel)]="HRNhanVienService.FormData.Name"  name="HRNhanVienService.FormData.Name" type="text" class="form-control">
</div>
<div>
<label>Code</label>
<input placeholder="Code" [(ngModel)]="HRNhanVienService.FormData.Code"  name="HRNhanVienService.FormData.Code" type="text" class="form-control">
</div>
<div>
<label>Note</label>
<input placeholder="Note" [(ngModel)]="HRNhanVienService.FormData.Note"  name="HRNhanVienService.FormData.Note" type="text" class="form-control">
</div>
<div>
<label>Display</label>
<input placeholder="Display" [(ngModel)]="HRNhanVienService.FormData.Display"  name="HRNhanVienService.FormData.Display" type="text" class="form-control">
</div>
<div>
<label>FileName</label>
<input placeholder="FileName" [(ngModel)]="HRNhanVienService.FormData.FileName"  name="HRNhanVienService.FormData.FileName" type="text" class="form-control">
</div>
<div>
<label>Description</label>
<input placeholder="Description" [(ngModel)]="HRNhanVienService.FormData.Description"  name="HRNhanVienService.FormData.Description" type="text" class="form-control">
</div>
<div>
<label>HTMLContent</label>
<input placeholder="HTMLContent" [(ngModel)]="HRNhanVienService.FormData.HTMLContent"  name="HRNhanVienService.FormData.HTMLContent" type="text" class="form-control">
</div>
<div>
<label>DanhMucNgonNguID</label>
<input placeholder="DanhMucNgonNguID" [(ngModel)]="HRNhanVienService.FormData.DanhMucNgonNguID"  name="HRNhanVienService.FormData.DanhMucNgonNguID" type="text" class="form-control">
</div>
<div>
<label>DanhMucUngDungID</label>
<input placeholder="DanhMucUngDungID" [(ngModel)]="HRNhanVienService.FormData.DanhMucUngDungID"  name="HRNhanVienService.FormData.DanhMucUngDungID" type="text" class="form-control">
</div>
<div>
<label>DanhMucNgonNguName</label>
<input placeholder="DanhMucNgonNguName" [(ngModel)]="HRNhanVienService.FormData.DanhMucNgonNguName"  name="HRNhanVienService.FormData.DanhMucNgonNguName" type="text" class="form-control">
</div>
<div>
<label>DanhMucUngDungName</label>
<input placeholder="DanhMucUngDungName" [(ngModel)]="HRNhanVienService.FormData.DanhMucUngDungName"  name="HRNhanVienService.FormData.DanhMucUngDungName" type="text" class="form-control">
</div>
<div>
<label>DanhMucTinhThanhID</label>
<input placeholder="DanhMucTinhThanhID" [(ngModel)]="HRNhanVienService.FormData.DanhMucTinhThanhID"  name="HRNhanVienService.FormData.DanhMucTinhThanhID" type="text" class="form-control">
</div>
<div>
<label>DanhMucTinhThanhName</label>
<input placeholder="DanhMucTinhThanhName" [(ngModel)]="HRNhanVienService.FormData.DanhMucTinhThanhName"  name="HRNhanVienService.FormData.DanhMucTinhThanhName" type="text" class="form-control">
</div>
<div>
<label>DanhMucQuanHuyenID</label>
<input placeholder="DanhMucQuanHuyenID" [(ngModel)]="HRNhanVienService.FormData.DanhMucQuanHuyenID"  name="HRNhanVienService.FormData.DanhMucQuanHuyenID" type="text" class="form-control">
</div>
<div>
<label>DanhMucQuanHuyenName</label>
<input placeholder="DanhMucQuanHuyenName" [(ngModel)]="HRNhanVienService.FormData.DanhMucQuanHuyenName"  name="HRNhanVienService.FormData.DanhMucQuanHuyenName" type="text" class="form-control">
</div>
<div>
<label>DanhMucXaPhuongID</label>
<input placeholder="DanhMucXaPhuongID" [(ngModel)]="HRNhanVienService.FormData.DanhMucXaPhuongID"  name="HRNhanVienService.FormData.DanhMucXaPhuongID" type="text" class="form-control">
</div>
<div>
<label>DanhMucXaPhuongName</label>
<input placeholder="DanhMucXaPhuongName" [(ngModel)]="HRNhanVienService.FormData.DanhMucXaPhuongName"  name="HRNhanVienService.FormData.DanhMucXaPhuongName" type="text" class="form-control">
</div>
<div>
<label>CCCD</label>
<input placeholder="CCCD" [(ngModel)]="HRNhanVienService.FormData.CCCD"  name="HRNhanVienService.FormData.CCCD" type="text" class="form-control">
</div>
<div>
<label>Email</label>
<input placeholder="Email" [(ngModel)]="HRNhanVienService.FormData.Email"  name="HRNhanVienService.FormData.Email" type="text" class="form-control">
</div>
<div>
<label>DiaChiThuongTru</label>
<input placeholder="DiaChiThuongTru" [(ngModel)]="HRNhanVienService.FormData.DiaChiThuongTru"  name="HRNhanVienService.FormData.DiaChiThuongTru" type="text" class="form-control">
</div>
<div>
<label>DiaChi</label>
<input placeholder="DiaChi" [(ngModel)]="HRNhanVienService.FormData.DiaChi"  name="HRNhanVienService.FormData.DiaChi" type="text" class="form-control">
</div>
<div>
<label>DienThoai</label>
<input placeholder="DienThoai" [(ngModel)]="HRNhanVienService.FormData.DienThoai"  name="HRNhanVienService.FormData.DienThoai" type="text" class="form-control">
</div>
<div>
<label>IsNghiViec</label>
<input placeholder="IsNghiViec" [(ngModel)]="HRNhanVienService.FormData.IsNghiViec"  name="HRNhanVienService.FormData.IsNghiViec" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="HRNhanVienService.IsShowLoading"></app-loading>

