<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Log_UpdateInformation:
                        <b>{{Log_UpdateInformationService.FormData.Update_ID}} [{{Log_UpdateInformationService.FormData.Update_ID}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A_Config/">eHospital_DongNai_A_Config/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Log_UpdateInformation" title="Log_UpdateInformation">
                                Log_UpdateInformation
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="Log_UpdateInformationAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="Log_UpdateInformationSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>Update_ID</label>
<input placeholder="Update_ID" [(ngModel)]="Log_UpdateInformationService.FormData.Update_ID"  name="Log_UpdateInformationService.FormData.Update_ID" type="text" class="form-control">
</div>
<div>
<label>UpdateData_TableName</label>
<input placeholder="UpdateData_TableName" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateData_TableName"  name="Log_UpdateInformationService.FormData.UpdateData_TableName" type="text" class="form-control">
</div>
<div>
<label>UpdateData_Id</label>
<input placeholder="UpdateData_Id" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateData_Id"  name="Log_UpdateInformationService.FormData.UpdateData_Id" type="text" class="form-control">
</div>
<div>
<label>UpdateDate</label>
<input placeholder="UpdateDate" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateDate"  name="Log_UpdateInformationService.FormData.UpdateDate" type="text" class="form-control">
</div>
<div>
<label>UpdateDateTime</label>
<input placeholder="UpdateDateTime" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateDateTime"  name="Log_UpdateInformationService.FormData.UpdateDateTime" type="text" class="form-control">
</div>
<div>
<label>UpdateDay</label>
<input placeholder="UpdateDay" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateDay"  name="Log_UpdateInformationService.FormData.UpdateDay" type="text" class="form-control">
</div>
<div>
<label>UpdateMonth</label>
<input placeholder="UpdateMonth" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateMonth"  name="Log_UpdateInformationService.FormData.UpdateMonth" type="text" class="form-control">
</div>
<div>
<label>UpdateYear</label>
<input placeholder="UpdateYear" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateYear"  name="Log_UpdateInformationService.FormData.UpdateYear" type="text" class="form-control">
</div>
<div>
<label>UpdateSecond</label>
<input placeholder="UpdateSecond" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateSecond"  name="Log_UpdateInformationService.FormData.UpdateSecond" type="text" class="form-control">
</div>
<div>
<label>UpdateMinute</label>
<input placeholder="UpdateMinute" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateMinute"  name="Log_UpdateInformationService.FormData.UpdateMinute" type="text" class="form-control">
</div>
<div>
<label>UpdateHour</label>
<input placeholder="UpdateHour" [(ngModel)]="Log_UpdateInformationService.FormData.UpdateHour"  name="Log_UpdateInformationService.FormData.UpdateHour" type="text" class="form-control">
</div>
<div>
<label>User_Id</label>
<input placeholder="User_Id" [(ngModel)]="Log_UpdateInformationService.FormData.User_Id"  name="Log_UpdateInformationService.FormData.User_Id" type="text" class="form-control">
</div>
<div>
<label>LoginSession_Id</label>
<input placeholder="LoginSession_Id" [(ngModel)]="Log_UpdateInformationService.FormData.LoginSession_Id"  name="Log_UpdateInformationService.FormData.LoginSession_Id" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="Log_UpdateInformationService.IsShowLoading"></app-loading>

