<div class="custom-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-CongViecDetail" data-bs-toggle="tab" href="#CongViecDetail" role="tab"
               aria-controls="CongViecDetail" aria-selected="true">
                <span class="badge bg-info" style="font-size: 16px;">CongViec</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a style="cursor: pointer;" class="nav-link" id="tab-Close" data-bs-toggle="tab" (click)="Close()"
               role="tab" aria-controls="Close" aria-selected="false">
                <span class="badge bg-danger" style="font-size: 16px;"><i class="bi bi-x-lg"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="customTabContent">
        <div class="tab-pane fade show active" id="CongViecDetail" role="tabpanel">
            <div class="row gx-4">
                <div class="col-lg-6 col-sm-12 col-12">
                    <a style="width: 100%;" title="Lưu thay đổi" (click)="CongViecSave()" class="btn btn-info">
                        <i class="bi bi-sd-card"></i> Lưu thay đổi
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ID</label>
<input name="ID" [(ngModel)]="IDService.FormData.ID" placeholder="ID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ParentID</label>
<input name="ParentID" [(ngModel)]="ParentIDService.FormData.ParentID" placeholder="ParentID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ParentName</label>
<input name="ParentName" [(ngModel)]="ParentNameService.FormData.ParentName" placeholder="ParentName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">CreatedDate</label>
<input name="CreatedDate" [(ngModel)]="CreatedDateService.FormData.CreatedDate" placeholder="CreatedDate" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">CreatedMembershipID</label>
<input name="CreatedMembershipID" [(ngModel)]="CreatedMembershipIDService.FormData.CreatedMembershipID" placeholder="CreatedMembershipID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">LastUpdatedDate</label>
<input name="LastUpdatedDate" [(ngModel)]="LastUpdatedDateService.FormData.LastUpdatedDate" placeholder="LastUpdatedDate" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">LastUpdatedMembershipID</label>
<input name="LastUpdatedMembershipID" [(ngModel)]="LastUpdatedMembershipIDService.FormData.LastUpdatedMembershipID" placeholder="LastUpdatedMembershipID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">RowVersion</label>
<input name="RowVersion" [(ngModel)]="RowVersionService.FormData.RowVersion" placeholder="RowVersion" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">SortOrder</label>
<input name="SortOrder" [(ngModel)]="SortOrderService.FormData.SortOrder" placeholder="SortOrder" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Active</label>
<input name="Active" [(ngModel)]="ActiveService.FormData.Active" placeholder="Active" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">TypeName</label>
<input name="TypeName" [(ngModel)]="TypeNameService.FormData.TypeName" placeholder="TypeName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Name</label>
<input name="Name" [(ngModel)]="NameService.FormData.Name" placeholder="Name" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Code</label>
<input name="Code" [(ngModel)]="CodeService.FormData.Code" placeholder="Code" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Note</label>
<input name="Note" [(ngModel)]="NoteService.FormData.Note" placeholder="Note" type="text" class="form-control">
</div>
                   
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Display</label>
<input name="Display" [(ngModel)]="DisplayService.FormData.Display" placeholder="Display" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">FileName</label>
<input name="FileName" [(ngModel)]="FileNameService.FormData.FileName" placeholder="FileName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">Description</label>
<input name="Description" [(ngModel)]="DescriptionService.FormData.Description" placeholder="Description" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">HTMLContent</label>
<input name="HTMLContent" [(ngModel)]="HTMLContentService.FormData.HTMLContent" placeholder="HTMLContent" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucNgonNguID</label>
<input name="DanhMucNgonNguID" [(ngModel)]="DanhMucNgonNguIDService.FormData.DanhMucNgonNguID" placeholder="DanhMucNgonNguID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucUngDungID</label>
<input name="DanhMucUngDungID" [(ngModel)]="DanhMucUngDungIDService.FormData.DanhMucUngDungID" placeholder="DanhMucUngDungID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucNgonNguName</label>
<input name="DanhMucNgonNguName" [(ngModel)]="DanhMucNgonNguNameService.FormData.DanhMucNgonNguName" placeholder="DanhMucNgonNguName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucUngDungName</label>
<input name="DanhMucUngDungName" [(ngModel)]="DanhMucUngDungNameService.FormData.DanhMucUngDungName" placeholder="DanhMucUngDungName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucPhongBanYeuCauID</label>
<input name="DanhMucPhongBanYeuCauID" [(ngModel)]="DanhMucPhongBanYeuCauIDService.FormData.DanhMucPhongBanYeuCauID" placeholder="DanhMucPhongBanYeuCauID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucPhongBanYeuCauName</label>
<input name="DanhMucPhongBanYeuCauName" [(ngModel)]="DanhMucPhongBanYeuCauNameService.FormData.DanhMucPhongBanYeuCauName" placeholder="DanhMucPhongBanYeuCauName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucPhongBanGiaiQuyetID</label>
<input name="DanhMucPhongBanGiaiQuyetID" [(ngModel)]="DanhMucPhongBanGiaiQuyetIDService.FormData.DanhMucPhongBanGiaiQuyetID" placeholder="DanhMucPhongBanGiaiQuyetID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucPhongBanGiaiQuyetName</label>
<input name="DanhMucPhongBanGiaiQuyetName" [(ngModel)]="DanhMucPhongBanGiaiQuyetNameService.FormData.DanhMucPhongBanGiaiQuyetName" placeholder="DanhMucPhongBanGiaiQuyetName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienYeuCauID</label>
<input name="ThanhVienYeuCauID" [(ngModel)]="ThanhVienYeuCauIDService.FormData.ThanhVienYeuCauID" placeholder="ThanhVienYeuCauID" type="text" class="form-control">
</div>

                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienYeuCauName</label>
<input name="ThanhVienYeuCauName" [(ngModel)]="ThanhVienYeuCauNameService.FormData.ThanhVienYeuCauName" placeholder="ThanhVienYeuCauName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienYeuCauDienThoai</label>
<input name="ThanhVienYeuCauDienThoai" [(ngModel)]="ThanhVienYeuCauDienThoaiService.FormData.ThanhVienYeuCauDienThoai" placeholder="ThanhVienYeuCauDienThoai" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienYeuCauEmail</label>
<input name="ThanhVienYeuCauEmail" [(ngModel)]="ThanhVienYeuCauEmailService.FormData.ThanhVienYeuCauEmail" placeholder="ThanhVienYeuCauEmail" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienGiaiQuyetID</label>
<input name="ThanhVienGiaiQuyetID" [(ngModel)]="ThanhVienGiaiQuyetIDService.FormData.ThanhVienGiaiQuyetID" placeholder="ThanhVienGiaiQuyetID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienGiaiQuyetName</label>
<input name="ThanhVienGiaiQuyetName" [(ngModel)]="ThanhVienGiaiQuyetNameService.FormData.ThanhVienGiaiQuyetName" placeholder="ThanhVienGiaiQuyetName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienGiaiQuyetDienThoai</label>
<input name="ThanhVienGiaiQuyetDienThoai" [(ngModel)]="ThanhVienGiaiQuyetDienThoaiService.FormData.ThanhVienGiaiQuyetDienThoai" placeholder="ThanhVienGiaiQuyetDienThoai" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">ThanhVienGiaiQuyetEmail</label>
<input name="ThanhVienGiaiQuyetEmail" [(ngModel)]="ThanhVienGiaiQuyetEmailService.FormData.ThanhVienGiaiQuyetEmail" placeholder="ThanhVienGiaiQuyetEmail" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucTinhTrangID</label>
<input name="DanhMucTinhTrangID" [(ngModel)]="DanhMucTinhTrangIDService.FormData.DanhMucTinhTrangID" placeholder="DanhMucTinhTrangID" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">DanhMucTinhTrangName</label>
<input name="DanhMucTinhTrangName" [(ngModel)]="DanhMucTinhTrangNameService.FormData.DanhMucTinhTrangName" placeholder="DanhMucTinhTrangName" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayYeuCau</label>
<input name="NgayYeuCau" [(ngModel)]="NgayYeuCauService.FormData.NgayYeuCau" placeholder="NgayYeuCau" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayGiaiQuyet</label>
<input name="NgayGiaiQuyet" [(ngModel)]="NgayGiaiQuyetService.FormData.NgayGiaiQuyet" placeholder="NgayGiaiQuyet" type="text" class="form-control">
</div>
<div class="col-lg-12 col-sm-12 col-12">
<label class="form-label">NgayHoanThanh</label>
<input name="NgayHoanThanh" [(ngModel)]="NgayHoanThanhService.FormData.NgayHoanThanh" placeholder="NgayHoanThanh" type="text" class="form-control">
</div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="CongViecService.IsShowLoading"></app-loading>
