<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        HRChamCong:
                        <b>{{HRChamCongService.FormData.ID}} [{{HRChamCongService.FormData.ID}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title=""></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/HRChamCong" title="HRChamCong">
                                HRChamCong
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="HRChamCongAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="HRChamCongSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>ID</label>
<input placeholder="ID" [(ngModel)]="HRChamCongService.FormData.ID"  name="HRChamCongService.FormData.ID" type="text" class="form-control">
</div>
<div>
<label>ParentID</label>
<input placeholder="ParentID" [(ngModel)]="HRChamCongService.FormData.ParentID"  name="HRChamCongService.FormData.ParentID" type="text" class="form-control">
</div>
<div>
<label>ParentName</label>
<input placeholder="ParentName" [(ngModel)]="HRChamCongService.FormData.ParentName"  name="HRChamCongService.FormData.ParentName" type="text" class="form-control">
</div>
<div>
<label>CreatedDate</label>
<input placeholder="CreatedDate" [(ngModel)]="HRChamCongService.FormData.CreatedDate"  name="HRChamCongService.FormData.CreatedDate" type="text" class="form-control">
</div>
<div>
<label>CreatedMembershipID</label>
<input placeholder="CreatedMembershipID" [(ngModel)]="HRChamCongService.FormData.CreatedMembershipID"  name="HRChamCongService.FormData.CreatedMembershipID" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedDate</label>
<input placeholder="LastUpdatedDate" [(ngModel)]="HRChamCongService.FormData.LastUpdatedDate"  name="HRChamCongService.FormData.LastUpdatedDate" type="text" class="form-control">
</div>
<div>
<label>LastUpdatedMembershipID</label>
<input placeholder="LastUpdatedMembershipID" [(ngModel)]="HRChamCongService.FormData.LastUpdatedMembershipID"  name="HRChamCongService.FormData.LastUpdatedMembershipID" type="text" class="form-control">
</div>
<div>
<label>RowVersion</label>
<input placeholder="RowVersion" [(ngModel)]="HRChamCongService.FormData.RowVersion"  name="HRChamCongService.FormData.RowVersion" type="text" class="form-control">
</div>
<div>
<label>SortOrder</label>
<input placeholder="SortOrder" [(ngModel)]="HRChamCongService.FormData.SortOrder"  name="HRChamCongService.FormData.SortOrder" type="text" class="form-control">
</div>
<div>
<label>Active</label>
<input placeholder="Active" [(ngModel)]="HRChamCongService.FormData.Active"  name="HRChamCongService.FormData.Active" type="text" class="form-control">
</div>
<div>
<label>TypeName</label>
<input placeholder="TypeName" [(ngModel)]="HRChamCongService.FormData.TypeName"  name="HRChamCongService.FormData.TypeName" type="text" class="form-control">
</div>
<div>
<label>Name</label>
<input placeholder="Name" [(ngModel)]="HRChamCongService.FormData.Name"  name="HRChamCongService.FormData.Name" type="text" class="form-control">
</div>
<div>
<label>Code</label>
<input placeholder="Code" [(ngModel)]="HRChamCongService.FormData.Code"  name="HRChamCongService.FormData.Code" type="text" class="form-control">
</div>
<div>
<label>Note</label>
<input placeholder="Note" [(ngModel)]="HRChamCongService.FormData.Note"  name="HRChamCongService.FormData.Note" type="text" class="form-control">
</div>
<div>
<label>Display</label>
<input placeholder="Display" [(ngModel)]="HRChamCongService.FormData.Display"  name="HRChamCongService.FormData.Display" type="text" class="form-control">
</div>
<div>
<label>FileName</label>
<input placeholder="FileName" [(ngModel)]="HRChamCongService.FormData.FileName"  name="HRChamCongService.FormData.FileName" type="text" class="form-control">
</div>
<div>
<label>Description</label>
<input placeholder="Description" [(ngModel)]="HRChamCongService.FormData.Description"  name="HRChamCongService.FormData.Description" type="text" class="form-control">
</div>
<div>
<label>HTMLContent</label>
<input placeholder="HTMLContent" [(ngModel)]="HRChamCongService.FormData.HTMLContent"  name="HRChamCongService.FormData.HTMLContent" type="text" class="form-control">
</div>
<div>
<label>DanhMucNgonNguID</label>
<input placeholder="DanhMucNgonNguID" [(ngModel)]="HRChamCongService.FormData.DanhMucNgonNguID"  name="HRChamCongService.FormData.DanhMucNgonNguID" type="text" class="form-control">
</div>
<div>
<label>DanhMucUngDungID</label>
<input placeholder="DanhMucUngDungID" [(ngModel)]="HRChamCongService.FormData.DanhMucUngDungID"  name="HRChamCongService.FormData.DanhMucUngDungID" type="text" class="form-control">
</div>
<div>
<label>DanhMucNgonNguName</label>
<input placeholder="DanhMucNgonNguName" [(ngModel)]="HRChamCongService.FormData.DanhMucNgonNguName"  name="HRChamCongService.FormData.DanhMucNgonNguName" type="text" class="form-control">
</div>
<div>
<label>DanhMucUngDungName</label>
<input placeholder="DanhMucUngDungName" [(ngModel)]="HRChamCongService.FormData.DanhMucUngDungName"  name="HRChamCongService.FormData.DanhMucUngDungName" type="text" class="form-control">
</div>
<div>
<label>NgayGhiNhan</label>
<input placeholder="NgayGhiNhan" [(ngModel)]="HRChamCongService.FormData.NgayGhiNhan"  name="HRChamCongService.FormData.NgayGhiNhan" type="text" class="form-control">
</div>
<div>
<label>Year</label>
<input placeholder="Year" [(ngModel)]="HRChamCongService.FormData.Year"  name="HRChamCongService.FormData.Year" type="text" class="form-control">
</div>
<div>
<label>Month</label>
<input placeholder="Month" [(ngModel)]="HRChamCongService.FormData.Month"  name="HRChamCongService.FormData.Month" type="text" class="form-control">
</div>
<div>
<label>Day</label>
<input placeholder="Day" [(ngModel)]="HRChamCongService.FormData.Day"  name="HRChamCongService.FormData.Day" type="text" class="form-control">
</div>
<div>
<label>ChamCong</label>
<input placeholder="ChamCong" [(ngModel)]="HRChamCongService.FormData.ChamCong"  name="HRChamCongService.FormData.ChamCong" type="text" class="form-control">
</div>
<div>
<label>Ngay01</label>
<input placeholder="Ngay01" [(ngModel)]="HRChamCongService.FormData.Ngay01"  name="HRChamCongService.FormData.Ngay01" type="text" class="form-control">
</div>
<div>
<label>Name01</label>
<input placeholder="Name01" [(ngModel)]="HRChamCongService.FormData.Name01"  name="HRChamCongService.FormData.Name01" type="text" class="form-control">
</div>
<div>
<label>Code01</label>
<input placeholder="Code01" [(ngModel)]="HRChamCongService.FormData.Code01"  name="HRChamCongService.FormData.Code01" type="text" class="form-control">
</div>
<div>
<label>ChamCong01</label>
<input placeholder="ChamCong01" [(ngModel)]="HRChamCongService.FormData.ChamCong01"  name="HRChamCongService.FormData.ChamCong01" type="text" class="form-control">
</div>
<div>
<label>Ngay02</label>
<input placeholder="Ngay02" [(ngModel)]="HRChamCongService.FormData.Ngay02"  name="HRChamCongService.FormData.Ngay02" type="text" class="form-control">
</div>
<div>
<label>Name02</label>
<input placeholder="Name02" [(ngModel)]="HRChamCongService.FormData.Name02"  name="HRChamCongService.FormData.Name02" type="text" class="form-control">
</div>
<div>
<label>Code02</label>
<input placeholder="Code02" [(ngModel)]="HRChamCongService.FormData.Code02"  name="HRChamCongService.FormData.Code02" type="text" class="form-control">
</div>
<div>
<label>ChamCong02</label>
<input placeholder="ChamCong02" [(ngModel)]="HRChamCongService.FormData.ChamCong02"  name="HRChamCongService.FormData.ChamCong02" type="text" class="form-control">
</div>
<div>
<label>Ngay03</label>
<input placeholder="Ngay03" [(ngModel)]="HRChamCongService.FormData.Ngay03"  name="HRChamCongService.FormData.Ngay03" type="text" class="form-control">
</div>
<div>
<label>Name03</label>
<input placeholder="Name03" [(ngModel)]="HRChamCongService.FormData.Name03"  name="HRChamCongService.FormData.Name03" type="text" class="form-control">
</div>
<div>
<label>Code03</label>
<input placeholder="Code03" [(ngModel)]="HRChamCongService.FormData.Code03"  name="HRChamCongService.FormData.Code03" type="text" class="form-control">
</div>
<div>
<label>ChamCong03</label>
<input placeholder="ChamCong03" [(ngModel)]="HRChamCongService.FormData.ChamCong03"  name="HRChamCongService.FormData.ChamCong03" type="text" class="form-control">
</div>
<div>
<label>Ngay04</label>
<input placeholder="Ngay04" [(ngModel)]="HRChamCongService.FormData.Ngay04"  name="HRChamCongService.FormData.Ngay04" type="text" class="form-control">
</div>
<div>
<label>Name04</label>
<input placeholder="Name04" [(ngModel)]="HRChamCongService.FormData.Name04"  name="HRChamCongService.FormData.Name04" type="text" class="form-control">
</div>
<div>
<label>Code04</label>
<input placeholder="Code04" [(ngModel)]="HRChamCongService.FormData.Code04"  name="HRChamCongService.FormData.Code04" type="text" class="form-control">
</div>
<div>
<label>ChamCong04</label>
<input placeholder="ChamCong04" [(ngModel)]="HRChamCongService.FormData.ChamCong04"  name="HRChamCongService.FormData.ChamCong04" type="text" class="form-control">
</div>
<div>
<label>Ngay05</label>
<input placeholder="Ngay05" [(ngModel)]="HRChamCongService.FormData.Ngay05"  name="HRChamCongService.FormData.Ngay05" type="text" class="form-control">
</div>
<div>
<label>Name05</label>
<input placeholder="Name05" [(ngModel)]="HRChamCongService.FormData.Name05"  name="HRChamCongService.FormData.Name05" type="text" class="form-control">
</div>
<div>
<label>Code05</label>
<input placeholder="Code05" [(ngModel)]="HRChamCongService.FormData.Code05"  name="HRChamCongService.FormData.Code05" type="text" class="form-control">
</div>
<div>
<label>ChamCong05</label>
<input placeholder="ChamCong05" [(ngModel)]="HRChamCongService.FormData.ChamCong05"  name="HRChamCongService.FormData.ChamCong05" type="text" class="form-control">
</div>
<div>
<label>Ngay06</label>
<input placeholder="Ngay06" [(ngModel)]="HRChamCongService.FormData.Ngay06"  name="HRChamCongService.FormData.Ngay06" type="text" class="form-control">
</div>
<div>
<label>Name06</label>
<input placeholder="Name06" [(ngModel)]="HRChamCongService.FormData.Name06"  name="HRChamCongService.FormData.Name06" type="text" class="form-control">
</div>
<div>
<label>Code06</label>
<input placeholder="Code06" [(ngModel)]="HRChamCongService.FormData.Code06"  name="HRChamCongService.FormData.Code06" type="text" class="form-control">
</div>
<div>
<label>ChamCong06</label>
<input placeholder="ChamCong06" [(ngModel)]="HRChamCongService.FormData.ChamCong06"  name="HRChamCongService.FormData.ChamCong06" type="text" class="form-control">
</div>
<div>
<label>Ngay07</label>
<input placeholder="Ngay07" [(ngModel)]="HRChamCongService.FormData.Ngay07"  name="HRChamCongService.FormData.Ngay07" type="text" class="form-control">
</div>
<div>
<label>Name07</label>
<input placeholder="Name07" [(ngModel)]="HRChamCongService.FormData.Name07"  name="HRChamCongService.FormData.Name07" type="text" class="form-control">
</div>
<div>
<label>Code07</label>
<input placeholder="Code07" [(ngModel)]="HRChamCongService.FormData.Code07"  name="HRChamCongService.FormData.Code07" type="text" class="form-control">
</div>
<div>
<label>ChamCong07</label>
<input placeholder="ChamCong07" [(ngModel)]="HRChamCongService.FormData.ChamCong07"  name="HRChamCongService.FormData.ChamCong07" type="text" class="form-control">
</div>
<div>
<label>Ngay08</label>
<input placeholder="Ngay08" [(ngModel)]="HRChamCongService.FormData.Ngay08"  name="HRChamCongService.FormData.Ngay08" type="text" class="form-control">
</div>
<div>
<label>Name08</label>
<input placeholder="Name08" [(ngModel)]="HRChamCongService.FormData.Name08"  name="HRChamCongService.FormData.Name08" type="text" class="form-control">
</div>
<div>
<label>Code08</label>
<input placeholder="Code08" [(ngModel)]="HRChamCongService.FormData.Code08"  name="HRChamCongService.FormData.Code08" type="text" class="form-control">
</div>
<div>
<label>ChamCong08</label>
<input placeholder="ChamCong08" [(ngModel)]="HRChamCongService.FormData.ChamCong08"  name="HRChamCongService.FormData.ChamCong08" type="text" class="form-control">
</div>
<div>
<label>Ngay09</label>
<input placeholder="Ngay09" [(ngModel)]="HRChamCongService.FormData.Ngay09"  name="HRChamCongService.FormData.Ngay09" type="text" class="form-control">
</div>
<div>
<label>Name09</label>
<input placeholder="Name09" [(ngModel)]="HRChamCongService.FormData.Name09"  name="HRChamCongService.FormData.Name09" type="text" class="form-control">
</div>
<div>
<label>Code09</label>
<input placeholder="Code09" [(ngModel)]="HRChamCongService.FormData.Code09"  name="HRChamCongService.FormData.Code09" type="text" class="form-control">
</div>
<div>
<label>ChamCong09</label>
<input placeholder="ChamCong09" [(ngModel)]="HRChamCongService.FormData.ChamCong09"  name="HRChamCongService.FormData.ChamCong09" type="text" class="form-control">
</div>
<div>
<label>Ngay10</label>
<input placeholder="Ngay10" [(ngModel)]="HRChamCongService.FormData.Ngay10"  name="HRChamCongService.FormData.Ngay10" type="text" class="form-control">
</div>
<div>
<label>Name10</label>
<input placeholder="Name10" [(ngModel)]="HRChamCongService.FormData.Name10"  name="HRChamCongService.FormData.Name10" type="text" class="form-control">
</div>
<div>
<label>Code10</label>
<input placeholder="Code10" [(ngModel)]="HRChamCongService.FormData.Code10"  name="HRChamCongService.FormData.Code10" type="text" class="form-control">
</div>
<div>
<label>ChamCong10</label>
<input placeholder="ChamCong10" [(ngModel)]="HRChamCongService.FormData.ChamCong10"  name="HRChamCongService.FormData.ChamCong10" type="text" class="form-control">
</div>
<div>
<label>Ngay11</label>
<input placeholder="Ngay11" [(ngModel)]="HRChamCongService.FormData.Ngay11"  name="HRChamCongService.FormData.Ngay11" type="text" class="form-control">
</div>
<div>
<label>Name11</label>
<input placeholder="Name11" [(ngModel)]="HRChamCongService.FormData.Name11"  name="HRChamCongService.FormData.Name11" type="text" class="form-control">
</div>
<div>
<label>Code11</label>
<input placeholder="Code11" [(ngModel)]="HRChamCongService.FormData.Code11"  name="HRChamCongService.FormData.Code11" type="text" class="form-control">
</div>
<div>
<label>ChamCong11</label>
<input placeholder="ChamCong11" [(ngModel)]="HRChamCongService.FormData.ChamCong11"  name="HRChamCongService.FormData.ChamCong11" type="text" class="form-control">
</div>
<div>
<label>Ngay12</label>
<input placeholder="Ngay12" [(ngModel)]="HRChamCongService.FormData.Ngay12"  name="HRChamCongService.FormData.Ngay12" type="text" class="form-control">
</div>
<div>
<label>Name12</label>
<input placeholder="Name12" [(ngModel)]="HRChamCongService.FormData.Name12"  name="HRChamCongService.FormData.Name12" type="text" class="form-control">
</div>
<div>
<label>Code12</label>
<input placeholder="Code12" [(ngModel)]="HRChamCongService.FormData.Code12"  name="HRChamCongService.FormData.Code12" type="text" class="form-control">
</div>
<div>
<label>ChamCong12</label>
<input placeholder="ChamCong12" [(ngModel)]="HRChamCongService.FormData.ChamCong12"  name="HRChamCongService.FormData.ChamCong12" type="text" class="form-control">
</div>
<div>
<label>Ngay13</label>
<input placeholder="Ngay13" [(ngModel)]="HRChamCongService.FormData.Ngay13"  name="HRChamCongService.FormData.Ngay13" type="text" class="form-control">
</div>
<div>
<label>Name13</label>
<input placeholder="Name13" [(ngModel)]="HRChamCongService.FormData.Name13"  name="HRChamCongService.FormData.Name13" type="text" class="form-control">
</div>
<div>
<label>Code13</label>
<input placeholder="Code13" [(ngModel)]="HRChamCongService.FormData.Code13"  name="HRChamCongService.FormData.Code13" type="text" class="form-control">
</div>
<div>
<label>ChamCong13</label>
<input placeholder="ChamCong13" [(ngModel)]="HRChamCongService.FormData.ChamCong13"  name="HRChamCongService.FormData.ChamCong13" type="text" class="form-control">
</div>
<div>
<label>Ngay14</label>
<input placeholder="Ngay14" [(ngModel)]="HRChamCongService.FormData.Ngay14"  name="HRChamCongService.FormData.Ngay14" type="text" class="form-control">
</div>
<div>
<label>Name14</label>
<input placeholder="Name14" [(ngModel)]="HRChamCongService.FormData.Name14"  name="HRChamCongService.FormData.Name14" type="text" class="form-control">
</div>
<div>
<label>Code14</label>
<input placeholder="Code14" [(ngModel)]="HRChamCongService.FormData.Code14"  name="HRChamCongService.FormData.Code14" type="text" class="form-control">
</div>
<div>
<label>Ngay15</label>
<input placeholder="Ngay15" [(ngModel)]="HRChamCongService.FormData.Ngay15"  name="HRChamCongService.FormData.Ngay15" type="text" class="form-control">
</div>
<div>
<label>Name15</label>
<input placeholder="Name15" [(ngModel)]="HRChamCongService.FormData.Name15"  name="HRChamCongService.FormData.Name15" type="text" class="form-control">
</div>
<div>
<label>Code15</label>
<input placeholder="Code15" [(ngModel)]="HRChamCongService.FormData.Code15"  name="HRChamCongService.FormData.Code15" type="text" class="form-control">
</div>
<div>
<label>ChamCong15</label>
<input placeholder="ChamCong15" [(ngModel)]="HRChamCongService.FormData.ChamCong15"  name="HRChamCongService.FormData.ChamCong15" type="text" class="form-control">
</div>
<div>
<label>Ngay16</label>
<input placeholder="Ngay16" [(ngModel)]="HRChamCongService.FormData.Ngay16"  name="HRChamCongService.FormData.Ngay16" type="text" class="form-control">
</div>
<div>
<label>Name16</label>
<input placeholder="Name16" [(ngModel)]="HRChamCongService.FormData.Name16"  name="HRChamCongService.FormData.Name16" type="text" class="form-control">
</div>
<div>
<label>Code16</label>
<input placeholder="Code16" [(ngModel)]="HRChamCongService.FormData.Code16"  name="HRChamCongService.FormData.Code16" type="text" class="form-control">
</div>
<div>
<label>ChamCong16</label>
<input placeholder="ChamCong16" [(ngModel)]="HRChamCongService.FormData.ChamCong16"  name="HRChamCongService.FormData.ChamCong16" type="text" class="form-control">
</div>
<div>
<label>Ngay17</label>
<input placeholder="Ngay17" [(ngModel)]="HRChamCongService.FormData.Ngay17"  name="HRChamCongService.FormData.Ngay17" type="text" class="form-control">
</div>
<div>
<label>Name17</label>
<input placeholder="Name17" [(ngModel)]="HRChamCongService.FormData.Name17"  name="HRChamCongService.FormData.Name17" type="text" class="form-control">
</div>
<div>
<label>Code17</label>
<input placeholder="Code17" [(ngModel)]="HRChamCongService.FormData.Code17"  name="HRChamCongService.FormData.Code17" type="text" class="form-control">
</div>
<div>
<label>ChamCong17</label>
<input placeholder="ChamCong17" [(ngModel)]="HRChamCongService.FormData.ChamCong17"  name="HRChamCongService.FormData.ChamCong17" type="text" class="form-control">
</div>
<div>
<label>Ngay18</label>
<input placeholder="Ngay18" [(ngModel)]="HRChamCongService.FormData.Ngay18"  name="HRChamCongService.FormData.Ngay18" type="text" class="form-control">
</div>
<div>
<label>Name18</label>
<input placeholder="Name18" [(ngModel)]="HRChamCongService.FormData.Name18"  name="HRChamCongService.FormData.Name18" type="text" class="form-control">
</div>
<div>
<label>Code18</label>
<input placeholder="Code18" [(ngModel)]="HRChamCongService.FormData.Code18"  name="HRChamCongService.FormData.Code18" type="text" class="form-control">
</div>
<div>
<label>ChamCong18</label>
<input placeholder="ChamCong18" [(ngModel)]="HRChamCongService.FormData.ChamCong18"  name="HRChamCongService.FormData.ChamCong18" type="text" class="form-control">
</div>
<div>
<label>Ngay19</label>
<input placeholder="Ngay19" [(ngModel)]="HRChamCongService.FormData.Ngay19"  name="HRChamCongService.FormData.Ngay19" type="text" class="form-control">
</div>
<div>
<label>Name19</label>
<input placeholder="Name19" [(ngModel)]="HRChamCongService.FormData.Name19"  name="HRChamCongService.FormData.Name19" type="text" class="form-control">
</div>
<div>
<label>Code19</label>
<input placeholder="Code19" [(ngModel)]="HRChamCongService.FormData.Code19"  name="HRChamCongService.FormData.Code19" type="text" class="form-control">
</div>
<div>
<label>ChamCong19</label>
<input placeholder="ChamCong19" [(ngModel)]="HRChamCongService.FormData.ChamCong19"  name="HRChamCongService.FormData.ChamCong19" type="text" class="form-control">
</div>
<div>
<label>Ngay20</label>
<input placeholder="Ngay20" [(ngModel)]="HRChamCongService.FormData.Ngay20"  name="HRChamCongService.FormData.Ngay20" type="text" class="form-control">
</div>
<div>
<label>Name20</label>
<input placeholder="Name20" [(ngModel)]="HRChamCongService.FormData.Name20"  name="HRChamCongService.FormData.Name20" type="text" class="form-control">
</div>
<div>
<label>Code20</label>
<input placeholder="Code20" [(ngModel)]="HRChamCongService.FormData.Code20"  name="HRChamCongService.FormData.Code20" type="text" class="form-control">
</div>
<div>
<label>ChamCong20</label>
<input placeholder="ChamCong20" [(ngModel)]="HRChamCongService.FormData.ChamCong20"  name="HRChamCongService.FormData.ChamCong20" type="text" class="form-control">
</div>
<div>
<label>Ngay21</label>
<input placeholder="Ngay21" [(ngModel)]="HRChamCongService.FormData.Ngay21"  name="HRChamCongService.FormData.Ngay21" type="text" class="form-control">
</div>
<div>
<label>Name21</label>
<input placeholder="Name21" [(ngModel)]="HRChamCongService.FormData.Name21"  name="HRChamCongService.FormData.Name21" type="text" class="form-control">
</div>
<div>
<label>Code21</label>
<input placeholder="Code21" [(ngModel)]="HRChamCongService.FormData.Code21"  name="HRChamCongService.FormData.Code21" type="text" class="form-control">
</div>
<div>
<label>ChamCong21</label>
<input placeholder="ChamCong21" [(ngModel)]="HRChamCongService.FormData.ChamCong21"  name="HRChamCongService.FormData.ChamCong21" type="text" class="form-control">
</div>
<div>
<label>Ngay22</label>
<input placeholder="Ngay22" [(ngModel)]="HRChamCongService.FormData.Ngay22"  name="HRChamCongService.FormData.Ngay22" type="text" class="form-control">
</div>
<div>
<label>Name22</label>
<input placeholder="Name22" [(ngModel)]="HRChamCongService.FormData.Name22"  name="HRChamCongService.FormData.Name22" type="text" class="form-control">
</div>
<div>
<label>Code22</label>
<input placeholder="Code22" [(ngModel)]="HRChamCongService.FormData.Code22"  name="HRChamCongService.FormData.Code22" type="text" class="form-control">
</div>
<div>
<label>ChamCong22</label>
<input placeholder="ChamCong22" [(ngModel)]="HRChamCongService.FormData.ChamCong22"  name="HRChamCongService.FormData.ChamCong22" type="text" class="form-control">
</div>
<div>
<label>Ngay23</label>
<input placeholder="Ngay23" [(ngModel)]="HRChamCongService.FormData.Ngay23"  name="HRChamCongService.FormData.Ngay23" type="text" class="form-control">
</div>
<div>
<label>Name23</label>
<input placeholder="Name23" [(ngModel)]="HRChamCongService.FormData.Name23"  name="HRChamCongService.FormData.Name23" type="text" class="form-control">
</div>
<div>
<label>Code23</label>
<input placeholder="Code23" [(ngModel)]="HRChamCongService.FormData.Code23"  name="HRChamCongService.FormData.Code23" type="text" class="form-control">
</div>
<div>
<label>ChamCong23</label>
<input placeholder="ChamCong23" [(ngModel)]="HRChamCongService.FormData.ChamCong23"  name="HRChamCongService.FormData.ChamCong23" type="text" class="form-control">
</div>
<div>
<label>Ngay24</label>
<input placeholder="Ngay24" [(ngModel)]="HRChamCongService.FormData.Ngay24"  name="HRChamCongService.FormData.Ngay24" type="text" class="form-control">
</div>
<div>
<label>Name24</label>
<input placeholder="Name24" [(ngModel)]="HRChamCongService.FormData.Name24"  name="HRChamCongService.FormData.Name24" type="text" class="form-control">
</div>
<div>
<label>Code24</label>
<input placeholder="Code24" [(ngModel)]="HRChamCongService.FormData.Code24"  name="HRChamCongService.FormData.Code24" type="text" class="form-control">
</div>
<div>
<label>ChamCong24</label>
<input placeholder="ChamCong24" [(ngModel)]="HRChamCongService.FormData.ChamCong24"  name="HRChamCongService.FormData.ChamCong24" type="text" class="form-control">
</div>
<div>
<label>Ngay25</label>
<input placeholder="Ngay25" [(ngModel)]="HRChamCongService.FormData.Ngay25"  name="HRChamCongService.FormData.Ngay25" type="text" class="form-control">
</div>
<div>
<label>Name25</label>
<input placeholder="Name25" [(ngModel)]="HRChamCongService.FormData.Name25"  name="HRChamCongService.FormData.Name25" type="text" class="form-control">
</div>
<div>
<label>Code25</label>
<input placeholder="Code25" [(ngModel)]="HRChamCongService.FormData.Code25"  name="HRChamCongService.FormData.Code25" type="text" class="form-control">
</div>
<div>
<label>ChamCong25</label>
<input placeholder="ChamCong25" [(ngModel)]="HRChamCongService.FormData.ChamCong25"  name="HRChamCongService.FormData.ChamCong25" type="text" class="form-control">
</div>
<div>
<label>Ngay26</label>
<input placeholder="Ngay26" [(ngModel)]="HRChamCongService.FormData.Ngay26"  name="HRChamCongService.FormData.Ngay26" type="text" class="form-control">
</div>
<div>
<label>Name26</label>
<input placeholder="Name26" [(ngModel)]="HRChamCongService.FormData.Name26"  name="HRChamCongService.FormData.Name26" type="text" class="form-control">
</div>
<div>
<label>Code26</label>
<input placeholder="Code26" [(ngModel)]="HRChamCongService.FormData.Code26"  name="HRChamCongService.FormData.Code26" type="text" class="form-control">
</div>
<div>
<label>ChamCong26</label>
<input placeholder="ChamCong26" [(ngModel)]="HRChamCongService.FormData.ChamCong26"  name="HRChamCongService.FormData.ChamCong26" type="text" class="form-control">
</div>
<div>
<label>Ngay27</label>
<input placeholder="Ngay27" [(ngModel)]="HRChamCongService.FormData.Ngay27"  name="HRChamCongService.FormData.Ngay27" type="text" class="form-control">
</div>
<div>
<label>Name27</label>
<input placeholder="Name27" [(ngModel)]="HRChamCongService.FormData.Name27"  name="HRChamCongService.FormData.Name27" type="text" class="form-control">
</div>
<div>
<label>Code27</label>
<input placeholder="Code27" [(ngModel)]="HRChamCongService.FormData.Code27"  name="HRChamCongService.FormData.Code27" type="text" class="form-control">
</div>
<div>
<label>ChamCong27</label>
<input placeholder="ChamCong27" [(ngModel)]="HRChamCongService.FormData.ChamCong27"  name="HRChamCongService.FormData.ChamCong27" type="text" class="form-control">
</div>
<div>
<label>Ngay28</label>
<input placeholder="Ngay28" [(ngModel)]="HRChamCongService.FormData.Ngay28"  name="HRChamCongService.FormData.Ngay28" type="text" class="form-control">
</div>
<div>
<label>Name28</label>
<input placeholder="Name28" [(ngModel)]="HRChamCongService.FormData.Name28"  name="HRChamCongService.FormData.Name28" type="text" class="form-control">
</div>
<div>
<label>Code28</label>
<input placeholder="Code28" [(ngModel)]="HRChamCongService.FormData.Code28"  name="HRChamCongService.FormData.Code28" type="text" class="form-control">
</div>
<div>
<label>ChamCong28</label>
<input placeholder="ChamCong28" [(ngModel)]="HRChamCongService.FormData.ChamCong28"  name="HRChamCongService.FormData.ChamCong28" type="text" class="form-control">
</div>
<div>
<label>Ngay29</label>
<input placeholder="Ngay29" [(ngModel)]="HRChamCongService.FormData.Ngay29"  name="HRChamCongService.FormData.Ngay29" type="text" class="form-control">
</div>
<div>
<label>Name29</label>
<input placeholder="Name29" [(ngModel)]="HRChamCongService.FormData.Name29"  name="HRChamCongService.FormData.Name29" type="text" class="form-control">
</div>
<div>
<label>Code29</label>
<input placeholder="Code29" [(ngModel)]="HRChamCongService.FormData.Code29"  name="HRChamCongService.FormData.Code29" type="text" class="form-control">
</div>
<div>
<label>ChamCong29</label>
<input placeholder="ChamCong29" [(ngModel)]="HRChamCongService.FormData.ChamCong29"  name="HRChamCongService.FormData.ChamCong29" type="text" class="form-control">
</div>
<div>
<label>Ngay30</label>
<input placeholder="Ngay30" [(ngModel)]="HRChamCongService.FormData.Ngay30"  name="HRChamCongService.FormData.Ngay30" type="text" class="form-control">
</div>
<div>
<label>Name30</label>
<input placeholder="Name30" [(ngModel)]="HRChamCongService.FormData.Name30"  name="HRChamCongService.FormData.Name30" type="text" class="form-control">
</div>
<div>
<label>Code30</label>
<input placeholder="Code30" [(ngModel)]="HRChamCongService.FormData.Code30"  name="HRChamCongService.FormData.Code30" type="text" class="form-control">
</div>
<div>
<label>ChamCong30</label>
<input placeholder="ChamCong30" [(ngModel)]="HRChamCongService.FormData.ChamCong30"  name="HRChamCongService.FormData.ChamCong30" type="text" class="form-control">
</div>
<div>
<label>Ngay31</label>
<input placeholder="Ngay31" [(ngModel)]="HRChamCongService.FormData.Ngay31"  name="HRChamCongService.FormData.Ngay31" type="text" class="form-control">
</div>
<div>
<label>Name31</label>
<input placeholder="Name31" [(ngModel)]="HRChamCongService.FormData.Name31"  name="HRChamCongService.FormData.Name31" type="text" class="form-control">
</div>
<div>
<label>Code31</label>
<input placeholder="Code31" [(ngModel)]="HRChamCongService.FormData.Code31"  name="HRChamCongService.FormData.Code31" type="text" class="form-control">
</div>
<div>
<label>ChamCong31</label>
<input placeholder="ChamCong31" [(ngModel)]="HRChamCongService.FormData.ChamCong31"  name="HRChamCongService.FormData.ChamCong31" type="text" class="form-control">
</div>
<div>
<label>Ngay32</label>
<input placeholder="Ngay32" [(ngModel)]="HRChamCongService.FormData.Ngay32"  name="HRChamCongService.FormData.Ngay32" type="text" class="form-control">
</div>
<div>
<label>Name32</label>
<input placeholder="Name32" [(ngModel)]="HRChamCongService.FormData.Name32"  name="HRChamCongService.FormData.Name32" type="text" class="form-control">
</div>
<div>
<label>Code32</label>
<input placeholder="Code32" [(ngModel)]="HRChamCongService.FormData.Code32"  name="HRChamCongService.FormData.Code32" type="text" class="form-control">
</div>
<div>
<label>ChamCong32</label>
<input placeholder="ChamCong32" [(ngModel)]="HRChamCongService.FormData.ChamCong32"  name="HRChamCongService.FormData.ChamCong32" type="text" class="form-control">
</div>
<div>
<label>Ngay33</label>
<input placeholder="Ngay33" [(ngModel)]="HRChamCongService.FormData.Ngay33"  name="HRChamCongService.FormData.Ngay33" type="text" class="form-control">
</div>
<div>
<label>Name33</label>
<input placeholder="Name33" [(ngModel)]="HRChamCongService.FormData.Name33"  name="HRChamCongService.FormData.Name33" type="text" class="form-control">
</div>
<div>
<label>Code33</label>
<input placeholder="Code33" [(ngModel)]="HRChamCongService.FormData.Code33"  name="HRChamCongService.FormData.Code33" type="text" class="form-control">
</div>
<div>
<label>ChamCong33</label>
<input placeholder="ChamCong33" [(ngModel)]="HRChamCongService.FormData.ChamCong33"  name="HRChamCongService.FormData.ChamCong33" type="text" class="form-control">
</div>
<div>
<label>Ngay34</label>
<input placeholder="Ngay34" [(ngModel)]="HRChamCongService.FormData.Ngay34"  name="HRChamCongService.FormData.Ngay34" type="text" class="form-control">
</div>
<div>
<label>Name34</label>
<input placeholder="Name34" [(ngModel)]="HRChamCongService.FormData.Name34"  name="HRChamCongService.FormData.Name34" type="text" class="form-control">
</div>
<div>
<label>Code34</label>
<input placeholder="Code34" [(ngModel)]="HRChamCongService.FormData.Code34"  name="HRChamCongService.FormData.Code34" type="text" class="form-control">
</div>
<div>
<label>ChamCong34</label>
<input placeholder="ChamCong34" [(ngModel)]="HRChamCongService.FormData.ChamCong34"  name="HRChamCongService.FormData.ChamCong34" type="text" class="form-control">
</div>
<div>
<label>Ngay35</label>
<input placeholder="Ngay35" [(ngModel)]="HRChamCongService.FormData.Ngay35"  name="HRChamCongService.FormData.Ngay35" type="text" class="form-control">
</div>
<div>
<label>Name35</label>
<input placeholder="Name35" [(ngModel)]="HRChamCongService.FormData.Name35"  name="HRChamCongService.FormData.Name35" type="text" class="form-control">
</div>
<div>
<label>Code35</label>
<input placeholder="Code35" [(ngModel)]="HRChamCongService.FormData.Code35"  name="HRChamCongService.FormData.Code35" type="text" class="form-control">
</div>
<div>
<label>ChamCong35</label>
<input placeholder="ChamCong35" [(ngModel)]="HRChamCongService.FormData.ChamCong35"  name="HRChamCongService.FormData.ChamCong35" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="HRChamCongService.IsShowLoading"></app-loading>

