<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML12_CV130
                        <span *ngIf="XML12_CV130Service.List">({{XML12_CV130Service.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML12_CV130" title="XML12_CV130">
                                XML12_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="XML12_CV130Service.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="XML12_CV130Search()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="XML12_CV130Search()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #XML12_CV130Sort="matSort"
                           [dataSource]="XML12_CV130Service.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="XML12_CV130Paginator">
                                    {{
XML12_CV130Paginator.pageSize *
                                    XML12_CV130Paginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="XML12_CV130Save(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="XML12_CV130Delete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="XML12_CV130_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XML12_CV130_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XML12_CV130_Id" name="XML12_CV130_Id" [(ngModel)]="element.XML12_CV130_Id"></td>
</ng-container>
<ng-container matColumnDef="BenhAn_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhAn_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhAn_Id" name="BenhAn_Id" [(ngModel)]="element.BenhAn_Id"></td>
</ng-container>
<ng-container matColumnDef="TiepNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TiepNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TiepNhan_Id" name="TiepNhan_Id" [(ngModel)]="element.TiepNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="BenhNhan_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BenhNhan_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="BenhNhan_Id" name="BenhNhan_Id" [(ngModel)]="element.BenhNhan_Id"></td>
</ng-container>
<ng-container matColumnDef="XacNhanChiPhi_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>XacNhanChiPhi_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="XacNhanChiPhi_Id" name="XacNhanChiPhi_Id" [(ngModel)]="element.XacNhanChiPhi_Id"></td>
</ng-container>
<ng-container matColumnDef="NGUOI_CHU_TRI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGUOI_CHU_TRI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGUOI_CHU_TRI" name="NGUOI_CHU_TRI" [(ngModel)]="element.NGUOI_CHU_TRI"></td>
</ng-container>
<ng-container matColumnDef="CHUC_VU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CHUC_VU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="CHUC_VU" name="CHUC_VU" [(ngModel)]="element.CHUC_VU"></td>
</ng-container>
<ng-container matColumnDef="NGAY_HOP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_HOP</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGAY_HOP" name="NGAY_HOP" [(ngModel)]="element.NGAY_HOP"></td>
</ng-container>
<ng-container matColumnDef="HO_TEN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HO_TEN</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HO_TEN" name="HO_TEN" [(ngModel)]="element.HO_TEN"></td>
</ng-container>
<ng-container matColumnDef="NGAY_SINH">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_SINH</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGAY_SINH" name="NGAY_SINH" [(ngModel)]="element.NGAY_SINH"></td>
</ng-container>
<ng-container matColumnDef="SO_CCCD">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SO_CCCD</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SO_CCCD" name="SO_CCCD" [(ngModel)]="element.SO_CCCD"></td>
</ng-container>
<ng-container matColumnDef="NGAY_CAP_CCCD">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_CAP_CCCD</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGAY_CAP_CCCD" name="NGAY_CAP_CCCD" [(ngModel)]="element.NGAY_CAP_CCCD"></td>
</ng-container>
<ng-container matColumnDef="NOI_CAP_CCCD">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NOI_CAP_CCCD</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NOI_CAP_CCCD" name="NOI_CAP_CCCD" [(ngModel)]="element.NOI_CAP_CCCD"></td>
</ng-container>
<ng-container matColumnDef="DIA_CHI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DIA_CHI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DIA_CHI" name="DIA_CHI" [(ngModel)]="element.DIA_CHI"></td>
</ng-container>
<ng-container matColumnDef="MATINH_CU_TRU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MATINH_CU_TRU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MATINH_CU_TRU" name="MATINH_CU_TRU" [(ngModel)]="element.MATINH_CU_TRU"></td>
</ng-container>
<ng-container matColumnDef="MAHUYEN_CU_TRU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MAHUYEN_CU_TRU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MAHUYEN_CU_TRU" name="MAHUYEN_CU_TRU" [(ngModel)]="element.MAHUYEN_CU_TRU"></td>
</ng-container>
<ng-container matColumnDef="MAXA_CU_TRU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MAXA_CU_TRU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MAXA_CU_TRU" name="MAXA_CU_TRU" [(ngModel)]="element.MAXA_CU_TRU"></td>
</ng-container>
<ng-container matColumnDef="MA_BHXH">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_BHXH</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MA_BHXH" name="MA_BHXH" [(ngModel)]="element.MA_BHXH"></td>
</ng-container>
<ng-container matColumnDef="MA_THE_BHYT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_THE_BHYT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MA_THE_BHYT" name="MA_THE_BHYT" [(ngModel)]="element.MA_THE_BHYT"></td>
</ng-container>
<ng-container matColumnDef="NGHE_NGHIEP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGHE_NGHIEP</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGHE_NGHIEP" name="NGHE_NGHIEP" [(ngModel)]="element.NGHE_NGHIEP"></td>
</ng-container>
<ng-container matColumnDef="DIEN_THOAI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DIEN_THOAI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DIEN_THOAI" name="DIEN_THOAI" [(ngModel)]="element.DIEN_THOAI"></td>
</ng-container>
<ng-container matColumnDef="MA_DOI_TUONG">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_DOI_TUONG</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MA_DOI_TUONG" name="MA_DOI_TUONG" [(ngModel)]="element.MA_DOI_TUONG"></td>
</ng-container>
<ng-container matColumnDef="KHAM_GIAM_DINH">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KHAM_GIAM_DINH</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KHAM_GIAM_DINH" name="KHAM_GIAM_DINH" [(ngModel)]="element.KHAM_GIAM_DINH"></td>
</ng-container>
<ng-container matColumnDef="SO_BIEN_BAN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SO_BIEN_BAN</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SO_BIEN_BAN" name="SO_BIEN_BAN" [(ngModel)]="element.SO_BIEN_BAN"></td>
</ng-container>
<ng-container matColumnDef="TYLE_TTCT_CU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TYLE_TTCT_CU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TYLE_TTCT_CU" name="TYLE_TTCT_CU" [(ngModel)]="element.TYLE_TTCT_CU"></td>
</ng-container>
<ng-container matColumnDef="DANG_HUONG_CHE_DO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DANG_HUONG_CHE_DO</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DANG_HUONG_CHE_DO" name="DANG_HUONG_CHE_DO" [(ngModel)]="element.DANG_HUONG_CHE_DO"></td>
</ng-container>
<ng-container matColumnDef="NGAY_CHUNG_TU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_CHUNG_TU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGAY_CHUNG_TU" name="NGAY_CHUNG_TU" [(ngModel)]="element.NGAY_CHUNG_TU"></td>
</ng-container>
<ng-container matColumnDef="SO_GIAY_GIOI_THIEU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SO_GIAY_GIOI_THIEU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SO_GIAY_GIOI_THIEU" name="SO_GIAY_GIOI_THIEU" [(ngModel)]="element.SO_GIAY_GIOI_THIEU"></td>
</ng-container>
<ng-container matColumnDef="NGAY_DE_NGHI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NGAY_DE_NGHI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="NGAY_DE_NGHI" name="NGAY_DE_NGHI" [(ngModel)]="element.NGAY_DE_NGHI"></td>
</ng-container>
<ng-container matColumnDef="MA_DONVI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MA_DONVI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MA_DONVI" name="MA_DONVI" [(ngModel)]="element.MA_DONVI"></td>
</ng-container>
<ng-container matColumnDef="GIOI_THIEU_CUA">
<th mat-header-cell *matHeaderCellDef mat-sort-header>GIOI_THIEU_CUA</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="GIOI_THIEU_CUA" name="GIOI_THIEU_CUA" [(ngModel)]="element.GIOI_THIEU_CUA"></td>
</ng-container>
<ng-container matColumnDef="KET_QUA_KHAM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KET_QUA_KHAM</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="KET_QUA_KHAM" name="KET_QUA_KHAM" [(ngModel)]="element.KET_QUA_KHAM"></td>
</ng-container>
<ng-container matColumnDef="SO_VAN_BAN_CAN_CU">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SO_VAN_BAN_CAN_CU</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="SO_VAN_BAN_CAN_CU" name="SO_VAN_BAN_CAN_CU" [(ngModel)]="element.SO_VAN_BAN_CAN_CU"></td>
</ng-container>
<ng-container matColumnDef="TYLE_TTCT_MOI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TYLE_TTCT_MOI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TYLE_TTCT_MOI" name="TYLE_TTCT_MOI" [(ngModel)]="element.TYLE_TTCT_MOI"></td>
</ng-container>
<ng-container matColumnDef="TONG_TYLE_TTCT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TONG_TYLE_TTCT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TONG_TYLE_TTCT" name="TONG_TYLE_TTCT" [(ngModel)]="element.TONG_TYLE_TTCT"></td>
</ng-container>
<ng-container matColumnDef="DANG_KHUYETTAT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DANG_KHUYETTAT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DANG_KHUYETTAT" name="DANG_KHUYETTAT" [(ngModel)]="element.DANG_KHUYETTAT"></td>
</ng-container>
<ng-container matColumnDef="MUC_DO_KHUYETTAT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MUC_DO_KHUYETTAT</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="MUC_DO_KHUYETTAT" name="MUC_DO_KHUYETTAT" [(ngModel)]="element.MUC_DO_KHUYETTAT"></td>
</ng-container>
<ng-container matColumnDef="DE_NGHI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DE_NGHI</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DE_NGHI" name="DE_NGHI" [(ngModel)]="element.DE_NGHI"></td>
</ng-container>
<ng-container matColumnDef="DUOC_XACDINH">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DUOC_XACDINH</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DUOC_XACDINH" name="DUOC_XACDINH" [(ngModel)]="element.DUOC_XACDINH"></td>
</ng-container>
<ng-container matColumnDef="DU_PHONG">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DU_PHONG</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DU_PHONG" name="DU_PHONG" [(ngModel)]="element.DU_PHONG"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="XML12_CV130Service.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: XML12_CV130Service.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #XML12_CV130Paginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="XML12_CV130Service.IsShowLoading"></app-loading>

