<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML12_CV130:
                        <b>{{XML12_CV130Service.FormData.XML12_CV130_Id}} [{{XML12_CV130Service.FormData.XML12_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML12_CV130" title="XML12_CV130">
                                XML12_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML12_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML12_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML12_CV130_Id</label>
<input placeholder="XML12_CV130_Id" [(ngModel)]="XML12_CV130Service.FormData.XML12_CV130_Id"  name="XML12_CV130Service.FormData.XML12_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML12_CV130Service.FormData.BenhAn_Id"  name="XML12_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML12_CV130Service.FormData.TiepNhan_Id"  name="XML12_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML12_CV130Service.FormData.BenhNhan_Id"  name="XML12_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML12_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML12_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>NGUOI_CHU_TRI</label>
<input placeholder="NGUOI_CHU_TRI" [(ngModel)]="XML12_CV130Service.FormData.NGUOI_CHU_TRI"  name="XML12_CV130Service.FormData.NGUOI_CHU_TRI" type="text" class="form-control">
</div>
<div>
<label>CHUC_VU</label>
<input placeholder="CHUC_VU" [(ngModel)]="XML12_CV130Service.FormData.CHUC_VU"  name="XML12_CV130Service.FormData.CHUC_VU" type="text" class="form-control">
</div>
<div>
<label>NGAY_HOP</label>
<input placeholder="NGAY_HOP" [(ngModel)]="XML12_CV130Service.FormData.NGAY_HOP"  name="XML12_CV130Service.FormData.NGAY_HOP" type="text" class="form-control">
</div>
<div>
<label>HO_TEN</label>
<input placeholder="HO_TEN" [(ngModel)]="XML12_CV130Service.FormData.HO_TEN"  name="XML12_CV130Service.FormData.HO_TEN" type="text" class="form-control">
</div>
<div>
<label>NGAY_SINH</label>
<input placeholder="NGAY_SINH" [(ngModel)]="XML12_CV130Service.FormData.NGAY_SINH"  name="XML12_CV130Service.FormData.NGAY_SINH" type="text" class="form-control">
</div>
<div>
<label>SO_CCCD</label>
<input placeholder="SO_CCCD" [(ngModel)]="XML12_CV130Service.FormData.SO_CCCD"  name="XML12_CV130Service.FormData.SO_CCCD" type="text" class="form-control">
</div>
<div>
<label>NGAY_CAP_CCCD</label>
<input placeholder="NGAY_CAP_CCCD" [(ngModel)]="XML12_CV130Service.FormData.NGAY_CAP_CCCD"  name="XML12_CV130Service.FormData.NGAY_CAP_CCCD" type="text" class="form-control">
</div>
<div>
<label>NOI_CAP_CCCD</label>
<input placeholder="NOI_CAP_CCCD" [(ngModel)]="XML12_CV130Service.FormData.NOI_CAP_CCCD"  name="XML12_CV130Service.FormData.NOI_CAP_CCCD" type="text" class="form-control">
</div>
<div>
<label>DIA_CHI</label>
<input placeholder="DIA_CHI" [(ngModel)]="XML12_CV130Service.FormData.DIA_CHI"  name="XML12_CV130Service.FormData.DIA_CHI" type="text" class="form-control">
</div>
<div>
<label>MATINH_CU_TRU</label>
<input placeholder="MATINH_CU_TRU" [(ngModel)]="XML12_CV130Service.FormData.MATINH_CU_TRU"  name="XML12_CV130Service.FormData.MATINH_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MAHUYEN_CU_TRU</label>
<input placeholder="MAHUYEN_CU_TRU" [(ngModel)]="XML12_CV130Service.FormData.MAHUYEN_CU_TRU"  name="XML12_CV130Service.FormData.MAHUYEN_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MAXA_CU_TRU</label>
<input placeholder="MAXA_CU_TRU" [(ngModel)]="XML12_CV130Service.FormData.MAXA_CU_TRU"  name="XML12_CV130Service.FormData.MAXA_CU_TRU" type="text" class="form-control">
</div>
<div>
<label>MA_BHXH</label>
<input placeholder="MA_BHXH" [(ngModel)]="XML12_CV130Service.FormData.MA_BHXH"  name="XML12_CV130Service.FormData.MA_BHXH" type="text" class="form-control">
</div>
<div>
<label>MA_THE_BHYT</label>
<input placeholder="MA_THE_BHYT" [(ngModel)]="XML12_CV130Service.FormData.MA_THE_BHYT"  name="XML12_CV130Service.FormData.MA_THE_BHYT" type="text" class="form-control">
</div>
<div>
<label>NGHE_NGHIEP</label>
<input placeholder="NGHE_NGHIEP" [(ngModel)]="XML12_CV130Service.FormData.NGHE_NGHIEP"  name="XML12_CV130Service.FormData.NGHE_NGHIEP" type="text" class="form-control">
</div>
<div>
<label>DIEN_THOAI</label>
<input placeholder="DIEN_THOAI" [(ngModel)]="XML12_CV130Service.FormData.DIEN_THOAI"  name="XML12_CV130Service.FormData.DIEN_THOAI" type="text" class="form-control">
</div>
<div>
<label>MA_DOI_TUONG</label>
<input placeholder="MA_DOI_TUONG" [(ngModel)]="XML12_CV130Service.FormData.MA_DOI_TUONG"  name="XML12_CV130Service.FormData.MA_DOI_TUONG" type="text" class="form-control">
</div>
<div>
<label>KHAM_GIAM_DINH</label>
<input placeholder="KHAM_GIAM_DINH" [(ngModel)]="XML12_CV130Service.FormData.KHAM_GIAM_DINH"  name="XML12_CV130Service.FormData.KHAM_GIAM_DINH" type="text" class="form-control">
</div>
<div>
<label>SO_BIEN_BAN</label>
<input placeholder="SO_BIEN_BAN" [(ngModel)]="XML12_CV130Service.FormData.SO_BIEN_BAN"  name="XML12_CV130Service.FormData.SO_BIEN_BAN" type="text" class="form-control">
</div>
<div>
<label>TYLE_TTCT_CU</label>
<input placeholder="TYLE_TTCT_CU" [(ngModel)]="XML12_CV130Service.FormData.TYLE_TTCT_CU"  name="XML12_CV130Service.FormData.TYLE_TTCT_CU" type="text" class="form-control">
</div>
<div>
<label>DANG_HUONG_CHE_DO</label>
<input placeholder="DANG_HUONG_CHE_DO" [(ngModel)]="XML12_CV130Service.FormData.DANG_HUONG_CHE_DO"  name="XML12_CV130Service.FormData.DANG_HUONG_CHE_DO" type="text" class="form-control">
</div>
<div>
<label>NGAY_CHUNG_TU</label>
<input placeholder="NGAY_CHUNG_TU" [(ngModel)]="XML12_CV130Service.FormData.NGAY_CHUNG_TU"  name="XML12_CV130Service.FormData.NGAY_CHUNG_TU" type="text" class="form-control">
</div>
<div>
<label>SO_GIAY_GIOI_THIEU</label>
<input placeholder="SO_GIAY_GIOI_THIEU" [(ngModel)]="XML12_CV130Service.FormData.SO_GIAY_GIOI_THIEU"  name="XML12_CV130Service.FormData.SO_GIAY_GIOI_THIEU" type="text" class="form-control">
</div>
<div>
<label>NGAY_DE_NGHI</label>
<input placeholder="NGAY_DE_NGHI" [(ngModel)]="XML12_CV130Service.FormData.NGAY_DE_NGHI"  name="XML12_CV130Service.FormData.NGAY_DE_NGHI" type="text" class="form-control">
</div>
<div>
<label>MA_DONVI</label>
<input placeholder="MA_DONVI" [(ngModel)]="XML12_CV130Service.FormData.MA_DONVI"  name="XML12_CV130Service.FormData.MA_DONVI" type="text" class="form-control">
</div>
<div>
<label>GIOI_THIEU_CUA</label>
<input placeholder="GIOI_THIEU_CUA" [(ngModel)]="XML12_CV130Service.FormData.GIOI_THIEU_CUA"  name="XML12_CV130Service.FormData.GIOI_THIEU_CUA" type="text" class="form-control">
</div>
<div>
<label>KET_QUA_KHAM</label>
<input placeholder="KET_QUA_KHAM" [(ngModel)]="XML12_CV130Service.FormData.KET_QUA_KHAM"  name="XML12_CV130Service.FormData.KET_QUA_KHAM" type="text" class="form-control">
</div>
<div>
<label>SO_VAN_BAN_CAN_CU</label>
<input placeholder="SO_VAN_BAN_CAN_CU" [(ngModel)]="XML12_CV130Service.FormData.SO_VAN_BAN_CAN_CU"  name="XML12_CV130Service.FormData.SO_VAN_BAN_CAN_CU" type="text" class="form-control">
</div>
<div>
<label>TYLE_TTCT_MOI</label>
<input placeholder="TYLE_TTCT_MOI" [(ngModel)]="XML12_CV130Service.FormData.TYLE_TTCT_MOI"  name="XML12_CV130Service.FormData.TYLE_TTCT_MOI" type="text" class="form-control">
</div>
<div>
<label>TONG_TYLE_TTCT</label>
<input placeholder="TONG_TYLE_TTCT" [(ngModel)]="XML12_CV130Service.FormData.TONG_TYLE_TTCT"  name="XML12_CV130Service.FormData.TONG_TYLE_TTCT" type="text" class="form-control">
</div>
<div>
<label>DANG_KHUYETTAT</label>
<input placeholder="DANG_KHUYETTAT" [(ngModel)]="XML12_CV130Service.FormData.DANG_KHUYETTAT"  name="XML12_CV130Service.FormData.DANG_KHUYETTAT" type="text" class="form-control">
</div>
<div>
<label>MUC_DO_KHUYETTAT</label>
<input placeholder="MUC_DO_KHUYETTAT" [(ngModel)]="XML12_CV130Service.FormData.MUC_DO_KHUYETTAT"  name="XML12_CV130Service.FormData.MUC_DO_KHUYETTAT" type="text" class="form-control">
</div>
<div>
<label>DE_NGHI</label>
<input placeholder="DE_NGHI" [(ngModel)]="XML12_CV130Service.FormData.DE_NGHI"  name="XML12_CV130Service.FormData.DE_NGHI" type="text" class="form-control">
</div>
<div>
<label>DUOC_XACDINH</label>
<input placeholder="DUOC_XACDINH" [(ngModel)]="XML12_CV130Service.FormData.DUOC_XACDINH"  name="XML12_CV130Service.FormData.DUOC_XACDINH" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML12_CV130Service.FormData.DU_PHONG"  name="XML12_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML12_CV130Service.IsShowLoading"></app-loading>

