<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        XML5_CV130:
                        <b>{{XML5_CV130Service.FormData.XML5_CV130_Id}} [{{XML5_CV130Service.FormData.XML5_CV130_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A/">eHospital_DongNai_A/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/XML5_CV130" title="XML5_CV130">
                                XML5_CV130
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="XML5_CV130Add()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="XML5_CV130Save()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>XML5_CV130_Id</label>
<input placeholder="XML5_CV130_Id" [(ngModel)]="XML5_CV130Service.FormData.XML5_CV130_Id"  name="XML5_CV130Service.FormData.XML5_CV130_Id" type="text" class="form-control">
</div>
<div>
<label>BenhAn_Id</label>
<input placeholder="BenhAn_Id" [(ngModel)]="XML5_CV130Service.FormData.BenhAn_Id"  name="XML5_CV130Service.FormData.BenhAn_Id" type="text" class="form-control">
</div>
<div>
<label>TiepNhan_Id</label>
<input placeholder="TiepNhan_Id" [(ngModel)]="XML5_CV130Service.FormData.TiepNhan_Id"  name="XML5_CV130Service.FormData.TiepNhan_Id" type="text" class="form-control">
</div>
<div>
<label>BenhNhan_Id</label>
<input placeholder="BenhNhan_Id" [(ngModel)]="XML5_CV130Service.FormData.BenhNhan_Id"  name="XML5_CV130Service.FormData.BenhNhan_Id" type="text" class="form-control">
</div>
<div>
<label>XacNhanChiPhi_Id</label>
<input placeholder="XacNhanChiPhi_Id" [(ngModel)]="XML5_CV130Service.FormData.XacNhanChiPhi_Id"  name="XML5_CV130Service.FormData.XacNhanChiPhi_Id" type="text" class="form-control">
</div>
<div>
<label>MA_LK</label>
<input placeholder="MA_LK" [(ngModel)]="XML5_CV130Service.FormData.MA_LK"  name="XML5_CV130Service.FormData.MA_LK" type="text" class="form-control">
</div>
<div>
<label>STT</label>
<input placeholder="STT" [(ngModel)]="XML5_CV130Service.FormData.STT"  name="XML5_CV130Service.FormData.STT" type="text" class="form-control">
</div>
<div>
<label>DIEN_BIEN_LS</label>
<input placeholder="DIEN_BIEN_LS" [(ngModel)]="XML5_CV130Service.FormData.DIEN_BIEN_LS"  name="XML5_CV130Service.FormData.DIEN_BIEN_LS" type="text" class="form-control">
</div>
<div>
<label>GIAI_DOAN_BENH</label>
<input placeholder="GIAI_DOAN_BENH" [(ngModel)]="XML5_CV130Service.FormData.GIAI_DOAN_BENH"  name="XML5_CV130Service.FormData.GIAI_DOAN_BENH" type="text" class="form-control">
</div>
<div>
<label>HOI_CHAN</label>
<input placeholder="HOI_CHAN" [(ngModel)]="XML5_CV130Service.FormData.HOI_CHAN"  name="XML5_CV130Service.FormData.HOI_CHAN" type="text" class="form-control">
</div>
<div>
<label>PHAU_THUAT</label>
<input placeholder="PHAU_THUAT" [(ngModel)]="XML5_CV130Service.FormData.PHAU_THUAT"  name="XML5_CV130Service.FormData.PHAU_THUAT" type="text" class="form-control">
</div>
<div>
<label>THOI_DIEM_DBLS</label>
<input placeholder="THOI_DIEM_DBLS" [(ngModel)]="XML5_CV130Service.FormData.THOI_DIEM_DBLS"  name="XML5_CV130Service.FormData.THOI_DIEM_DBLS" type="text" class="form-control">
</div>
<div>
<label>NGUOI_THUC_HIEN</label>
<input placeholder="NGUOI_THUC_HIEN" [(ngModel)]="XML5_CV130Service.FormData.NGUOI_THUC_HIEN"  name="XML5_CV130Service.FormData.NGUOI_THUC_HIEN" type="text" class="form-control">
</div>
<div>
<label>DU_PHONG</label>
<input placeholder="DU_PHONG" [(ngModel)]="XML5_CV130Service.FormData.DU_PHONG"  name="XML5_CV130Service.FormData.DU_PHONG" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="XML5_CV130Service.IsShowLoading"></app-loading>

