<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_HistoryDefines:
                        <b>{{Sys_HistoryDefinesService.FormData.HistoryDefine_Id}} [{{Sys_HistoryDefinesService.FormData.HistoryDefine_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital_DongNai_A_Config/">eHospital_DongNai_A_Config/</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_HistoryDefines" title="Sys_HistoryDefines">
                                Sys_HistoryDefines
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l12">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="Sys_HistoryDefinesAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="Sys_HistoryDefinesSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div>
<label>HistoryDefine_Id</label>
<input placeholder="HistoryDefine_Id" [(ngModel)]="Sys_HistoryDefinesService.FormData.HistoryDefine_Id"  name="Sys_HistoryDefinesService.FormData.HistoryDefine_Id" type="text" class="form-control">
</div>
<div>
<label>DataGroup</label>
<input placeholder="DataGroup" [(ngModel)]="Sys_HistoryDefinesService.FormData.DataGroup"  name="Sys_HistoryDefinesService.FormData.DataGroup" type="text" class="form-control">
</div>
<div>
<label>TableName</label>
<input placeholder="TableName" [(ngModel)]="Sys_HistoryDefinesService.FormData.TableName"  name="Sys_HistoryDefinesService.FormData.TableName" type="text" class="form-control">
</div>
<div>
<label>Insert_Enabled</label>
<input placeholder="Insert_Enabled" [(ngModel)]="Sys_HistoryDefinesService.FormData.Insert_Enabled"  name="Sys_HistoryDefinesService.FormData.Insert_Enabled" type="text" class="form-control">
</div>
<div>
<label>Update_Enabled</label>
<input placeholder="Update_Enabled" [(ngModel)]="Sys_HistoryDefinesService.FormData.Update_Enabled"  name="Sys_HistoryDefinesService.FormData.Update_Enabled" type="text" class="form-control">
</div>
<div>
<label>Delete_Enabled</label>
<input placeholder="Delete_Enabled" [(ngModel)]="Sys_HistoryDefinesService.FormData.Delete_Enabled"  name="Sys_HistoryDefinesService.FormData.Delete_Enabled" type="text" class="form-control">
</div>
<div>
<label>Description</label>
<input placeholder="Description" [(ngModel)]="Sys_HistoryDefinesService.FormData.Description"  name="Sys_HistoryDefinesService.FormData.Description" type="text" class="form-control">
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-loading *ngIf="Sys_HistoryDefinesService.IsShowLoading"></app-loading>

