<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Sys_HistoryDefines
                        <span *ngIf="Sys_HistoryDefinesService.List">({{Sys_HistoryDefinesService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Sys_HistoryDefines" title="Sys_HistoryDefines">
                                Sys_HistoryDefines
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_HistoryDefinesService.BaseParameter.SearchString" placeholder="Tìm ..."
                           class="form-control" (keyup.enter)="Sys_HistoryDefinesSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_HistoryDefinesSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_HistoryDefinesSort="matSort"
                           [dataSource]="Sys_HistoryDefinesService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_HistoryDefinesPaginator">
                                    {{
Sys_HistoryDefinesPaginator.pageSize *
                                    Sys_HistoryDefinesPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="Sys_HistoryDefinesSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="Sys_HistoryDefinesDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="HistoryDefine_Id">
<th mat-header-cell *matHeaderCellDef mat-sort-header>HistoryDefine_Id</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="HistoryDefine_Id" name="HistoryDefine_Id" [(ngModel)]="element.HistoryDefine_Id"></td>
</ng-container>
<ng-container matColumnDef="DataGroup">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DataGroup</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="DataGroup" name="DataGroup" [(ngModel)]="element.DataGroup"></td>
</ng-container>
<ng-container matColumnDef="TableName">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TableName</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="TableName" name="TableName" [(ngModel)]="element.TableName"></td>
</ng-container>
<ng-container matColumnDef="Insert_Enabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Insert_Enabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Insert_Enabled" name="Insert_Enabled" [(ngModel)]="element.Insert_Enabled"></td>
</ng-container>
<ng-container matColumnDef="Update_Enabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Update_Enabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Update_Enabled" name="Update_Enabled" [(ngModel)]="element.Update_Enabled"></td>
</ng-container>
<ng-container matColumnDef="Delete_Enabled">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Delete_Enabled</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Delete_Enabled" name="Delete_Enabled" [(ngModel)]="element.Delete_Enabled"></td>
</ng-container>
<ng-container matColumnDef="Description">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
<td mat-cell *matCellDef="let element"><input class="form-control" type="text" placeholder="Description" name="Description" [(ngModel)]="element.Description"></td>
</ng-container>

                            <tr mat-header-row *matHeaderRowDef="Sys_HistoryDefinesService.DisplayColumns001">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: Sys_HistoryDefinesService.DisplayColumns001;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_HistoryDefinesPaginator="matPaginator"
                                       [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="Sys_HistoryDefinesService.IsShowLoading"></app-loading>

